Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

Correct the definition of Padding
  docs/get-started/tutorials/grid/includes/create.md
Owners: @davidbritch

Modify the relaunching procedure
  docs/get-started/tutorials/app-lifecycle/includes/persist-data.md
Owners: @davidbritch

Update create.md
  docs/get-started/tutorials/label/includes/create.md
Owners: @davidbritch

Update create.md
  docs/get-started/tutorials/grid/includes/create.md
Owners: @davidbritch

Update right-to-left.md
  docs/xamarin-forms/app-fundamentals/localization/right-to-left.md
Owners: @davidbritch

Update right-to-left.md
  docs/xamarin-forms/app-fundamentals/localization/right-to-left.md
Owners: @davidbritch

[whats-new] fix links
  docs/whats-new/2019-10.md
Owners: @davidbritch

[get-started] fix broken links
  docs/get-started/tutorials/stacklayout/includes/create.md
Owners: @davidbritch

Removed gerunds from H2s
  docs/xamarin-forms/app-fundamentals/data-binding/relative-bindings.md
Owners: @davidbritch

Bookmark links updated.
  docs/xamarin-forms/app-fundamentals/data-binding/relative-bindings.md
Owners: @davidbritch

Github links > samples browser links
  docs/xamarin-forms/app-fundamentals/shell/lifecycle.md
  docs/xamarin-forms/user-interface/carouselview/interaction.md
  docs/xamarin-forms/user-interface/carouselview/layout.md
  docs/xamarin-forms/user-interface/collectionview/grouping.md
  docs/xamarin-forms/user-interface/controls/views.md
Owners: @davidbritch

Map geocoding (#1295)
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/user-interface/index.yml
  docs/xamarin-forms/user-interface/map/geocoder.md
  docs/xamarin-forms/user-interface/map/polygons.md
Owners: @davidbritch

Fixes https://github.com/MicrosoftDocs/xamarin-docs/issues/2249
  docs/xamarin-forms/user-interface/toolbaritem.md
Owners: @davidbritch

Added missing semicolon
  docs/xamarin-forms/user-interface/listview/customizing-list-appearance.md
Owners: @davidbritch

Remove Hyper-V recommendation that conflicts HAXM.
  docs/android/get-started/installation/android-emulator/hardware-acceleration.md
Owners: @conceptdev

Remove Hyper-V recommendation that conflicts HAXM. (#2263)
  docs/android/get-started/installation/android-emulator/hardware-acceleration.md
Owners: @conceptdev

Map pins refresh (#1297)
  docs/whats-new/2019-03.md
  docs/whats-new/2019-10.md
  docs/xamarin-forms/user-interface/map/pins-images/pin-and-information-window-large.png
  docs/xamarin-forms/user-interface/map/pins-images/pin-and-information-window.png
  docs/xamarin-forms/user-interface/map/pins-images/pin-only-large.png
  docs/xamarin-forms/user-interface/map/pins-images/pin-only.png
  docs/xamarin-forms/user-interface/map/pins.md
  docs/xamarin-forms/user-interface/map/polygons.md
Owners: @davidbritch

[uitest] remove unneeded NUnit 2.6.4 doc
  .openpublishing.redirection.json
  docs/cross-platform/deploy-test/installing-nunit-using-nuget-images/add-packages-xs.png
  docs/cross-platform/deploy-test/installing-nunit-using-nuget-images/nunit-2-6-4-installed.png
  docs/cross-platform/deploy-test/installing-nunit-using-nuget-images/nunit-search-xs.png
  docs/cross-platform/deploy-test/installing-nunit-using-nuget-images/package-manager-console.png
  docs/cross-platform/deploy-test/installing-nunit-using-nuget.md
Owners: @conceptdev

[uitest] remove TOC entry
  docs/cross-platform/TOC.yml
Owners: @conceptdev

fix: MD037/no-space-in-emphasis
  .markdownlint.json
  docs/graphics-games/monogame/3d/part3.md
  docs/ios/troubleshooting/mtouch-errors.md
  docs/mac/troubleshooting/mmp-errors.md
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter03.md
  docs/xamarin-forms/user-interface/text/label.md
Owners: @conceptdev, @davidbritch

Edits.
  docs/xamarin-forms/user-interface/visual/material-visual.md
Owners: @davidbritch

H2 edit to bring in line with others.
  docs/xamarin-forms/user-interface/visual/material-visual.md
Owners: @davidbritch

Turned list into alphabetical order.
  docs/xamarin-forms/user-interface/visual/material-visual.md
Owners: @davidbritch

Code and screenshot update.
  docs/xamarin-forms/user-interface/animation/simple-images/rotate-anchors.png
  docs/xamarin-forms/user-interface/animation/simple.md
Owners: @davidbritch

Link text updated.
  docs/xamarin-forms/app-fundamentals/data-binding/relative-bindings.md
Owners: @davidbritch

[vs] fix/update sample links (#1303)
  docs/cross-platform/platform/visual-basic/index.md
  docs/cross-platform/platform/visual-basic/native-apps.md
  docs/cross-platform/platform/visual-basic/xamarin-forms.md
Owners: @conceptdev

Typo fixed.
  docs/xamarin-forms/user-interface/pop-ups.md
Owners: @davidbritch

Padding example updated.
  docs/xamarin-forms/user-interface/text/label.md
Owners: @davidbritch

Fixed the incorrect link
  docs/android/troubleshooting/questions/automate-android-nunit-test.md
Owners: @conceptdev

Fixed the incorrect link (#2278)
  docs/android/troubleshooting/questions/automate-android-nunit-test.md
Owners: @conceptdev

fix: MD037/no-space-in-emphasis (#2265)
  .markdownlint.json
  docs/graphics-games/monogame/3d/part3.md
  docs/ios/troubleshooting/mtouch-errors.md
  docs/mac/troubleshooting/mmp-errors.md
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter03.md
  docs/xamarin-forms/user-interface/text/label.md
Owners: @conceptdev, @davidbritch

fix: MD022/blanks-around-heading
  .markdownlint.json
  contributing-guidelines/template.md
  docs/TOC.md
  docs/android/app-fundamentals/notifications/local-notifications.md
  docs/android/platform/fragments/implementing-with-fragments/walkthrough.md
  docs/android/troubleshooting/questions/install-android-sdk-packages.md
  docs/android/troubleshooting/troubleshooting.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/case-study-tasky.md
  docs/cross-platform/macios/apple-account-management.md
  docs/cross-platform/platform/csharp-six.md
  docs/cross-platform/troubleshooting/questions/index.md
  docs/cross-platform/troubleshooting/questions/xamarin-jenkins.md
  docs/essentials/geolocation.md
  docs/essentials/secure-storage.md
  docs/graphics-games/TOC.md
  docs/ios/deploy-test/app-distribution/ad-hoc-distribution.md
  docs/ios/deploy-test/debugging-in-xamarin-ios.md
  docs/ios/deploy-test/testflight.md
  docs/ios/platform/gaming/spritekit.md
  docs/ios/platform/healthkit.md
  docs/ios/platform/introduction-to-ios11/updating-your-app/visual-design.md
  docs/ios/platform/introduction-to-ios8.md
  docs/ios/troubleshooting/questions/error-registerserviceport.md
  docs/ios/troubleshooting/questions/index.md
  docs/ios/troubleshooting/questions/ipa-output-path.md
  docs/ios/troubleshooting/questions/mac-vm.md
  docs/ios/troubleshooting/questions/no-codesigning-keys.md
  docs/ios/user-interface/controls/uicollectionview.md
  docs/ios/user-interface/designer/introduction.md
  docs/tools/ci/jenkins-walkthrough.md
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/TOC.md
  docs/xamarin-forms/data-cloud/web-services/wcf.md
  docs/xamarin-forms/troubleshooting/questions/index.md
  docs/xamarin-forms/user-interface/activityindicator.md
  docs/xamarin-forms/user-interface/layouts/relative-layout.md
  docs/xamarin-forms/user-interface/listview/customizing-cell-appearance.md
  docs/xamarin-forms/user-interface/progressbar.md
  docs/xamarin-forms/xaml/live-reload.md
  docs/xamarin-forms/xaml/xaml-previewer/render-custom-controls.md
Owners: @conceptdev, @jamesmontemagno, @davidbritch

Jusjohns roundeffect docs1299 (#1302)
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/app-fundamentals/effects/example-roundeffect-images/round-effect-cropped.png
  docs/xamarin-forms/app-fundamentals/effects/example-roundeffect-images/round-effect.png
  docs/xamarin-forms/app-fundamentals/effects/index.md
  docs/xamarin-forms/app-fundamentals/effects/reusable-roundeffect.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/app-fundamentals/effects/index.md
Owners: @davidbritch

D
  docs/xamarin-forms/user-interface/progressbar.md
Owners: @davidbritch

Update splash-screen.md
  docs/android/user-interface/splash-screen.md
Owners: @conceptdev

Map refresh (#1309)
  docs/cross-platform/macios/unified/updating-xamarin-forms-apps.md
  docs/whats-new/2019-08.md
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/user-interface/index.yml
  docs/xamarin-forms/user-interface/map/geocoder.md
  docs/xamarin-forms/user-interface/map/index.md
  docs/xamarin-forms/user-interface/map/map-images/android-map-permissions.png
  docs/xamarin-forms/user-interface/map/map-images/map-default-large.png
  docs/xamarin-forms/user-interface/map/map-images/map-default.png
  docs/xamarin-forms/user-interface/map/map-images/map-region-large.png
  docs/xamarin-forms/user-interface/map/map-images/map-region.png
  docs/xamarin-forms/user-interface/map/map-images/maps-zoom-sml.png
  docs/xamarin-forms/user-interface/map/map-images/maps-zoom.png
  docs/xamarin-forms/user-interface/map/map-images/maptype-hybrid-large.png
  docs/xamarin-forms/user-interface/map/map-images/maptype-hybrid.png
  docs/xamarin-forms/user-interface/map/map-images/maptype-satellite-large.png
  docs/xamarin-forms/user-interface/map/map-images/maptype-satellite.png
  docs/xamarin-forms/user-interface/map/map-images/maptype-street-large.png
  docs/xamarin-forms/user-interface/map/map-images/maptype-street.png
  docs/xamarin-forms/user-interface/map/map-images/pins-itemssource-large.png
  docs/xamarin-forms/user-interface/map/map-images/pins-itemssource.png
  docs/xamarin-forms/user-interface/map/map-images/winphone-map-cap-sml.png
  docs/xamarin-forms/user-interface/map/map-images/winphone-map-cap.png
  docs/xamarin-forms/user-interface/map/map.md
  docs/xamarin-forms/user-interface/map/native-map-app-images/directions-large.png
  docs/xamarin-forms/user-interface/map/native-map-app-images/directions.png
  docs/xamarin-forms/user-interface/map/native-map-app-images/location-large.png
  docs/xamarin-forms/user-interface/map/native-map-app-images/location.png
  docs/xamarin-forms/user-interface/map/native-map-app.md
  docs/xamarin-forms/user-interface/map/pins-images/pins-itemsource-large.png
  docs/xamarin-forms/user-interface/map/pins-images/pins-itemsource.png
  docs/xamarin-forms/user-interface/map/pins.md
  docs/xamarin-forms/user-interface/map/position-distance.md
  docs/xamarin-forms/user-interface/map/setup-images/android-map-permissions.png
  docs/xamarin-forms/user-interface/map/setup-images/ios8-map-permissions.png
  docs/xamarin-forms/user-interface/map/setup-images/permission-android-large.png
  docs/xamarin-forms/user-interface/map/setup-images/permission-android.png
  docs/xamarin-forms/user-interface/map/setup-images/permission-ios-large.png
  docs/xamarin-forms/user-interface/map/setup-images/permission-ios.png
  docs/xamarin-forms/user-interface/map/setup.md
Owners: @conceptdev, @davidbritch

Update automatic-provisioning.md
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
Owners: @conceptdev

Update automatic-provisioning.md
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
Owners: @conceptdev

Fix copy and paste typo
  docs/xamarin-forms/app-fundamentals/localization/text.md
Owners: @davidbritch

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev
