Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev

blog.xamarin.com -> devblogs.microsoft.com
  docs/xamarin-forms/user-interface/layouts/tablet.md
Owners: @davidbritch

Updated Android requirements.
  docs/get-started/requirements.md
Owners: @davidbritch

Update hot-reload.md
  docs/xamarin-forms/xaml/hot-reload.md
Owners: @davidbritch

Enhance Design Time Data
  docs/xamarin-forms/xaml/xaml-previewer/design-time-data.md
Owners: @davidbritch

Added screenshots
  docs/xamarin-forms/app-fundamentals/local-notifications-images/local-notifications-android.png
  docs/xamarin-forms/app-fundamentals/local-notifications-images/local-notifications-ios.png
  docs/xamarin-forms/app-fundamentals/local-notifications-images/local-notifications-msg-cropped.png
  docs/xamarin-forms/app-fundamentals/local-notifications-images/local-notifications-msg.png
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

Added links
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

Acrolinx edits
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

Final copy edit pass
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

Missing reference to UWP
  docs/xamarin-forms/user-interface/collectionview/introduction.md
Owners: @davidbritch

Typos fixed.
  docs/xamarin-forms/xaml/xaml-previewer/design-time-data.md
Owners: @davidbritch

Update .openpublishing.publish.config.json
  .openpublishing.publish.config.json
Owners: none

PR feedback changes
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

TOC and index
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/app-fundamentals/index.yml
Owners: @davidbritch

the
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

Icon change.
  docs/xamarin-forms/app-fundamentals/index.yml
Owners: @davidbritch

Filename fixed.
  docs/xamarin-forms/app-fundamentals/index.yml
Owners: @davidbritch

Removed GetMapAsync calls.
  docs/xamarin-forms/app-fundamentals/custom-renderer/map/circle-map-overlay.md
  docs/xamarin-forms/app-fundamentals/custom-renderer/map/customized-pin.md
Owners: @davidbritch

Fix wrong referenced ViewController
  docs/ios/user-interface/ios-ui/creating-ui-objects.md
Owners: @conceptdev

Android now uses the new CoreFX HttpClient implementation.
  docs/cross-platform/deploy-test/connect-to-local-web-services.md
Owners: @conceptdev

Typo fixed.
  docs/cross-platform/deploy-test/connect-to-local-web-services.md
Owners: @conceptdev

Typos fixed.
  docs/cross-platform/deploy-test/connect-to-local-web-services.md
Owners: @conceptdev

Connecting to HTTPS localhost from ems/sims updates (#1284)
  docs/cross-platform/deploy-test/connect-to-local-web-services.md
Owners: @conceptdev

formatting updates
  docs/xamarin-forms/app-fundamentals/localization/right-to-left.md
Owners: @davidbritch

Fix wrong referenced ViewController (#2234)
  docs/ios/user-interface/ios-ui/creating-ui-objects.md
Owners: @conceptdev

Edits.
  docs/cross-platform/deploy-test/connect-to-local-web-services.md
Owners: @conceptdev

Bad link update.
  docs/xamarin-forms/user-interface/menuitem.md
Owners: @davidbritch

Link fix
  docs/xamarin-forms/user-interface/menuitem.md
Owners: @davidbritch

revising SDK min requirements (#1286)
  docs/cross-platform/get-started/requirements.md
  docs/get-started/requirements.md
  docs/ios/get-started/index.md
  docs/ios/get-started/installation/index.md
Owners: @conceptdev, @davidbritch

Updating Broken Link for GridLayoutDemo
  docs/android/user-interface/layouts/grid-layout.md
Owners: @conceptdev

remove locale from link
  docs/android/user-interface/layouts/grid-layout.md
Owners: @conceptdev

Updating Broken Link for GridLayoutDemo (#2242)
  docs/android/user-interface/layouts/grid-layout.md
Owners: @conceptdev

Fixes #2241
  docs/essentials/platform-feature-support.md
Owners: @jamesmontemagno

Added note about timer classes.
  docs/xamarin-forms/platform/device.md
Owners: @davidbritch

updated version reqirements
  docs/cross-platform/get-started/requirements.md
  docs/get-started/requirements.md
  docs/ios/get-started/index.md
  docs/ios/get-started/installation/index.md
Owners: @conceptdev, @davidbritch

updated version reqirements (#1290)
  docs/cross-platform/get-started/requirements.md
  docs/get-started/requirements.md
  docs/ios/get-started/index.md
  docs/ios/get-started/installation/index.md
Owners: @conceptdev, @davidbritch

Updated doc to reduce focus on renderers and more on practical use
  docs/xamarin-forms/user-interface/visual/material-visual-images/material-visual-cropped.png
  docs/xamarin-forms/user-interface/visual/material-visual-images/material-visual.png
  docs/xamarin-forms/user-interface/visual/material-visual.md
Owners: @davidbritch

Fixed bad link
  docs/xamarin-forms/user-interface/visual/material-visual.md
Owners: @davidbritch

Modify two links
  docs/get-started/tutorials/stacklayout/includes/create.md
Owners: @davidbritch

Be more precise
  docs/get-started/tutorials/label/includes/create.md
Owners: @davidbritch

Guide the reader if image is not showing up
  docs/get-started/tutorials/image/includes/create.md
Owners: @davidbritch
