Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev

comply with the "UI elements are bolded (not “quoted”) In fact “quotes” are almost never needed" guideline
  docs/ios/platform/binding-swift/index.md
  docs/ios/platform/binding-swift/walkthrough.md
Owners: @conceptdev

comply with the "We have markdown formatting for “Note:” blocks" guideline
  docs/ios/platform/binding-swift/walkthrough.md
Owners: @conceptdev

comply with the "Don’t use “we” or “our” or “let’s”" guideline
  docs/ios/platform/binding-swift/walkthrough.md
Owners: @conceptdev

comply with the "Introduce lists with a colon: (sentences should always have some punctuation at the end)" guideline
  docs/ios/platform/binding-swift/walkthrough.md
Owners: @conceptdev

comply with the "Introduce images with a colon: (sentences should always have some punctuation at the end)" guideline
  docs/ios/platform/binding-swift/walkthrough.md
Owners: @conceptdev

refresh acrolinx issues (score 84)
  docs/ios/platform/binding-swift/walkthrough.md
Owners: @conceptdev

Content tidy up.
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns.md
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-helper.md
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-info.md
  docs/xamarin-forms/app-fundamentals/dual-screen/index.md
  docs/xamarin-forms/app-fundamentals/dual-screen/twopaneview.md
  docs/xamarin-forms/app-fundamentals/index.yml
Owners: @davidbritch

Acrolinx fixes.
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-helper.md
Owners: @davidbritch

ItemsSourceBy is an attached property.
  docs/xamarin-forms/user-interface/carouselview/populate-data.md
  docs/xamarin-forms/user-interface/controls/views.md
  docs/xamarin-forms/user-interface/indicatorview.md
  docs/xamarin-forms/xaml/xaml-controls.md
Owners: @davidbritch

Fixes https://github.com/MicrosoftDocs/xamarin-docs/issues/2534
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-info.md
Owners: @davidbritch

Bring inline with the style guide.
  docs/android/platform/binding-kotlin-library/index.md
  docs/android/platform/binding-kotlin-library/walkthrough.md
Owners: @conceptdev

TOC + index entries added.
  docs/android/TOC.yml
  docs/android/platform/index.md
Owners: @conceptdev

Link updated.
  docs/android/platform/binding-kotlin-library/index.md
Owners: @conceptdev

Inline with our style guide.
  docs/android/platform/binding-kotlin-library/index.md
Owners: @conceptdev

Brought inline with our style guide.
  docs/ios/platform/binding-swift/index.md
  docs/ios/platform/binding-swift/walkthrough.md
Owners: @conceptdev

TOC + index entries.
  docs/ios/TOC.yml
  docs/ios/platform/index.md
Owners: @conceptdev

Doc cleanup.
  docs/xamarin-forms/user-interface/dark-mode.md
Owners: @davidbritch

Moved theming content into its own folder.
  docs/xamarin-forms/user-interface/theming/dark-mode.md
  docs/xamarin-forms/user-interface/theming/theming-images/detail-page-both-themes-large.png
  docs/xamarin-forms/user-interface/theming/theming-images/detail-page-both-themes.png
  docs/xamarin-forms/user-interface/theming/theming-images/main-page-both-themes-large.png
  docs/xamarin-forms/user-interface/theming/theming-images/main-page-both-themes.png
  docs/xamarin-forms/user-interface/theming/theming.md
Owners: @davidbritch

Added index page.
  docs/xamarin-forms/user-interface/theming/index.md
Owners: @davidbritch

Edits.
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/user-interface/index.yml
  docs/xamarin-forms/user-interface/theming/dark-mode.md
  docs/xamarin-forms/user-interface/theming/index.md
  docs/xamarin-forms/user-interface/theming/theming.md
Owners: @davidbritch

H2 updated.
  docs/xamarin-forms/user-interface/theming/index.md
Owners: @davidbritch

Link fixed.
  docs/whats-new/2019-08.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/user-interface/theming/index.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/user-interface/theming/dark-mode.md
Owners: @davidbritch

switch from dark to light theme and scale all images to 800px width or 50% less for smaller images
  docs/ios/platform/binding-swift/walkthrough-images/swift-proxy-xamarin-binding-fat.png
  docs/ios/platform/binding-swift/walkthrough-images/swift-proxy-xamarin-binding-init.png
  docs/ios/platform/binding-swift/walkthrough-images/swift-proxy-xamarin-binding-login.png
  docs/ios/platform/binding-swift/walkthrough-images/visualstudio-app-new.png
  docs/ios/platform/binding-swift/walkthrough-images/visualstudio-app-refs.png
  docs/ios/platform/binding-swift/walkthrough-images/visualstudio-appcenter-new.png
  docs/ios/platform/binding-swift/walkthrough-images/visualstudio-appcenter-uitest-result.png
  docs/ios/platform/binding-swift/walkthrough-images/visualstudio-appcenter-uitest-runs.png
  docs/ios/platform/binding-swift/walkthrough-images/visualstudio-archiveforpublishing.png
  docs/ios/platform/binding-swift/walkthrough-images/visualstudio-archives.png
  docs/ios/platform/binding-swift/walkthrough-images/visualstudio-create-binding-library.png
  docs/ios/platform/binding-swift/walkthrough-images/visualstudio-nativeref-proxy-options.png
  docs/ios/platform/binding-swift/walkthrough-images/visualstudio-project-structure-metadata.png
  docs/ios/platform/binding-swift/walkthrough-images/visualstudio-project-structure-nativerefs.png
  docs/ios/platform/binding-swift/walkthrough-images/visualstudio-uitest-new.png
  docs/ios/platform/binding-swift/walkthrough-images/xcode-alwaysembedfalse-option.png
  docs/ios/platform/binding-swift/walkthrough-images/xcode-copy-framework.png
  docs/ios/platform/binding-swift/walkthrough-images/xcode-create-framework-project.png
  docs/ios/platform/binding-swift/walkthrough-images/xcode-donotembed-option.png
  docs/ios/platform/binding-swift/walkthrough-images/xcode-edit-scheme-release.png
  docs/ios/platform/binding-swift/walkthrough-images/xcode-edit-scheme.png
  docs/ios/platform/binding-swift/walkthrough-images/xcode-enablebitcodefalse-option.png
  docs/ios/platform/binding-swift/walkthrough-images/xcode-name-framework-project.png
  docs/ios/platform/binding-swift/walkthrough-images/xcode-objcheaderenabled-option.png
Owners: @conceptdev

add lightbox support for images with lots of information
  docs/ios/platform/binding-swift/walkthrough.md
Owners: @conceptdev

resize edit scheme image
  docs/ios/platform/binding-swift/walkthrough-images/xcode-edit-scheme.png
Owners: @conceptdev

comply with the "Headings should be sentence case" guideline
  docs/android/platform/binding-kotlin-library/index.md
  docs/android/platform/binding-kotlin-library/walkthrough.md
Owners: @conceptdev

comply with the "Introduce lists with a colon" and "Introduce images with a colon" guideline
  docs/android/platform/binding-kotlin-library/walkthrough.md
Owners: @conceptdev

comply with the "Don’t use “we” or “our” or “let’s”" guideline
  docs/android/platform/binding-kotlin-library/walkthrough.md
Owners: @conceptdev

change screenshot theme to light instead of dark
  docs/android/platform/binding-kotlin-library/walkthrough-images/android-studio-aar-output.png
  docs/android/platform/binding-kotlin-library/walkthrough-images/android-studio-gradle-execute-task.png
  docs/android/platform/binding-kotlin-library/walkthrough-images/android-studio-gradle-syncnow.png
  docs/android/platform/binding-kotlin-library/walkthrough-images/nuget-add-beta-package.png
  docs/android/platform/binding-kotlin-library/walkthrough-images/visual-studio-add-binding-reference.png
  docs/android/platform/binding-kotlin-library/walkthrough-images/visual-studio-add-stdlib-nuget.png
  docs/android/platform/binding-kotlin-library/walkthrough-images/visual-studio-create-app.png
  docs/android/platform/binding-kotlin-library/walkthrough-images/visual-studio-create-binding.png
  docs/android/platform/binding-kotlin-library/walkthrough-images/visual-studio-metadata.png
  docs/android/platform/binding-kotlin-library/walkthrough-images/visual-studio-native-reference.png
Owners: @conceptdev

Updated TOC/index.
  docs/ios/TOC.yml
  docs/ios/platform/index.md
Owners: @conceptdev

Initial AndroidX Landing Page
  docs/android/platform/androidx.md
Owners: @conceptdev

Fixed inaccurate property count
  docs/xamarin-forms/user-interface/switch.md
Owners: @davidbritch

Add images & fix formatting
  docs/android/platform/androidx-images/AndroidXLogo.png
  docs/android/platform/androidx-images/EnableAndroidXMigrator.png
  docs/android/platform/androidx-images/MigrateToAndroidX.png
  docs/android/platform/androidx.md
Owners: @conceptdev

Fix image size
  docs/android/platform/androidx-images/AndroidXLogo.png
Owners: @conceptdev

static images instead of gif demo and switch from <img> to ![] markdown
  docs/android/platform/binding-kotlin-library/walkthrough-images/bubble-picker-demo-static.png
  docs/android/platform/binding-kotlin-library/walkthrough-images/bubble-picker-demo.png
  docs/android/platform/binding-kotlin-library/walkthrough-images/github-bubblepicker-demo.png
  docs/android/platform/binding-kotlin-library/walkthrough.md
Owners: @conceptdev

Finish permissions grid
  docs/essentials/permissions.md
Owners: @jamesmontemagno

State triggers.
  docs/xamarin-forms/app-fundamentals/triggers-images/adaptivetrigger-horizontal.png
  docs/xamarin-forms/app-fundamentals/triggers-images/adaptivetrigger-vertical.png
  docs/xamarin-forms/app-fundamentals/triggers-images/comparestatetrigger-checked-large.png
  docs/xamarin-forms/app-fundamentals/triggers-images/comparestatetrigger-checked.png
  docs/xamarin-forms/app-fundamentals/triggers-images/comparestatetrigger-unchecked-large.png
  docs/xamarin-forms/app-fundamentals/triggers-images/comparestatetrigger-unchecked.png
  docs/xamarin-forms/app-fundamentals/triggers-images/devicestatetrigger-large.png
  docs/xamarin-forms/app-fundamentals/triggers-images/devicestatetrigger.png
  docs/xamarin-forms/app-fundamentals/triggers-images/statetrigger1-large-delete.png
  docs/xamarin-forms/app-fundamentals/triggers-images/statetrigger2-large-delete.png
  docs/xamarin-forms/app-fundamentals/triggers.md
  docs/xamarin-forms/user-interface/visual-state-manager.md
Owners: @davidbritch

Broken links fixed.
  docs/xamarin-forms/app-fundamentals/custom-renderer/video-player/custom-transport.md
  docs/xamarin-forms/app-fundamentals/triggers.md
Owners: @davidbritch
