Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

Update index.md (#1205)
  docs/ios/platform/ios13/index.md
Owners: @conceptdev

fix: docs/ios/troubleshooting/questions/no-codesigning-keys.md
  docs/ios/troubleshooting/questions/no-codesigning-keys.md
Owners: @conceptdev

fix: Replace Note with Alert style [!NOTE]
  docs/android/deploy-test/building-apps/build-process.md
  docs/android/deploy-test/environment.md
  docs/android/platform/android-manifest.md
  docs/android/troubleshooting/questions/missing-action-mode-share-drawable.md
  docs/android/troubleshooting/troubleshooting.md
  docs/cross-platform/troubleshooting/questions/nuget-package-downgrade.md
Owners: @conceptdev

SIWA doc - properly ends final code section
  docs/xamarin-forms/platform/sign-in-with-apple/android-ios-sign-in.md
Owners: @davidbritch

correct capitalization
  docs/android/platform/android-manifest.md
Owners: @conceptdev

fix: Replace Note with Alert style [!NOTE] (#2127)
  docs/android/deploy-test/building-apps/build-process.md
  docs/android/deploy-test/environment.md
  docs/android/platform/android-manifest.md
  docs/android/troubleshooting/questions/missing-action-mode-share-drawable.md
  docs/android/troubleshooting/troubleshooting.md
  docs/cross-platform/troubleshooting/questions/nuget-package-downgrade.md
Owners: @conceptdev

fix: docs/ios/troubleshooting/questions/no-codesigning-keys.md (#2126)
  docs/ios/troubleshooting/questions/no-codesigning-keys.md
Owners: @conceptdev

fix: MD047/single-trailing-newline (#2124)
  docs/ios/platform/ios13/sign-in.md
Owners: @conceptdev

Add Android Scenarios and Best Practices (#1197)
  docs/android/get-started/installation/android-emulator/hardware-acceleration.md
Owners: @conceptdev

[meta] remove duplicate key 'description'
  docs/graphics-games/urhosharp/platform/xamarin-forms.md
Owners: @conceptdev

[toc] remove Swift until we have content
  docs/get-started/TOC.yml
Owners: @davidbritch

Update get-started.md (#1229)
  docs/ios/platform/ios13/get-started.md
Owners: @conceptdev

Adding link to UWP/WPF Hot Reload on our docs as they did for us :) (#1230)
  docs/xamarin-forms/xaml/hot-reload.md
Owners: @davidbritch

[ios] typo in deployment doc
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store.md
Owners: @conceptdev

related fixes
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store.md
Owners: @conceptdev

Android 10 Landing Page (#1231)
  docs/android/TOC.yml
  docs/android/platform/android-10-images/android10_black.png
  docs/android/platform/android-10-images/darktheme.png
  docs/android/platform/android-10-images/foldable.png
  docs/android/platform/android-10-images/gesturenavigation.png
  docs/android/platform/android-10-images/sdkplatforms.png
  docs/android/platform/android-10-images/sdkrepository.png
  docs/android/platform/android-10-images/targetframework.png
  docs/android/platform/android-10.md
  docs/android/platform/index.md
Owners: @conceptdev

[android] add 10 to landing page
  docs/android/index.yml
  docs/android/platform/android-10.md
Owners: @conceptdev

[get-started] update include to 2019
  docs/get-started/installation/windows.md
Owners: @davidbritch

Changed "Metro" to "Fluent Design System". (#1234)
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/testing-and-app-store-approvals.md
Owners: @conceptdev

fix: MD029/ol-prefix
  docs/android/platform/android-10.md
Owners: @conceptdev

Update custom.md
  docs/xamarin-forms/user-interface/layouts/custom.md
Owners: @davidbritch

Updated link.
  docs/xamarin-forms/user-interface/text/fonts.md
Owners: @davidbritch

Added fully qualified namespace.
  docs/xamarin-forms/app-fundamentals/dependency-service/introduction.md
Owners: @davidbritch

Small grammar change
  docs/cross-platform/app-fundamentals/localization.md
Owners: @conceptdev

Refered to class in sample.
  docs/xamarin-forms/app-fundamentals/triggers.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/app-fundamentals/triggers.md
Owners: @davidbritch

Code update to use fully qualified name.
  docs/xamarin-forms/user-interface/visual/material-visual.md
Owners: @davidbritch

tweak the suggested change
  docs/cross-platform/app-fundamentals/localization.md
Owners: @conceptdev

Small grammar change (#2149)
  docs/cross-platform/app-fundamentals/localization.md
Owners: @conceptdev

Forms issues (#1242)
  docs/xamarin-forms/app-fundamentals/dependency-service/introduction.md
  docs/xamarin-forms/app-fundamentals/triggers.md
  docs/xamarin-forms/user-interface/text/fonts.md
  docs/xamarin-forms/user-interface/visual/material-visual.md
Owners: @davidbritch

fix: MD029/ol-prefix (#2142)
  docs/android/platform/android-10.md
Owners: @conceptdev

[docfx] upgrade build to v3 (#1244)
  .openpublishing.publish.config.json
  .openpublishing.redirection.json
  docs/cross-platform/internals/index.md
  docs/cross-platform/troubleshooting/questions/visualstudio-2017-rc.md
  docs/graphics-games/skiasharp/index.md
  docs/mac/get-started/installation.md
Owners: @conceptdev

[xplat] C++ repair link
  docs/cross-platform/cpp/index.md
Owners: @conceptdev

iOS 13 stable docs (#1239)
  docs/ios/platform/index.md
  docs/ios/platform/ios13/dark-mode.md
  docs/ios/platform/ios13/get-started.md
  docs/ios/platform/ios13/index.md
  docs/ios/platform/ios13/multi-window-ipad.md
  docs/ios/platform/ios13/sign-in.md
  docs/ios/platform/ios13/troubleshooting/index.md
  docs/xamarin-forms/platform/sign-in-with-apple/android-ios-sign-in.md
  docs/xamarin-forms/platform/sign-in-with-apple/index.md
  docs/xamarin-forms/platform/sign-in-with-apple/setup.md
Owners: @conceptdev, @davidbritch

[ios] update hub/landing/toc (#1245)
  docs/ios/TOC.yml
  docs/ios/index.yml
  docs/ios/platform/ios13/index.md
  docs/ios/platform/ios13/multi-window-ipad.md
Owners: @conceptdev

Fix a gramatical mistake
  docs/cross-platform/get-started/introduction-to-mobile-development.md
Owners: @conceptdev

fix: MD001/heading-increment/header-increment
  contributing-guidelines/template.md
  docs/android/app-fundamentals/android-api-levels.md
  docs/android/app-fundamentals/permissions.md
  docs/android/app-fundamentals/resources-in-android/resources-for-varying-screens.md
  docs/android/data-cloud/google-messaging/remote-notifications-with-fcm.md
  docs/android/data-cloud/google-messaging/remote-notifications-with-gcm.md
  docs/android/deploy-test/publishing/publishing-to-google-play/index.md
  docs/android/deploy-test/release-prep/index.md
  docs/android/deploy-test/release-prep/proguard.md
  docs/android/get-started/installation/android-emulator/device-manager.md
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key.md
  docs/android/platform/oreo.md
  docs/android/user-interface/android-designer/designer-walkthrough.md
  docs/android/user-interface/layouts/recycler-view/parts-and-functionality.md
  docs/android/wear/get-started/hello-wear.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/case-study-tasky.md
  docs/cross-platform/macios/32-and-64/index.md
  docs/cross-platform/macios/http-stack.md
  docs/get-started/quickstarts/database.md
  docs/ios/deploy-test/testflight.md
  docs/ios/platform/message-app-integration/intro-to-message-app-extensions.md
  docs/ios/platform/sirikit/implementing-sirikit.md
  docs/ios/platform/user-notifications/advanced-user-notifications.md
  docs/ios/tvos/user-interface/text-fields-and-search.md
  docs/ios/user-interface/designer/introduction.md
  docs/tools/profiler/index.md
  docs/tools/workbooks/install.md
  docs/xamarin-forms/app-fundamentals/localization/text.md
  docs/xamarin-forms/user-interface/images.md
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
Owners: @conceptdev, @davidbritch

Jusjohns what is xamarin (#1232)
  .openpublishing.redirection.json
  docs/cross-platform/TOC.yml
  docs/cross-platform/get-started/introduction-to-mobile-development-images/android.png
  docs/cross-platform/get-started/introduction-to-mobile-development-images/ios.png
  docs/cross-platform/get-started/introduction-to-mobile-development.md
  docs/get-started/TOC.yml
  docs/get-started/what-is-xamarin-forms-images/xamarin-forms-app-cropped.png
  docs/get-started/what-is-xamarin-forms-images/xamarin-forms-app.png
  docs/get-started/what-is-xamarin-forms-images/xamarin-forms-architecture.png
  docs/get-started/what-is-xamarin-forms.md
  docs/get-started/what-is-xamarin-images/android-architecture-cropped.png
  docs/get-started/what-is-xamarin-images/android-architecture.png
  docs/get-started/what-is-xamarin-images/ios-architecture-cropped.png
  docs/get-started/what-is-xamarin-images/ios-architecture.png
  docs/get-started/what-is-xamarin-images/xamarin-app-cropped.png
  docs/get-started/what-is-xamarin-images/xamarin-app.png
  docs/get-started/what-is-xamarin-images/xamarin-architecture.png
  docs/get-started/what-is-xamarin.md
  docs/xamarin-forms/TOC.md
Owners: @conceptdev, @davidbritch

fix: MD001/heading-increment/header-increment (#2155)
  contributing-guidelines/template.md
  docs/android/app-fundamentals/android-api-levels.md
  docs/android/app-fundamentals/permissions.md
  docs/android/app-fundamentals/resources-in-android/resources-for-varying-screens.md
  docs/android/data-cloud/google-messaging/remote-notifications-with-fcm.md
  docs/android/data-cloud/google-messaging/remote-notifications-with-gcm.md
  docs/android/deploy-test/publishing/publishing-to-google-play/index.md
  docs/android/deploy-test/release-prep/index.md
  docs/android/deploy-test/release-prep/proguard.md
  docs/android/get-started/installation/android-emulator/device-manager.md
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key.md
  docs/android/platform/oreo.md
  docs/android/user-interface/android-designer/designer-walkthrough.md
  docs/android/user-interface/layouts/recycler-view/parts-and-functionality.md
  docs/android/wear/get-started/hello-wear.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/case-study-tasky.md
  docs/cross-platform/macios/32-and-64/index.md
  docs/cross-platform/macios/http-stack.md
  docs/get-started/quickstarts/database.md
  docs/ios/deploy-test/testflight.md
  docs/ios/platform/message-app-integration/intro-to-message-app-extensions.md
  docs/ios/platform/sirikit/implementing-sirikit.md
  docs/ios/platform/user-notifications/advanced-user-notifications.md
  docs/ios/tvos/user-interface/text-fields-and-search.md
  docs/ios/user-interface/designer/introduction.md
  docs/tools/profiler/index.md
  docs/tools/workbooks/install.md
  docs/xamarin-forms/app-fundamentals/localization/text.md
  docs/xamarin-forms/user-interface/images.md
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
Owners: @conceptdev, @davidbritch

Fix a gramatical mistake (#2154)
  docs/cross-platform/get-started/introduction-to-mobile-development.md
Owners: @conceptdev

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev
