Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

Resolve syncing conflicts from repo_sync_working_branch to master (#1246)
  contributing-guidelines/template.md
  docs/android/app-fundamentals/android-api-levels.md
  docs/android/app-fundamentals/permissions.md
  docs/android/app-fundamentals/resources-in-android/resources-for-varying-screens.md
  docs/android/data-cloud/google-messaging/remote-notifications-with-fcm.md
  docs/android/data-cloud/google-messaging/remote-notifications-with-gcm.md
  docs/android/deploy-test/publishing/publishing-to-google-play/index.md
  docs/android/deploy-test/release-prep/index.md
  docs/android/deploy-test/release-prep/proguard.md
  docs/android/get-started/installation/android-emulator/device-manager.md
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key.md
  docs/android/platform/oreo.md
  docs/android/user-interface/android-designer/designer-walkthrough.md
  docs/android/user-interface/layouts/recycler-view/parts-and-functionality.md
  docs/android/wear/get-started/hello-wear.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/case-study-tasky.md
  docs/cross-platform/macios/32-and-64/index.md
  docs/cross-platform/macios/http-stack.md
  docs/get-started/quickstarts/database.md
  docs/ios/deploy-test/testflight.md
  docs/ios/platform/message-app-integration/intro-to-message-app-extensions.md
  docs/ios/platform/sirikit/implementing-sirikit.md
  docs/ios/platform/user-notifications/advanced-user-notifications.md
  docs/ios/tvos/user-interface/text-fields-and-search.md
  docs/ios/user-interface/designer/introduction.md
  docs/tools/profiler/index.md
  docs/tools/workbooks/install.md
  docs/xamarin-forms/app-fundamentals/localization/text.md
  docs/xamarin-forms/user-interface/images.md
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
Owners: @conceptdev, @davidbritch

Resolve syncing conflicts from repo_sync_working_branch to live (#2156)
  .openpublishing.redirection.json
  docs/cross-platform/TOC.yml
  docs/cross-platform/get-started/introduction-to-mobile-development-images/android.png
  docs/cross-platform/get-started/introduction-to-mobile-development-images/ios.png
  docs/cross-platform/get-started/introduction-to-mobile-development.md
  docs/get-started/TOC.yml
  docs/get-started/what-is-xamarin-forms-images/xamarin-forms-app-cropped.png
  docs/get-started/what-is-xamarin-forms-images/xamarin-forms-app.png
  docs/get-started/what-is-xamarin-forms-images/xamarin-forms-architecture.png
  docs/get-started/what-is-xamarin-forms.md
  docs/get-started/what-is-xamarin-images/android-architecture-cropped.png
  docs/get-started/what-is-xamarin-images/android-architecture.png
  docs/get-started/what-is-xamarin-images/ios-architecture-cropped.png
  docs/get-started/what-is-xamarin-images/ios-architecture.png
  docs/get-started/what-is-xamarin-images/xamarin-app-cropped.png
  docs/get-started/what-is-xamarin-images/xamarin-app.png
  docs/get-started/what-is-xamarin-images/xamarin-architecture.png
  docs/get-started/what-is-xamarin.md
  docs/xamarin-forms/TOC.md
Owners: @conceptdev, @davidbritch

Update images.md
  docs/xamarin-forms/user-interface/images.md
Owners: @davidbritch

Add publishing to App Store Connect from Mac (#1247)
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store-images/archives-mac.png
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store-images/connectInfo-mac.png
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store-images/destination-mac.png
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store-images/distChannel-mac.png
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store-images/provProfileSelect-mac.png
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store-images/readyToGo-mac.png
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store.md
Owners: @conceptdev

Add iOS publishing from VS2019 (#1248)
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store-images/archives-win.png
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store-images/connectInfo-win.png
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store-images/provProfileSelect-win.png
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store.md
Owners: @conceptdev

[hub] implement new template/design (#1227)
  docs/TOC.md
  docs/index.md
  docs/index.yml
Owners: none

[xamarin.forms] update sample link for apple sign-in
  docs/xamarin-forms/platform/sign-in-with-apple/android-ios-sign-in.md
Owners: @davidbritch

[ios] add sample link for apple sign-in
  docs/ios/platform/ios13/sign-in.md
Owners: @conceptdev

[ios] minor update signin doc
  docs/ios/platform/ios13/sign-in.md
Owners: @conceptdev

Update photo-picker.md
  docs/xamarin-forms/app-fundamentals/dependency-service/photo-picker.md
Owners: @davidbritch

Fixed broken links.
  docs/xamarin-forms/index.yml
Owners: @davidbritch

Update index.md (#1228)
  docs/cross-platform/partners/index.md
Owners: @conceptdev

fix: MD012/no-multiple-blanks
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store.md
Owners: @conceptdev

Update right-to-left.md
  docs/xamarin-forms/app-fundamentals/localization/right-to-left.md
Owners: @davidbritch

Small typo
  docs/xamarin-forms/app-fundamentals/shell/navigation.md
Owners: @davidbritch

VS2019 instructions.
  docs/get-started/quickstarts/single-page.md
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml-images/win/add-new-item-dialog-2019.png
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml-images/win/addnewitemdialog.w157.png
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml-images/win/new-cross-platform-app.png
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml-images/win/new-solution-2019.png
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml-images/win/newcrossplatformapp.png
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml-images/win/newprojectdialog.w157.png
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
Owners: @davidbritch

Edits.
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml-images/win/new-project-2019.png
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
Owners: @davidbritch

Updating broken links
  docs/android/index.yml
Owners: @conceptdev

Update get-started.md
  docs/essentials/get-started.md
Owners: @jamesmontemagno

Create splashscreen doc
  docs/xamarin-forms/user-interface/splashscreen-images/android-splashscreen-cropped.png
  docs/xamarin-forms/user-interface/splashscreen-images/android-splashscreen.png
  docs/xamarin-forms/user-interface/splashscreen.md
Owners: @davidbritch

[hub] fix platform links
  docs/index.yml
Owners: none

Updated TOC
  docs/xamarin-forms/TOC.md
Owners: @davidbritch

Added sample download link in Related links
  docs/xamarin-forms/user-interface/splashscreen.md
Owners: @davidbritch

Fixed image links.
  docs/android/index.yml
Owners: @conceptdev

iOS landing page links fixed.
  docs/ios/index.yml
Owners: @conceptdev

Cross platform landing page links fixed.
  docs/cross-platform/index.yml
Owners: @conceptdev

Tools link fixes.
  docs/tools/index.yml
Owners: @conceptdev

More landing page link fixes.
  docs/cross-platform/index.yml
  docs/graphics-games/index.yml
  docs/xamarin-forms/index.yml
Owners: @conceptdev, @davidbritch

Reworked doc to intro and link to existing docs
  docs/xamarin-forms/user-interface/splashscreen-images/android-splashscreen-cropped.png
  docs/xamarin-forms/user-interface/splashscreen-images/android-splashscreen.png
  docs/xamarin-forms/user-interface/splashscreen-images/uwp-splashscreen-cropped.png
  docs/xamarin-forms/user-interface/splashscreen-images/uwp-splashscreen.png
  docs/xamarin-forms/user-interface/splashscreen.md
Owners: @davidbritch

Bad link fix
  docs/xamarin-forms/user-interface/splashscreen.md
Owners: @davidbritch

Some grammar tweaks to Forms splashscreen
  docs/xamarin-forms/user-interface/splashscreen.md
Owners: @davidbritch

Fixes https://github.com/MicrosoftDocs/xamarin-docs/issues/1730
  docs/android/user-interface/splash-screen.md
Owners: @conceptdev

Minor change for clarity
  docs/android/user-interface/splash-screen.md
Owners: @conceptdev

Updated iOS section
  docs/essentials/device-information.md
Owners: @jamesmontemagno

chore: Enable MD033 for tables
  .markdownlint.json
Owners: none

Called out community support for several platforms
  docs/xamarin-forms/platform/other/gtk.md
  docs/xamarin-forms/platform/other/index.md
  docs/xamarin-forms/platform/other/tizen.md
  docs/xamarin-forms/platform/other/wpf.md
Owners: @davidbritch

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev
