Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

Page presentation mode.
  docs/xamarin-forms/app-fundamentals/shell/configuration.md
Owners: @davidbritch

Acrolinx edit.
  docs/xamarin-forms/app-fundamentals/shell/configuration.md
Owners: @davidbritch

Replaced mscorlib references.
  docs/xamarin-forms/app-fundamentals/data-binding/binding-path.md
  docs/xamarin-forms/app-fundamentals/data-binding/string-formatting.md
  docs/xamarin-forms/xaml/markup-extensions/consuming.md
  docs/xamarin-forms/xaml/xaml-basics/data-bindings-to-mvvm.md
  docs/xamarin-forms/xaml/xaml-basics/xaml-markup-extensions.md
Owners: @davidbritch

Added link to UWP projects.
  docs/xamarin-forms/app-fundamentals/shell/introduction.md
Owners: @davidbritch

Titles made clearer.
  docs/xamarin-forms/platform/sign-in-with-apple/index.md
Owners: @davidbritch

Note about deep vs app links on ANdroid.
  docs/xamarin-forms/app-fundamentals/deep-linking.md
Owners: @davidbritch

Corrected text about verbatim string literal escaping
  docs/xamarin-forms/user-interface/webview.md
Owners: @davidbritch

Update proguard.md
  docs/android/deploy-test/release-prep/proguard.md
Owners: @conceptdev

viewpager-and-views: Fix code block bounds
  docs/android/user-interface/controls/view-pager/viewpager-and-views.md
Owners: @conceptdev

Fixed link
  docs/xamarin-forms/user-interface/webview.md
Owners: @davidbritch

Update azure-notification-hub.md
  docs/xamarin-forms/data-cloud/azure-services/azure-notification-hub.md
Owners: @davidbritch

Update index.yml
  docs/index.yml
Owners: none

permissions: fix typo
  docs/android/app-fundamentals/permissions.md
Owners: @conceptdev

fonts: fix typo
  docs/android/app-fundamentals/resources-in-android/fonts.md
Owners: @conceptdev

abi-specific-apks: fix typo
  docs/android/deploy-test/building-apps/abi-specific-apks.md
Owners: @conceptdev

android-sdk: fix typo
  docs/android/get-started/installation/android-sdk.md
Owners: @conceptdev

android-job-scheduler: fix typo
  docs/android/platform/android-job-scheduler.md
Owners: @conceptdev

card-view: fix typo
  docs/android/user-interface/controls/card-view.md
Owners: @conceptdev

index: fix typo
  docs/android/user-interface/controls/index.md
Owners: @conceptdev

index: fix typo
  docs/android/user-interface/controls/view-pager/index.md
Owners: @conceptdev

material-theme: fix typo
  docs/android/user-interface/material-theme.md
Owners: @conceptdev

wpf: fix typo
  docs/cross-platform/desktop/controls/wpf.md
Owners: @conceptdev

verify: fix typo
  docs/cross-platform/macios/binding/objective-sharpie/platform/verify.md
Owners: @conceptdev

overview: fix typo
  docs/cross-platform/macios/unified/overview.md
Owners: @conceptdev

launch-screens: fix typo
  docs/ios/app-fundamentals/images-icons/launch-screens.md
Owners: @conceptdev

device-information: fix typo
  docs/essentials/device-information.md
Owners: @jamesmontemagno

touch-in-ios: fix typo
  docs/ios/app-fundamentals/touch/touch-in-ios.md
Owners: @conceptdev

index: fix typo
  docs/ios/get-started/installation/windows/connecting-to-mac/index.md
Owners: @conceptdev

xib-code-generation: fix typo
  docs/ios/internals/xib-code-generation.md
Owners: @conceptdev

mtouch-errors: fix typo
  docs/ios/troubleshooting/mtouch-errors.md
Owners: @conceptdev

remote-bluetooth: fix typo
  docs/ios/tvos/platform/remote-bluetooth.md
Owners: @conceptdev

error-registerserviceport: fix typo
  docs/ios/troubleshooting/questions/error-registerserviceport.md
Owners: @conceptdev

row-action: fix typo
  docs/ios/user-interface/controls/tables/row-action.md
Owners: @conceptdev

index: fix typo
  docs/ios/user-interface/storyboards/index.md
Owners: @conceptdev

mmp-errors: fix typo
  docs/mac/troubleshooting/mmp-errors.md
Owners: @conceptdev

visual-state-manager: fix typo
  docs/xamarin-forms/user-interface/visual-state-manager.md
Owners: @davidbritch

Update index.yml
  docs/index.yml
Owners: none

Update index.yml
  docs/index.yml
Owners: none

bash cmd update
  docs/cross-platform/macios/binding/objective-sharpie/examples/advanced.md
Owners: @conceptdev

Update ios-maps-walkthrough.md
  docs/ios/user-interface/controls/ios-maps/ios-maps-walkthrough.md
Owners: @conceptdev

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev
