Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev

Forms 4.2 issues (#1182)
  docs/xamarin-forms/user-interface/collectionview/layout-images/header-footer-string-large.png
  docs/xamarin-forms/user-interface/collectionview/layout-images/header-footer-string.png
  docs/xamarin-forms/user-interface/collectionview/layout-images/header-footer-template-large.png
  docs/xamarin-forms/user-interface/collectionview/layout-images/header-footer-template.png
  docs/xamarin-forms/user-interface/collectionview/layout-images/header-footer-view-large.png
  docs/xamarin-forms/user-interface/collectionview/layout-images/header-footer-view.png
  docs/xamarin-forms/user-interface/collectionview/layout.md
Owners: @davidbritch

Aug release notes (#1180)
  docs/whats-new/2019-08.md
  docs/whats-new/TOC.yml
  docs/whats-new/index.yml
Owners: @davidbritch

[whatsnew] add sample browser mention
  docs/whats-new/2019-08.md
Owners: @davidbritch

[collectionview] UWP tip link
  docs/xamarin-forms/user-interface/collectionview/introduction.md
Owners: @davidbritch

fix: MD010/no-hard-tabs
  docs/cross-platform/macios/native-references.md
  docs/cross-platform/macios/unified/overview.md
  docs/ios/app-fundamentals/touch/ios-touch-walkthrough.md
  docs/ios/deploy-test/debugging-in-xamarin-ios.md
  docs/ios/deploy-test/performance.md
  docs/ios/deploy-test/provisioning/capabilities/app-groups-capabilities.md
  docs/ios/deploy-test/provisioning/capabilities/apple-pay-capabilities.md
  docs/ios/deploy-test/provisioning/capabilities/icloud-capabilities.md
  docs/ios/deploy-test/provisioning/capabilities/index.md
  docs/ios/deploy-test/provisioning/capabilities/wallet-capabilities.md
  docs/ios/deploy-test/provisioning/entitlements.md
  docs/ios/platform/gaming/index.md
  docs/ios/platform/touchid.md
  docs/ios/tvos/platform/user-interface-styles.md
  docs/ios/user-interface/controls/alerts.md
  docs/ios/watchos/get-started/installation.md
  docs/ios/watchos/get-started/project-references.md
  docs/ios/watchos/platform/notifications.md
  docs/ios/watchos/user-interface/image.md
  docs/ios/watchos/user-interface/table.md
  docs/mac/app-fundamentals/image.md
  docs/mac/deploy-test/debugging-native-crash.md
  docs/mac/platform/introduction-to-macos-sierra/modern-cocoa-apps.md
  docs/mac/troubleshooting/troubleshooting.md
  docs/mac/user-interface/collection-view.md
  docs/mac/user-interface/source-list.md
Owners: @conceptdev

fix: MD003/heading-style/header-style
  docs/cross-platform/platform/index.md
  docs/xamarin-forms/user-interface/listview/interactivity.md
Owners: @conceptdev, @davidbritch

Prep for version 1.3.0 (#1176)
  docs/essentials/email.md
  docs/essentials/launcher.md
  docs/essentials/main-thread.md
  docs/essentials/platform-feature-support.md
  docs/essentials/share.md
Owners: @jamesmontemagno

fix: MD010/no-hard-tabs (#2058)
  docs/cross-platform/macios/native-references.md
  docs/cross-platform/macios/unified/overview.md
  docs/ios/app-fundamentals/touch/ios-touch-walkthrough.md
  docs/ios/deploy-test/debugging-in-xamarin-ios.md
  docs/ios/deploy-test/performance.md
  docs/ios/deploy-test/provisioning/capabilities/app-groups-capabilities.md
  docs/ios/deploy-test/provisioning/capabilities/apple-pay-capabilities.md
  docs/ios/deploy-test/provisioning/capabilities/icloud-capabilities.md
  docs/ios/deploy-test/provisioning/capabilities/index.md
  docs/ios/deploy-test/provisioning/capabilities/wallet-capabilities.md
  docs/ios/deploy-test/provisioning/entitlements.md
  docs/ios/platform/gaming/index.md
  docs/ios/platform/touchid.md
  docs/ios/tvos/platform/user-interface-styles.md
  docs/ios/user-interface/controls/alerts.md
  docs/ios/watchos/get-started/installation.md
  docs/ios/watchos/get-started/project-references.md
  docs/ios/watchos/platform/notifications.md
  docs/ios/watchos/user-interface/image.md
  docs/ios/watchos/user-interface/table.md
  docs/mac/app-fundamentals/image.md
  docs/mac/deploy-test/debugging-native-crash.md
  docs/mac/platform/introduction-to-macos-sierra/modern-cocoa-apps.md
  docs/mac/troubleshooting/troubleshooting.md
  docs/mac/user-interface/collection-view.md
  docs/mac/user-interface/source-list.md
Owners: @conceptdev

fix: MD003/heading-style/header-style (#2060)
  docs/cross-platform/platform/index.md
  docs/xamarin-forms/user-interface/listview/interactivity.md
Owners: @conceptdev, @davidbritch

Fixed contentview sample links after rebuild
  docs/xamarin-forms/user-interface/layouts/contentview.md
Owners: @davidbritch

Fixed contentview sample links after rebuild (#2068)
  docs/xamarin-forms/user-interface/layouts/contentview.md
Owners: @davidbritch

Update TOC for Xamarin.Essentials :) (#1184)
  docs/android/TOC.yml
  docs/essentials/index.md
  docs/ios/TOC.yml
  docs/xamarin-forms/TOC.md
Owners: @conceptdev, @jamesmontemagno, @davidbritch

Jusjohns visual element doc (#1183)
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/user-interface/controls/common-properties.md
  docs/xamarin-forms/user-interface/controls/index.md
Owners: @davidbritch

[essentials] sentence casing TOC
  docs/android/TOC.yml
  docs/ios/TOC.yml
  docs/xamarin-forms/TOC.md
Owners: @conceptdev, @davidbritch

iOS13 Dark Mode
  docs/ios/platform/ios13/dark-mode.md
Owners: @conceptdev

Jusjohns minimum properties update (#1185)
  docs/xamarin-forms/user-interface/controls/common-properties.md
Owners: @davidbritch

Update dark-mode.md
  docs/ios/platform/ios13/dark-mode.md
Owners: @conceptdev

images for dark mode
  docs/ios/platform/ios13/LightAndDark_01.png
  docs/ios/platform/ios13/LightAndDark_AssetCatalog2.png
  docs/ios/platform/ios13/LightAndDark_DeveloperSetting.png
Owners: @conceptdev

Update index.md
  docs/ios/platform/ios13/index.md
Owners: @conceptdev

updated images
  docs/ios/platform/ios13/dark-mode.md
Owners: @conceptdev

iOS13 Dark Mode (#2073)
  docs/ios/platform/ios13/LightAndDark_01.png
  docs/ios/platform/ios13/LightAndDark_AssetCatalog2.png
  docs/ios/platform/ios13/LightAndDark_DeveloperSetting.png
  docs/ios/platform/ios13/dark-mode.md
  docs/ios/platform/ios13/index.md
Owners: @conceptdev

[ios] dark mode edit
  docs/ios/TOC.yml
  docs/ios/platform/ios13/dark-mode-images/LightAndDark_01.png
  docs/ios/platform/ios13/dark-mode-images/LightAndDark_AssetCatalog2.png
  docs/ios/platform/ios13/dark-mode-images/LightAndDark_DeveloperSetting.png
  docs/ios/platform/ios13/dark-mode.md
Owners: @conceptdev

[ios] update dark mode assetid
  docs/ios/platform/ios13/dark-mode.md
Owners: @conceptdev

CC157624: Changing code language for code (#1186)
  docs/ios/internals/api-design/index.md
Owners: @conceptdev

[ios] markdown fixes in api-design doc (#1187)
  docs/cross-platform/macios/binding/objective-c-libraries.md
  docs/ios/internals/api-design/index.md
Owners: @conceptdev

fix: MD030/list-marker-space
  docs/android/deploy-test/building-apps/build-process.md
Owners: @conceptdev

fix: MD030/list-marker-space (#2077)
  docs/android/deploy-test/building-apps/build-process.md
Owners: @conceptdev

fix: MD047/single-trailing-newline
  CODE_OF_CONDUCT.md
  docs/android/get-started/index.md
  docs/android/get-started/installation/android-emulator/hardware-acceleration.md
  docs/cross-platform/includes/development-environment.md
  docs/cross-platform/includes/install-xamarin-windows-2019.md
  docs/cross-platform/includes/install-xamarin-windows.md
  docs/cross-platform/troubleshooting/questions/nuget-packages-missing.md
  docs/cross-platform/troubleshooting/questions/visualstudio-2017-rc.md
  docs/get-started/requirements.md
  docs/ios/platform/file-compression.md
  docs/ios/platform/gaming/scenekit.md
  docs/ios/platform/ios13/troubleshooting/index.md
  docs/ios/tvos/platform/introduction-to-tvos12/index.md
  docs/tools/ios-simulator/deploy.md
  docs/xamarin-forms/user-interface/toolbaritem.md
Owners: @conceptdev, @davidbritch

chore: Add passing Markdownlint config (#1868)
  .markdownlint.json
Owners: none

fix: MD047/single-trailing-newline (#2079)
  CODE_OF_CONDUCT.md
  docs/android/get-started/index.md
  docs/android/get-started/installation/android-emulator/hardware-acceleration.md
  docs/cross-platform/includes/development-environment.md
  docs/cross-platform/includes/install-xamarin-windows-2019.md
  docs/cross-platform/includes/install-xamarin-windows.md
  docs/cross-platform/troubleshooting/questions/nuget-packages-missing.md
  docs/cross-platform/troubleshooting/questions/visualstudio-2017-rc.md
  docs/get-started/requirements.md
  docs/ios/platform/file-compression.md
  docs/ios/platform/gaming/scenekit.md
  docs/ios/platform/ios13/troubleshooting/index.md
  docs/ios/tvos/platform/introduction-to-tvos12/index.md
  docs/tools/ios-simulator/deploy.md
  docs/xamarin-forms/user-interface/toolbaritem.md
Owners: @conceptdev, @davidbritch

chore: Enable fixed Markdownlint rules
  .markdownlint.json
Owners: none

Jusjohns first app steps (#1188)
  docs/get-started/first-app/images/win-2019/android-emulator.png
  docs/get-started/first-app/images/win-2019/create-emulator-sml.png
  docs/get-started/first-app/images/win-2019/create-emulator.png
  docs/get-started/first-app/images/win-2019/debug-dropdown.png
  docs/get-started/first-app/images/win-2019/debug-emulator-name.png
  docs/get-started/first-app/images/win-2019/start-emulator.png
  docs/get-started/first-app/index.md
Owners: @davidbritch

chore: Enable fixed Markdownlint rules (#2080)
  .markdownlint.json
Owners: none

[ios] fix external link for HTTPS
  docs/ios/troubleshooting/questions/symbolicate-ios-crash.md
Owners: @conceptdev

[ios] public issue 2063
  docs/ios/app-fundamentals/file-system.md
Owners: @conceptdev

fix: MD007/ul-indent
  .markdownlint.json
  contributing-guidelines/template.md
  docs/android/app-fundamentals/resources-in-android/alternate-resources.md
  docs/android/app-fundamentals/touch/android-touch-walkthrough.md
  docs/android/deploy-test/building-apps/abi-specific-apks.md
  docs/android/deploy-test/building-apps/build-process.md
  docs/android/get-started/installation/android-emulator/device-manager.md
  docs/android/get-started/installation/android-emulator/hardware-acceleration.md
  docs/android/internals/api-design.md
  docs/android/platform/binding-java-library/troubleshooting-bindings.md
  docs/android/platform/kitkat.md
  docs/android/troubleshooting/troubleshooting.md
  docs/cross-platform/desktop/controls/wpf.md
  docs/cross-platform/troubleshooting/questions/version-logs.md
  docs/ios/deploy-test/app-distribution/in-house-distribution.md
  docs/ios/deploy-test/provisioning/entitlements.md
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
  docs/ios/get-started/installation/windows/connecting-to-mac/index.md
  docs/ios/get-started/installation/windows/index.md
  docs/ios/internals/registrar.md
  docs/ios/platform/introduction-to-ios11/updating-your-app/app-store-changes.md
  docs/ios/platform/introduction-to-ios12/siri-shortcuts.md
  docs/ios/platform/introduction-to-ios12/troubleshooting.md
  docs/ios/platform/sirikit/understanding-sirikit.md
  docs/ios/platform/speech.md
  docs/ios/user-interface/controls/labels.md
  docs/ios/user-interface/controls/searchbar.md
  docs/mac/app-fundamentals/sandboxing.md
  docs/mac/user-interface/outline-view.md
  docs/tools/dotnet-embedding/get-started/install/install.md
  docs/xamarin-forms/user-interface/listview/index.md
  docs/xamarin-forms/user-interface/listview/performance.md
  docs/xamarin-forms/user-interface/map.md
Owners: @conceptdev, @davidbritch

Correct microtesla abbreviation
  docs/essentials/magnetometer.md
Owners: @jamesmontemagno

fix: MD045/no-alt-text
  docs/ios/deploy-test/app-distribution/ad-hoc-distribution.md
  docs/mac/platform/storyboards/indepth.md
  docs/tools/profiler/index.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/curves/arcs.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/curves/beziers.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/curves/clipping.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/curves/effects.md
  docs/xamarin-forms/user-interface/styles/xaml/dynamic.md
  docs/xamarin-forms/user-interface/styles/xaml/explicit.md
  docs/xamarin-forms/user-interface/styles/xaml/implicit.md
  docs/xamarin-forms/user-interface/styles/xaml/introduction.md
  docs/xamarin-forms/user-interface/styles/xaml/style-class.md
  docs/xamarin-forms/user-interface/tableview.md
  docs/xamarin-forms/user-interface/text/entry.md
  docs/xamarin-forms/user-interface/text/index.md
  docs/xamarin-forms/user-interface/text/label.md
  docs/xamarin-forms/user-interface/text/styles.md
  docs/xamarin-forms/user-interface/webview.md
  docs/xamarin-forms/xaml/passing-arguments.md
  docs/xamarin-forms/xaml/resource-dictionaries.md
  docs/xamarin-forms/xaml/xaml-basics/data-binding-basics.md
  docs/xamarin-forms/xaml/xaml-basics/essential-xaml-syntax.md
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
  docs/xamarin-forms/xaml/xaml-basics/xaml-markup-extensions.md
Owners: @conceptdev, @davidbritch

typo fix (#1189)
  docs/ios/platform/photokit.md
Owners: @conceptdev

Fixed incorrect link. (#1190)
  docs/android/user-interface/controls/view-pager/index.md
Owners: @conceptdev
