Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev

Use Xamarin.Essentials for orientation change detection
  docs/xamarin-forms/user-interface/layouts/device-orientation.md
Owners: @davidbritch

Update hot-restart.md
  docs/xamarin-forms/deploy-test/hot-restart.md
Owners: @davidbritch

Minor edit.
  docs/xamarin-forms/user-interface/layouts/device-orientation.md
Owners: @davidbritch

Fixed inconsistency.
  docs/xamarin-forms/user-interface/visual-state-manager.md
Owners: @davidbritch

Updated metadata name.
  docs/xamarin-forms/user-interface/map/setup.md
Owners: @davidbritch

Clarification.
  docs/xamarin-forms/app-fundamentals/shell/configuration.md
Owners: @davidbritch

Syntax correction.
  docs/xamarin-forms/user-interface/layouts/choose-layout.md
Owners: @davidbritch

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

added apostrophe
  CONTRIBUTING.md
Owners: none

no.png
  docs/essentials/permissions.md
Owners: @jamesmontemagno

Fix typo
  docs/android/deploy-test/building-apps/build-process.md
Owners: @conceptdev

Fix typo (#2587)
  docs/android/deploy-test/building-apps/build-process.md
Owners: @conceptdev

accessible alt
  docs/essentials/permissions.md
Owners: @jamesmontemagno

no.png (#2585)
  docs/essentials/permissions.md
Owners: @jamesmontemagno

Update index.md
  docs/tools/profiler/index.md
Owners: @conceptdev

Update index.md (#2588)
  docs/tools/profiler/index.md
Owners: @conceptdev

Update Xamarin.Essentials support status (#2570)
  docs/essentials/platform-feature-support.md
Owners: @jamesmontemagno

Add HasKey description (#2456)
  docs/essentials/preferences.md
Owners: @jamesmontemagno

Update device-information.md (#2439)
  docs/essentials/device-information.md
Owners: @jamesmontemagno

Updated iOS section (#2190)
  docs/essentials/device-information.md
Owners: @jamesmontemagno

Added testing tip
  docs/xamarin-forms/data-cloud/azure-services/azure-notification-hub.md
Owners: @davidbritch

Add App theme
  docs/essentials/index.md
Owners: @jamesmontemagno

Update index.md
  docs/essentials/index.md
Owners: @jamesmontemagno

Synchronize Xamarin.Android Build Process documentation
  docs/android/deploy-test/building-apps/build-process.md
Owners: @conceptdev

- Add section for setting preferred designer tool
  docs/ios/user-interface/storyboards/images/set-preferred-designer-tool.png
  docs/ios/user-interface/storyboards/index.md
Owners: @conceptdev

[android] Correct AndroidBundleConfigurationFile release info
  docs/android/deploy-test/building-apps/build-process.md
Owners: @conceptdev

Add tip about -scope argument...
  docs/cross-platform/macios/binding/objective-sharpie/examples/advanced.md
Owners: @conceptdev

Added -scope argument to `sharpie bind` command.
  docs/ios/platform/binding-objective-c/walkthrough.md
Owners: @conceptdev

correct markdown syntax, fix spelling typo
  docs/ios/platform/binding-objective-c/walkthrough.md
Owners: @conceptdev

- Update text and image
  docs/ios/user-interface/storyboards/index.md
Owners: @conceptdev

Provisioning updates (#1565)
  docs/cross-platform/macios/apple-account-management-images/accounts-vsw.png
  docs/cross-platform/macios/apple-account-management-images/add-account-vsm.png
  docs/cross-platform/macios/apple-account-management-images/add-account-vsw.png
  docs/cross-platform/macios/apple-account-management-images/image1.png
  docs/cross-platform/macios/apple-account-management-images/image4.png
  docs/cross-platform/macios/apple-account-management.md
  docs/ios/TOC.yml
  docs/ios/deploy-test/provisioning/index.md
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning-images/bundle-signing-win.png
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning-images/signing-success-win.png
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
  docs/ios/get-started/installation/device-provisioning/manual-provisioning-images/developer-portal-devices.png
  docs/ios/get-started/installation/device-provisioning/manual-provisioning-images/new-app-id.png
  docs/ios/get-started/installation/device-provisioning/manual-provisioning-images/new-device-info.png
  docs/ios/get-started/installation/device-provisioning/manual-provisioning-images/vs-bundle-signing.png
  docs/ios/get-started/installation/device-provisioning/manual-provisioning-images/vsm-bundle-signing.png
  docs/ios/get-started/installation/device-provisioning/manual-provisioning-images/vsm-info-plist.png
  docs/ios/get-started/installation/device-provisioning/manual-provisioning-images/xcode-devices.png
  docs/ios/get-started/installation/device-provisioning/manual-provisioning.md
Owners: @conceptdev

Update documentation about preprocessor define for Xamarin.Mac.
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/platform-divergence-abstraction-divergent-implementation.md
Owners: @conceptdev

- Shift location of text and adjust image tag
  docs/ios/user-interface/storyboards/index.md
Owners: @conceptdev

Change to step 5 in "Update the Release build configuration"
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store.md
Owners: @conceptdev

Typo fixed.
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store.md
Owners: @conceptdev

Update app-theme.md
  docs/essentials/app-theme.md
Owners: @jamesmontemagno

Add AndroidX to index
  docs/android/platform/index.md
Owners: @conceptdev

Fix Title
  docs/android/platform/index.md
Owners: @conceptdev

Add AndroidX to TOC
  docs/android/TOC.yml
Owners: @conceptdev

Simplify theming with Xamarin.Essentials (#1580)
  docs/xamarin-forms/user-interface/theming/dark-mode.md
Owners: @davidbritch
