Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev

Acrolinx fixes.
  docs/xamarin-forms/app-fundamentals/triggers.md
Owners: @davidbritch

Edits.
  docs/xamarin-forms/app-fundamentals/triggers-images/adaptivetrigger-horizontal.png
  docs/xamarin-forms/app-fundamentals/triggers-images/adaptivetrigger-vertical.png
  docs/xamarin-forms/app-fundamentals/triggers.md
  docs/xamarin-forms/user-interface/visual-state-manager.md
Owners: @davidbritch

Update permissions.md
  docs/essentials/permissions.md
Owners: @jamesmontemagno

italic formatting guidance
  contributing-guidelines/template.md
Owners: none

Fix code
  docs/xamarin-forms/xaml/xaml-controls.md
Owners: @davidbritch

small suggestion made by VS
  docs/xamarin-forms/app-fundamentals/data-binding/binding-mode.md
Owners: @davidbritch

Brought text inline with our style guide.
  docs/xamarin-forms/user-interface/menuitem.md
Owners: @davidbritch

Linked back to MenuItem doc
  docs/xamarin-forms/user-interface/toolbaritem.md
Owners: @davidbritch

Update based on feedback
  docs/android/platform/androidx.md
Owners: @conceptdev

Fix note syntax
  docs/android/platform/androidx.md
Owners: @conceptdev

Fix bolding and note
  docs/android/platform/androidx.md
Owners: @conceptdev

Re-do intro
  docs/android/platform/androidx.md
Owners: @conceptdev

Remove unneeded paragraph
  docs/android/platform/androidx.md
Owners: @conceptdev

Added CheckBox link
  docs/xamarin-forms/user-interface/visual/material-visual.md
Owners: @davidbritch

Clarification.
  docs/xamarin-forms/xaml/resource-dictionaries.md
Owners: @davidbritch

Add permissions to index.
  docs/essentials/index.md
Owners: @jamesmontemagno

Battery is NOT supported on tvOS
  docs/essentials/platform-feature-support.md
Owners: @jamesmontemagno

Battery has limited support on watchOS
  docs/essentials/platform-feature-support.md
Owners: @jamesmontemagno

AppInfo supported on Tizen
  docs/essentials/platform-feature-support.md
Owners: @jamesmontemagno

Add permissions
  docs/essentials/platform-feature-support.md
Owners: @jamesmontemagno

IndicatorView updates for 4.5.
  docs/xamarin-forms/user-interface/carouselview/populate-data.md
  docs/xamarin-forms/user-interface/controls/views.md
  docs/xamarin-forms/user-interface/indicatorview.md
  docs/xamarin-forms/xaml/xaml-controls.md
Owners: @davidbritch

Edits.
  docs/xamarin-forms/user-interface/carouselview/populate-data.md
  docs/xamarin-forms/user-interface/indicatorview.md
Owners: @davidbritch

UWP support.
  docs/xamarin-forms/user-interface/indicatorview.md
Owners: @davidbritch

Updates for 4.5.
  docs/xamarin-forms/user-interface/indicatorview.md
Owners: @davidbritch

Sample links updated.
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-info.md
  docs/xamarin-forms/app-fundamentals/dual-screen/twopaneview.md
  docs/xamarin-forms/user-interface/mediaelement.md
Owners: @davidbritch

Sample link updated.
  docs/xamarin-forms/user-interface/mediaelement.md
Owners: @davidbritch

Update webview.md
  docs/xamarin-forms/user-interface/webview.md
Owners: @davidbritch

Update webview.md
  docs/xamarin-forms/user-interface/webview.md
Owners: @davidbritch

Updated links.
  docs/xamarin-forms/user-interface/webview.md
Owners: @davidbritch

Dual screen tidy up.
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-helper.md
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-info.md
  docs/xamarin-forms/app-fundamentals/dual-screen/index.md
  docs/xamarin-forms/app-fundamentals/dual-screen/twopaneview.md
Owners: @davidbritch

SpanModeStateTrigger added.
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/app-fundamentals/dual-screen/index.md
  docs/xamarin-forms/app-fundamentals/dual-screen/triggers.md
Owners: @davidbritch

Edits.
  docs/xamarin-forms/TOC.yml
Owners: @davidbritch

Edits.
  docs/xamarin-forms/app-fundamentals/dual-screen/triggers.md
Owners: @davidbritch

Acrolinx fix.
  docs/xamarin-forms/app-fundamentals/dual-screen/triggers.md
Owners: @davidbritch

Initial feb release notes.
  docs/whats-new/2020-02.md
  docs/whats-new/TOC.yml
  docs/whats-new/index.yml
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-helper.md
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-info.md
  docs/xamarin-forms/app-fundamentals/dual-screen/index.md
  docs/xamarin-forms/app-fundamentals/dual-screen/triggers.md
  docs/xamarin-forms/app-fundamentals/dual-screen/twopaneview.md
  docs/xamarin-forms/user-interface/mediaelement.md
Owners: @davidbritch

Original custom font content restored.
  docs/xamarin-forms/user-interface/text/fonts.md
Owners: @davidbritch

Changed link.
  docs/whats-new/2020-02.md
Owners: @davidbritch

fix spelling
  docs/essentials/get-started.md
Owners: @jamesmontemagno

Dual screen triggers update.
  docs/xamarin-forms/app-fundamentals/dual-screen/triggers.md
Owners: @davidbritch

Fixed description.
  docs/xamarin-forms/app-fundamentals/dual-screen/index.md
Owners: @davidbritch
