Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

Add code to handle MainPage.SizeChanged event.
  docs/xamarin-forms/platform/native-forms.md
Owners: @davidbritch

Update native-forms.md
  docs/xamarin-forms/platform/native-forms.md
Owners: @davidbritch

Update launcher.md
  docs/essentials/launcher.md
Owners: @jamesmontemagno

Update preferences.md
  docs/essentials/preferences.md
Owners: @jamesmontemagno

Update secure-storage.md
  docs/essentials/secure-storage.md
Owners: @jamesmontemagno

Handle SizeChanged event on the Frame object
  docs/xamarin-forms/platform/native-forms.md
Owners: @davidbritch

Update launcher.md
  docs/essentials/launcher.md
Owners: @jamesmontemagno

Update Link description
  docs/xamarin-forms/user-interface/images.md
Owners: @davidbritch

New landing page for what's new (#1413)
  docs/whats-new/index.yml
Owners: @davidbritch

Jusjohns touchid refresh (#1414)
  .openpublishing.redirection.json
  docs/ios/TOC.yml
  docs/ios/platform/index.md
  docs/ios/platform/introduction-to-ios8.md
  docs/ios/platform/introduction-to-ios9/additional-framework-changes.md
  docs/ios/platform/introduction-to-ios9/index.md
  docs/ios/platform/touch-id-face-id.md
  docs/ios/platform/touchid-images/Image13a.png
  docs/ios/platform/touchid-images/image1.png
  docs/ios/platform/touchid-images/image10.png
  docs/ios/platform/touchid-images/image11.png
  docs/ios/platform/touchid-images/image12.png
  docs/ios/platform/touchid-images/image2.png
  docs/ios/platform/touchid-images/image3.png
  docs/ios/platform/touchid-images/image4.png
  docs/ios/platform/touchid-images/image5.png
  docs/ios/platform/touchid-images/image6.png
  docs/ios/platform/touchid-images/image7.png
  docs/ios/platform/touchid-images/image8.png
  docs/ios/platform/touchid-images/image9.png
  docs/ios/platform/touchid.md
Owners: @conceptdev

[xplat] update landing page template (#1415)
  docs/cross-platform/TOC.yml
  docs/cross-platform/index.yml
Owners: @conceptdev

[xamarin-forms] update images images (#1416)
  docs/xamarin-forms/user-interface/images-images/download-sml.png
  docs/xamarin-forms/user-interface/images-images/download.png
  docs/xamarin-forms/user-interface/images-images/local-sml.png
  docs/xamarin-forms/user-interface/images-images/local.png
  docs/xamarin-forms/user-interface/images-images/resource-sml.png
  docs/xamarin-forms/user-interface/images-images/resource.png
  docs/xamarin-forms/user-interface/images-images/vs-buildaction-sml.png
  docs/xamarin-forms/user-interface/images-images/xs-embeddedproperties-sml.png
  docs/xamarin-forms/user-interface/images.md
Owners: @davidbritch

[get-started] test no-loc
  docs/get-started/requirements.md
  docs/get-started/what-is-xamarin-forms.md
  docs/get-started/what-is-xamarin.md
Owners: @davidbritch

Create instance in code snippets
  docs/xamarin-forms/user-interface/map/geocoder.md
Owners: @davidbritch

Update obtaining-a-google-maps-api-key.md
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key.md
Owners: @conceptdev

Update index.md
  docs/android/app-fundamentals/services/creating-a-service/index.md
Owners: @conceptdev

Jusjohns cross platform samples conversion (#1419)
  docs/cross-platform/TOC.yml
  docs/cross-platform/samples/index.md
  docs/cross-platform/samples/index.yml
Owners: @conceptdev

Update index.md (#2409)
  docs/android/app-fundamentals/services/creating-a-service/index.md
Owners: @conceptdev

`if` body should be indented
  docs/ios/user-interface/controls/tables/populating-a-table-with-data.md
Owners: @conceptdev

code formatted (#2398)
  docs/ios/user-interface/controls/tables/populating-a-table-with-data.md
Owners: @conceptdev

Clarified font size value unit.
  docs/xamarin-forms/user-interface/text/fonts.md
Owners: @davidbritch

Link text fixed.
  docs/xamarin-forms/user-interface/text/fonts.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/user-interface/text/fonts.md
Owners: @davidbritch

Jusjohns android samples conversion (#1422)
  docs/android/TOC.yml
  docs/android/samples/index.md
  docs/android/samples/index.yml
Owners: @conceptdev

Jusjohns xf samples conversion (#1421)
  docs/cross-platform/samples/index.md
  docs/get-started/first-app/index.md
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/samples/images/bugsweeper.png
  docs/xamarin-forms/samples/images/xuzzle.png
  docs/xamarin-forms/samples/index.md
  docs/xamarin-forms/samples/index.yml
Owners: @conceptdev, @davidbritch

[tools] landing page updates (also graphics-games) (#1423)
  docs/TOC.md
  docs/graphics-games/TOC.md
  docs/graphics-games/TOC.yml
  docs/graphics-games/index.md
  docs/graphics-games/index.yml
  docs/tools/TOC.yml
  docs/tools/index.md
  docs/tools/index.yml
Owners: @conceptdev

Update index.md
  docs/android/app-fundamentals/notifications/index.md
Owners: @conceptdev

Remove descriptions of WinPhone screenshots
  docs/xamarin-forms/app-fundamentals/data-binding/basic-bindings.md
  docs/xamarin-forms/app-fundamentals/data-binding/binding-mode.md
  docs/xamarin-forms/app-fundamentals/data-binding/commanding.md
  docs/xamarin-forms/user-interface/datepicker.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/basics/circle.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/paths/fill-types.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/paths/lines.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/transforms/skew.md
  docs/xamarin-forms/user-interface/slider.md
Owners: @davidbritch

LF
  docs/xamarin-forms/app-fundamentals/data-binding/basic-bindings.md
  docs/xamarin-forms/app-fundamentals/data-binding/binding-mode.md
  docs/xamarin-forms/app-fundamentals/data-binding/commanding.md
  docs/xamarin-forms/user-interface/datepicker.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/basics/circle.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/paths/fill-types.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/paths/lines.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/transforms/skew.md
  docs/xamarin-forms/user-interface/slider.md
Owners: @davidbritch

[dotnet-embedding] add documentation re why bitcode is not supported (#2395)
  docs/tools/dotnet-embedding/limitations.md
Owners: @conceptdev

Update out-of-process-services.md
  docs/android/app-fundamentals/services/out-of-process-services.md
Owners: @conceptdev

Update out-of-process-services.md
  docs/android/app-fundamentals/services/out-of-process-services.md
Owners: @conceptdev

Update out-of-process-services.md
  docs/android/app-fundamentals/services/out-of-process-services.md
Owners: @conceptdev

Update out-of-process-services.md
  docs/android/app-fundamentals/services/out-of-process-services.md
Owners: @conceptdev

Jusjohns mac samples conversion (#1424)
  docs/mac/TOC.yml
  docs/mac/samples/index.md
  docs/mac/samples/index.yml
Owners: @conceptdev

Update out-of-process-services.md (#2423)
  docs/android/app-fundamentals/services/out-of-process-services.md
Owners: @conceptdev

Update out-of-process-services.md (#2424)
  docs/android/app-fundamentals/services/out-of-process-services.md
Owners: @conceptdev

[android] remove old Xamarin emulator link (#1425)
  docs/android/deploy-test/debugging/debug-on-device.md
  docs/android/deploy-test/debugging/debug-on-emulator.md
  docs/android/deploy-test/debugging/index.md
Owners: @conceptdev

[ios] photokit update (#1426)
  docs/ios/platform/photokit.md
Owners: @conceptdev

[mac] script name and other tweaks
  docs/get-started/installation/uninstalling-xamarin.md
Owners: @davidbritch

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev
