Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

clarify difference between CoreNFC and general NFC payment support
  docs/ios/platform/introduction-to-ios11/corenfc.md
Owners: @conceptdev

add 11
  docs/ios/platform/introduction-to-ios11/corenfc.md
Owners: @conceptdev

Content Update (#2434)
  docs/ios/platform/introduction-to-ios11/corenfc.md
Owners: @conceptdev

Removed no-loc tests
  docs/get-started/requirements.md
  docs/get-started/what-is-xamarin-forms.md
  docs/get-started/what-is-xamarin.md
Owners: @davidbritch

Xamarin.Forms YAML TOC (#1471)
  docs/xamarin-forms.yml
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/TOC.yml
Owners: @davidbritch

Update share.md
  docs/essentials/share.md
Owners: @jamesmontemagno

add new files to updated TOC
  docs/xamarin-forms/TOC.yml
Owners: @davidbritch

I added additional information about limitations placed on implicit broadcast receivers on android API 26 and above
  docs/android/app-fundamentals/broadcast-receivers.md
Owners: @conceptdev

Update device-information.md
  docs/essentials/device-information.md
Owners: @jamesmontemagno

Jusjohns matrix tables (#1473)
  docs/cross-platform/internals/available-assemblies.md
  docs/essentials/platform-feature-support.md
  docs/media/shared/no.png
  docs/media/shared/warn.png
  docs/media/shared/yes.png
Owners: @conceptdev, @jamesmontemagno

minor tweaks
  docs/android/app-fundamentals/broadcast-receivers.md
Owners: @conceptdev

I added additional information about limitations placed on implicit broadcast receivers on android API 26 and above (#2438)
  docs/android/app-fundamentals/broadcast-receivers.md
Owners: @conceptdev

[ios] mention custom business distribution (#1475)
  docs/ios/TOC.yml
  docs/ios/deploy-test/app-distribution/index.md
Owners: @conceptdev

[ios-sim] troubleshooting (#1476)
  docs/ios/get-started/installation/windows/connecting-to-mac/troubleshooting.md
  docs/tools/ios-simulator/index.md
Owners: @conceptdev

TOC update (#1479)
  docs/xamarin-forms/TOC.yml
Owners: @davidbritch

Refresh ControlTemplate doc (#1478)
  .openpublishing.redirection.json
  docs/cross-platform/desktop/controls/wpf.md
  docs/whats-new/2019-07.md
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/app-fundamentals/data-binding/relative-bindings.md
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/control-template.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/get-named-element-large.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/get-named-element.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/redefine-controltemplate-large.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/redefine-controltemplate.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/relativesource-controltemplate-large.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/relativesource-controltemplate.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/tealtemplate-contentpage-large.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/tealtemplate-contentpage.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/templatebinding-controltemplate-large.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/templatebinding-controltemplate.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/viewmodel-controltemplate-large.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/viewmodel-controltemplate.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/viewmodel-itemdeleted-large.png
  docs/xamarin-forms/app-fundamentals/templates/control-template-images/viewmodel-itemdeleted.png
  docs/xamarin-forms/app-fundamentals/templates/control-template.md
  docs/xamarin-forms/app-fundamentals/templates/control-templates/creating-images/aqua-theme.png
  docs/xamarin-forms/app-fundamentals/templates/control-templates/creating-images/teal-theme.png
  docs/xamarin-forms/app-fundamentals/templates/control-templates/creating.md
  docs/xamarin-forms/app-fundamentals/templates/control-templates/index.md
  docs/xamarin-forms/app-fundamentals/templates/control-templates/introduction-images/control-template.png
  docs/xamarin-forms/app-fundamentals/templates/control-templates/introduction.md
  docs/xamarin-forms/app-fundamentals/templates/control-templates/template-binding-images/teal-theme.png
  docs/xamarin-forms/app-fundamentals/templates/control-templates/template-binding.md
  docs/xamarin-forms/app-fundamentals/templates/index.md
  docs/xamarin-forms/user-interface/controls/layouts.md
  docs/xamarin-forms/user-interface/controls/pages.md
  docs/xamarin-forms/user-interface/layouts/contentview.md
  docs/xamarin-forms/xaml/markup-extensions/consuming.md
  docs/xamarin-forms/xaml/resource-dictionaries.md
Owners: @conceptdev, @davidbritch

Show where Instance is defined.
  docs/xamarin-forms/app-fundamentals/dependency-service/photo-picker.md
Owners: @davidbritch

DatePicker/TimePicker platform-specifics on iOS.
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/platform/ios/datepicker-selection-images/datepicker-updatemode-large.png
  docs/xamarin-forms/platform/ios/datepicker-selection-images/datepicker-updatemode.png
  docs/xamarin-forms/platform/ios/datepicker-selection.md
  docs/xamarin-forms/platform/ios/index.md
  docs/xamarin-forms/platform/ios/timepicker-selection-images/timepicker-updatemode-large.png
  docs/xamarin-forms/platform/ios/timepicker-selection-images/timepicker-updatemode.png
  docs/xamarin-forms/platform/ios/timepicker-selection.md
Owners: @davidbritch

VisualElement first responder platform-specific on iOS.
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/platform/ios/index.md
  docs/xamarin-forms/platform/ios/visualelement-first-responder.md
Owners: @davidbritch

[Hold for XF 4.5] Add instructions for XF users how to remove deprecated UIWebView APIs (#1472)
  docs/ios/deploy-test/app-distribution/app-store-distribution/index.md
  docs/ios/user-interface/controls/webview.md
  docs/xamarin-forms/user-interface/webview-images/iosbuildblade-vs-sml.png
  docs/xamarin-forms/user-interface/webview-images/iosbuildblade-vs.png
  docs/xamarin-forms/user-interface/webview-images/iosbuildblade-xs-sml.png
  docs/xamarin-forms/user-interface/webview-images/iosbuildblade-xs.png
  docs/xamarin-forms/user-interface/webview.md
Owners: @conceptdev, @davidbritch

Add HasKey description
  docs/essentials/preferences.md
Owners: @jamesmontemagno

TranslucencyMode of TabbedPage tab bars platform-specific on iOS.
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/platform/ios/index.md
  docs/xamarin-forms/platform/ios/tabbedpage-translucent-tabbar-images/translucencymodes.png
  docs/xamarin-forms/platform/ios/tabbedpage-translucent-tabbar.md
Owners: @davidbritch

Default image directory platform-specific on Windows.
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/platform/windows/default-image-directory.md
  docs/xamarin-forms/platform/windows/index.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/platform/windows/default-image-directory.md
Owners: @davidbritch

Force value coercion.
  docs/xamarin-forms/xaml/bindable-properties.md
Owners: @davidbritch

[data] mention Microsoft library
  docs/ios/data-cloud/data/using-adonet.md
Owners: @conceptdev

DisplayPromptAsync now accepts a predefined response.
  docs/xamarin-forms/user-interface/pop-ups-images/keyboard-prompt-large.png
  docs/xamarin-forms/user-interface/pop-ups-images/keyboard-prompt.png
  docs/xamarin-forms/user-interface/pop-ups.md
Owners: @davidbritch

Shell page visibility.
  docs/xamarin-forms/app-fundamentals/shell/configuration.md
Owners: @davidbritch

Jusjohns cog speech svc (#1481)
  docs/xamarin-forms/data-cloud/azure-cognitive-services/index.md
  docs/xamarin-forms/data-cloud/azure-cognitive-services/introduction.md
  docs/xamarin-forms/data-cloud/azure-cognitive-services/speech-recognition-images/package-manifest-cropped.png
  docs/xamarin-forms/data-cloud/azure-cognitive-services/speech-recognition-images/package-manifest.png
  docs/xamarin-forms/data-cloud/azure-cognitive-services/speech-recognition-images/speech-recognition-cropped.png
  docs/xamarin-forms/data-cloud/azure-cognitive-services/speech-recognition-images/speech-recognition.png
  docs/xamarin-forms/data-cloud/azure-cognitive-services/speech-recognition.md
Owners: @davidbritch

Custom fonts
  docs/xamarin-forms/user-interface/text/fonts.md
Owners: @davidbritch

Validation code now uses TargetType syntax.
  docs/xamarin-forms/user-interface/visual-state-manager.md
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationInvalid-Large.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationInvalid.a.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationInvalid.i.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationInvalid.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationInvalid.w.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationValid-Large.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationValid.a.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationValid.i.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationValid.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationValid.w.png
Owners: @davidbritch

Validation example updated.
  docs/xamarin-forms/user-interface/visual-state-manager.md
  docs/xamarin-forms/user-interface/vsm-images/VsmSetterTargetNameNormal-large.png
  docs/xamarin-forms/user-interface/vsm-images/VsmSetterTargetNameNormal.png
  docs/xamarin-forms/user-interface/vsm-images/VsmSetterTargetNamePressed-large.png
  docs/xamarin-forms/user-interface/vsm-images/VsmSetterTargetNamePressed.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationInvalid-Large.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationInvalid.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationValid-Large.png
  docs/xamarin-forms/user-interface/vsm-images/VsmValidationValid.png
Owners: @davidbritch

TargetName support.
  docs/xamarin-forms/user-interface/visual-state-manager.md
Owners: @davidbritch

Edits.
  docs/xamarin-forms/user-interface/visual-state-manager.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/user-interface/visual-state-manager.md
Owners: @davidbritch

Acrolinx issues.
  docs/xamarin-forms/app-fundamentals/shell/configuration.md
  docs/xamarin-forms/platform/ios/visualelement-first-responder.md
  docs/xamarin-forms/user-interface/text/fonts.md
  docs/xamarin-forms/user-interface/visual-state-manager.md
  docs/xamarin-forms/xaml/bindable-properties.md
Owners: @davidbritch

Feedback incorporated.
  docs/xamarin-forms/platform/ios/datepicker-selection.md
  docs/xamarin-forms/platform/ios/tabbedpage-translucent-tabbar.md
  docs/xamarin-forms/platform/ios/timepicker-selection.md
  docs/xamarin-forms/platform/ios/visualelement-first-responder.md
  docs/xamarin-forms/platform/windows/default-image-directory.md
  docs/xamarin-forms/xaml/bindable-properties.md
Owners: @davidbritch

Supported platforms refresh.
  docs/get-started/TOC.yml
  docs/get-started/index.yml
  docs/get-started/requirements.md
  docs/get-started/supported-platforms.md
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/index.yml
Owners: @davidbritch

Uninstall refresh.
  docs/get-started/TOC.yml
  docs/get-started/installation/uninstalling-xamarin.md
  docs/xamarin-forms/TOC.yml
Owners: @davidbritch

Link fixes.
  docs/cross-platform/get-started/requirements.md
  docs/get-started/TOC.yml
  docs/get-started/supported-platforms.md
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/platform/android/index.md
  docs/xamarin-forms/platform/ios/index.md
  docs/xamarin-forms/platform/windows/index.md
  docs/xamarin-forms/troubleshooting/questions/android-linkassemblies-error.md
Owners: @conceptdev, @davidbritch

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev
