Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

Move proguard_xamarin.cfg into proper section (#1635)
  docs/android/deploy-test/release-prep/proguard.md
Owners: @conceptdev

fix: MD033/no-inline-html
  docs/cross-platform/macios/unified/updating-mac-apps.md
Owners: @conceptdev

fixed minor typo in Native Forms
  docs/xamarin-forms/platform/native-forms.md
Owners: @davidbritch

Update stack-layout.md
  docs/xamarin-forms/user-interface/layouts/stack-layout.md
Owners: @davidbritch

fix: MD033/no-inline-html (#2027)
  docs/cross-platform/macios/unified/updating-mac-apps.md
Owners: @conceptdev

fix bad anchor link
  docs/xamarin-forms/data-cloud/authentication/azure-ad-b2c.md
Owners: @davidbritch

Add URI Scheme Format
  docs/xamarin-forms/data-cloud/authentication/azure-ad-b2c.md
Owners: @davidbritch

Use correct method names to convert Point and Rectangle
  docs/essentials/platform-extensions.md
Owners: @jamesmontemagno

fix: MD038/no-space-in-code
  docs/xamarin-forms/enterprise-application-patterns/mvvm.md
Owners: @davidbritch

fix: MD010/no-hard-tabs
  docs/cross-platform/macios/unified/update-binding.md
  docs/ios/app-fundamentals/backgrounding/ios-backgrounding-walkthroughs/location-walkthrough.md
  docs/ios/app-fundamentals/images-icons/app-store-icon.md
  docs/ios/deploy-test/testflight.md
  docs/ios/internals/api-design/index.md
  docs/ios/platform/apple-pay.md
  docs/ios/platform/binding-objective-c/walkthrough.md
  docs/ios/platform/extensions.md
  docs/ios/platform/graphics-animation-ios/core-animation.md
  docs/ios/platform/introduction-to-ios10/additional-framework-changes.md
  docs/ios/platform/introduction-to-ios9/index.md
  docs/ios/platform/search/proactive-suggestions.md
  docs/ios/platform/search/web-markup.md
  docs/ios/troubleshooting/mtouch-errors.md
  docs/ios/tvos/troubleshooting.md
  docs/ios/user-interface/controls/uicollectionview.md
  docs/ios/watchos/platform/background-tasks.md
  docs/ios/watchos/platform/introduction-to-watchos3/index.md
  docs/ios/watchos/platform/quick-interaction-techniques.md
  docs/ios/watchos/platform/workout-apps.md
  docs/mac/app-fundamentals/mac-apis.md
  docs/mac/platform/introduction-to-macos-sierra/additional-framework-changes.md
  docs/mac/platform/storyboards/index.md
  docs/mac/user-interface/alert.md
  docs/mac/user-interface/table-view.md
  docs/tools/profiler/index.md
Owners: @conceptdev

fix: MD020/no-missing-space-closed-atx
  docs/cross-platform/platform/razor-html-templates/index.md
  docs/graphics-games/urhosharp/fsharp.md
  docs/ios/user-interface/ios-ui/creating-ui-objects.md
  docs/xamarin-forms/platform/native-views/code.md
  docs/xamarin-forms/user-interface/styles/css/index.md
Owners: @conceptdev, @davidbritch

iOS app uses a custom navigation controller.
  docs/xamarin-forms/platform/native-forms.md
Owners: @davidbritch

Video link updated.
  docs/xamarin-forms/app-fundamentals/navigation/hierarchical.md
Owners: @davidbritch

fix: MD020/no-missing-space-closed-atx (#2041)
  docs/cross-platform/platform/razor-html-templates/index.md
  docs/graphics-games/urhosharp/fsharp.md
  docs/ios/user-interface/ios-ui/creating-ui-objects.md
  docs/xamarin-forms/platform/native-views/code.md
  docs/xamarin-forms/user-interface/styles/css/index.md
Owners: @conceptdev, @davidbritch

fix: MD010/no-hard-tabs (#2040)
  docs/cross-platform/macios/unified/update-binding.md
  docs/ios/app-fundamentals/backgrounding/ios-backgrounding-walkthroughs/location-walkthrough.md
  docs/ios/app-fundamentals/images-icons/app-store-icon.md
  docs/ios/deploy-test/testflight.md
  docs/ios/internals/api-design/index.md
  docs/ios/platform/apple-pay.md
  docs/ios/platform/binding-objective-c/walkthrough.md
  docs/ios/platform/extensions.md
  docs/ios/platform/graphics-animation-ios/core-animation.md
  docs/ios/platform/introduction-to-ios10/additional-framework-changes.md
  docs/ios/platform/introduction-to-ios9/index.md
  docs/ios/platform/search/proactive-suggestions.md
  docs/ios/platform/search/web-markup.md
  docs/ios/troubleshooting/mtouch-errors.md
  docs/ios/tvos/troubleshooting.md
  docs/ios/user-interface/controls/uicollectionview.md
  docs/ios/watchos/platform/background-tasks.md
  docs/ios/watchos/platform/introduction-to-watchos3/index.md
  docs/ios/watchos/platform/quick-interaction-techniques.md
  docs/ios/watchos/platform/workout-apps.md
  docs/mac/app-fundamentals/mac-apis.md
  docs/mac/platform/introduction-to-macos-sierra/additional-framework-changes.md
  docs/mac/platform/storyboards/index.md
  docs/mac/user-interface/alert.md
  docs/mac/user-interface/table-view.md
  docs/tools/profiler/index.md
Owners: @conceptdev

Forms issues (#1171)
  docs/xamarin-forms/app-fundamentals/navigation/hierarchical.md
  docs/xamarin-forms/platform/native-forms.md
Owners: @davidbritch

Use correct method names to convert Point and Rectangle (#2037)
  docs/essentials/platform-extensions.md
Owners: @jamesmontemagno

fix: MD023/heading-start-left/header-start-left
  docs/essentials/get-started.md
  docs/ios/user-interface/monotouch.dialog/elements-api-walkthrough.md
Owners: @jamesmontemagno, @conceptdev

chore: Replace Alert with MS Doc style
  docs/essentials/platform-feature-support.md
  docs/ios/troubleshooting/troubleshooting.md
  docs/ios/watchos/troubleshooting.md
  docs/xamarin-forms/app-fundamentals/triggers.md
Owners: @jamesmontemagno, @conceptdev, @davidbritch

fix: MD023/heading-start-left/header-start-left (#2045)
  docs/essentials/get-started.md
  docs/ios/user-interface/monotouch.dialog/elements-api-walkthrough.md
Owners: @jamesmontemagno, @conceptdev

chore: Replace Alert with MS Doc style (#2047)
  docs/essentials/platform-feature-support.md
  docs/ios/troubleshooting/troubleshooting.md
  docs/ios/watchos/troubleshooting.md
  docs/xamarin-forms/app-fundamentals/triggers.md
Owners: @jamesmontemagno, @conceptdev, @davidbritch

chore: Add passing Markdownlint config
  .markdownlint.json
Owners: none

Quick broken link fix
  docs/xamarin-forms/data-cloud/authentication/azure-ad-b2c.md
Owners: @davidbritch

Fixed unterminated XML comment and extra quote
  docs/xamarin-forms/data-cloud/authentication/azure-ad-b2c.md
Owners: @davidbritch

Jusjohns xfcontrols contentview (#1169)
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/user-interface/controls/layouts.md
  docs/xamarin-forms/user-interface/layouts/contentview-images/cardview-controltemplates-cropped.png
  docs/xamarin-forms/user-interface/layouts/contentview-images/cardview-controltemplates.png
  docs/xamarin-forms/user-interface/layouts/contentview-images/cardview-list-cropped.png
  docs/xamarin-forms/user-interface/layouts/contentview-images/cardview-list.png
  docs/xamarin-forms/user-interface/layouts/contentview.md
  docs/xamarin-forms/user-interface/layouts/index.yml
Owners: @davidbritch

removing duplicated notes
  docs/xamarin-forms/app-fundamentals/navigation/carousel-page.md
Owners: @davidbritch

Jusjohns xfcontrols finalpass (#1174)
  docs/xamarin-forms/user-interface/activityindicator.md
  docs/xamarin-forms/user-interface/menuitem.md
  docs/xamarin-forms/user-interface/progressbar.md
  docs/xamarin-forms/user-interface/searchbar.md
  docs/xamarin-forms/user-interface/switch.md
  docs/xamarin-forms/user-interface/toolbaritem.md
Owners: @davidbritch

Edits.
  docs/xamarin-forms/app-fundamentals/navigation/carousel-page.md
Owners: @davidbritch

Update ratingbar.md
  docs/android/user-interface/controls/ratingbar.md
Owners: @conceptdev

Fixed bad title on list item
  docs/xamarin-forms/user-interface/layouts/index.yml
Owners: @davidbritch

Fixed mentions of PersonCollectionViewModel (#1177)
  docs/xamarin-forms/user-interface/layouts/contentview.md
Owners: @davidbritch

Choosing a layout (#1175)
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/user-interface/layouts/choose-layout.md
  docs/xamarin-forms/user-interface/layouts/images/layouts-large.png
  docs/xamarin-forms/user-interface/layouts/images/layouts-sml.png
  docs/xamarin-forms/user-interface/layouts/images/layouts.png
  docs/xamarin-forms/user-interface/layouts/index.yml
Owners: @davidbritch

Forms 4.2 (#1121)
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/app-fundamentals/shell/flyout-images/flyout-backgroundimage.png
  docs/xamarin-forms/app-fundamentals/shell/flyout.md
  docs/xamarin-forms/app-fundamentals/shell/index.md
  docs/xamarin-forms/app-fundamentals/shell/lifecycle.md
  docs/xamarin-forms/app-fundamentals/shell/navigation.md
  docs/xamarin-forms/app-fundamentals/shell/tabs.md
  docs/xamarin-forms/user-interface/collectionview/grouping.md
  docs/xamarin-forms/user-interface/collectionview/index.md
  docs/xamarin-forms/user-interface/collectionview/introduction.md
  docs/xamarin-forms/user-interface/collectionview/layout.md
  docs/xamarin-forms/user-interface/collectionview/populate-data.md
  docs/xamarin-forms/user-interface/collectionview/scrolling.md
  docs/xamarin-forms/user-interface/colors.md
  docs/xamarin-forms/user-interface/map.md
  docs/xamarin-forms/user-interface/styles/css/index.md
  docs/xamarin-forms/user-interface/switch-images/switch-states-colors.png
  docs/xamarin-forms/user-interface/switch-images/switch-states-oncolor.png
  docs/xamarin-forms/user-interface/switch.md
  docs/xamarin-forms/user-interface/webview.md
  docs/xamarin-forms/xaml/markup-extensions/consuming-images/fontimagedemo-large.png
  docs/xamarin-forms/xaml/markup-extensions/consuming-images/fontimagedemo.a.png
  docs/xamarin-forms/xaml/markup-extensions/consuming-images/fontimagedemo.i.png
  docs/xamarin-forms/xaml/markup-extensions/consuming-images/fontimagedemo.png
  docs/xamarin-forms/xaml/markup-extensions/consuming.md
Owners: @davidbritch

Update hot-reload.md (#1178)
  docs/xamarin-forms/xaml/hot-reload.md
Owners: @davidbritch

Fixed issue with sample link
  docs/xamarin-forms/user-interface/layouts/contentview.md
Owners: @davidbritch

Removed locale from sample link.
  docs/xamarin-forms/user-interface/layouts/contentview.md
Owners: @davidbritch

Header/footer screenshots added.
  docs/xamarin-forms/user-interface/collectionview/layout-images/header-footer-string-large.png
  docs/xamarin-forms/user-interface/collectionview/layout-images/header-footer-string.png
  docs/xamarin-forms/user-interface/collectionview/layout-images/header-footer-template-large.png
  docs/xamarin-forms/user-interface/collectionview/layout-images/header-footer-template.png
  docs/xamarin-forms/user-interface/collectionview/layout-images/header-footer-view-large.png
  docs/xamarin-forms/user-interface/collectionview/layout-images/header-footer-view.png
  docs/xamarin-forms/user-interface/collectionview/layout.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/user-interface/collectionview/layout.md
Owners: @davidbritch

Update barometer.md (#1179)
  docs/essentials/barometer.md
Owners: @jamesmontemagno

Jusjohns xaml ctrls update (#1181)
  docs/cross-platform/macios/unified/update-binding.md
  docs/ios/platform/in-app-purchasing/index.md
  docs/xamarin-forms/user-interface/controls/index.md
  docs/xamarin-forms/user-interface/controls/layouts.md
  docs/xamarin-forms/user-interface/controls/pages.md
  docs/xamarin-forms/user-interface/controls/views.md
  docs/xamarin-forms/user-interface/layouts/frame.md
  docs/xamarin-forms/user-interface/menuitem.md
  docs/xamarin-forms/user-interface/toolbaritem.md
  docs/xamarin-forms/xaml/xaml-controls.md
Owners: @conceptdev, @davidbritch

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev
