Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

Link fixes.
  docs/xamarin-forms/TOC.yml
Owners: @davidbritch

Add Hot Restart page (#1484)
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/deploy-test/hot-restart-images/itunes.png
  docs/xamarin-forms/deploy-test/hot-restart-images/restart.png
  docs/xamarin-forms/deploy-test/hot-restart-images/toolbar.png
  docs/xamarin-forms/deploy-test/hot-restart.md
  docs/xamarin-forms/deploy-test/index.yml
Owners: @davidbritch

Requirements redirect.
  .openpublishing.redirection.json
Owners: none

Link fixes.
  docs/whats-new/2019-07.md
Owners: @davidbritch

Fixed Xamarin.Forms broken links.
  docs/xamarin-forms/app-fundamentals/custom-renderer/video-player/player-creation.md
  docs/xamarin-forms/app-fundamentals/effects/touch-tracking.md
  docs/xamarin-forms/app-fundamentals/templates/control-template.md
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter02.md
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter13.md
  docs/xamarin-forms/data-cloud/authentication/oauth.md
  docs/xamarin-forms/data-cloud/azure-cognitive-services/text-translation.md
  docs/xamarin-forms/data-cloud/data/databases.md
  docs/xamarin-forms/enterprise-application-patterns/authentication-and-authorization.md
  docs/xamarin-forms/platform/windows/searchbar-spell-check.md
  docs/xamarin-forms/user-interface/controls/layouts.md
  docs/xamarin-forms/user-interface/controls/views.md
  docs/xamarin-forms/user-interface/datapages/get-started.md
  docs/xamarin-forms/user-interface/graphics/cocossharp.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/basics/animation.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/paths/dots.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/paths/fill-types.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/paths/finger-paint.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/paths/lines.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/paths/paths.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/transforms/scale.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/transforms/translate.md
  docs/xamarin-forms/user-interface/map/setup.md
  docs/xamarin-forms/user-interface/styles/css/index.md
Owners: @davidbritch

Graphics-games broken link fixes.
  docs/graphics-games/game-development/index.md
  docs/graphics-games/monogame/introduction/index.md
Owners: @conceptdev

Broken link fixes for tools.
  docs/tools/ci/devops.md
  docs/tools/ci/jenkins-walkthrough.md
  docs/tools/ci/teamcity.md
  docs/tools/dotnet-embedding/android/callbacks.md
  docs/tools/dotnet-embedding/get-started/objective-c/macos.md
Owners: @conceptdev

Broken link fixes for mac.
  docs/mac/deploy-test/debugging-native-crash.md
  docs/mac/deploy-test/publishing-to-the-app-store/app-configuration.md
  docs/mac/deploy-test/publishing-to-the-app-store/bundling.md
  docs/mac/deploy-test/publishing-to-the-app-store/certificates-identifiers.md
  docs/mac/deploy-test/publishing-to-the-app-store/index.md
  docs/mac/deploy-test/publishing-to-the-app-store/profiles.md
  docs/mac/deploy-test/publishing-to-the-app-store/signing.md
  docs/mac/deploy-test/publishing-to-the-app-store/uploading.md
  docs/mac/platform/introduction-to-macos-sierra/additional-framework-changes.md
  docs/mac/platform/opentk.md
  docs/mac/troubleshooting/mmp-errors.md
  docs/mac/troubleshooting/troubleshooting.md
Owners: @conceptdev

Broken link fixes for cross-platform
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/index.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/practical-code-sharing-strategies.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/testing-and-app-store-approvals.md
  docs/cross-platform/data-cloud/web-services/index.md
  docs/cross-platform/get-started/introduction-to-mobile-sdlc.md
  docs/cross-platform/macios/binding/objective-sharpie/releases.md
  docs/cross-platform/macios/binding/overview.md
  docs/cross-platform/macios/binding/troubleshooting.md
  docs/cross-platform/macios/unified/overview.md
  docs/cross-platform/platform/visual-basic/xamarin-forms.md
Owners: @conceptdev

Links updated.
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/testing-and-app-store-approvals.md
Owners: @conceptdev

AndroidX doc progress commit
  docs/xamarin-forms/platform/android/androidx-migration.md
Owners: @davidbritch

* Update some Storyboard docs to use Xcode
  docs/ios/user-interface/index.md
  docs/ios/user-interface/storyboards/images/add-additional-view-controller.png
  docs/ios/user-interface/storyboards/images/add-button.png
  docs/ios/user-interface/storyboards/images/add-navigation-controller.png
  docs/ios/user-interface/storyboards/images/add-storyboard2.png
  docs/ios/user-interface/storyboards/images/add-view-controller.png
  docs/ios/user-interface/storyboards/images/finishedstoryboard.png
  docs/ios/user-interface/storyboards/images/identity-panel.png
  docs/ios/user-interface/storyboards/images/namesegue.png
  docs/ios/user-interface/storyboards/images/passwordvc.png
  docs/ios/user-interface/storyboards/images/set-pink-background.png
  docs/ios/user-interface/storyboards/index.md
Owners: @conceptdev

Android link fixed.
  docs/android/index.yml
Owners: @conceptdev

Broken links fixed for Android.
  docs/android/data-cloud/google-messaging/firebase-cloud-messaging.md
  docs/android/data-cloud/google-messaging/google-cloud-messaging.md
  docs/android/data-cloud/google-messaging/remote-notifications-with-gcm.md
  docs/android/deploy-test/install-system-app.md
  docs/android/deploy-test/multicore-devices.md
  docs/android/deploy-test/publishing/publishing-to-google-play/manually-uploading-the-apk.md
  docs/android/deploy-test/signing/manually-signing-the-apk.md
  docs/android/get-started/hello-android/hello-android-deepdive.md
  docs/android/platform/android-beam.md
  docs/android/platform/binding-java-library/troubleshooting-bindings.md
  docs/android/platform/ice-cream-sandwich.md
  docs/android/platform/java-integration/working-with-jni.md
  docs/android/platform/lollipop.md
  docs/android/troubleshooting/questions/connect-android-emulator-mac-windows.md
  docs/android/troubleshooting/questions/index.md
  docs/android/troubleshooting/questions/install-android-sdk-packages.md
  docs/android/troubleshooting/resolving-library-installation-errors.md
  docs/android/user-interface/controls/calendar.md
  docs/android/user-interface/controls/edit-text.md
  docs/android/user-interface/controls/navigation-bar.md
  docs/android/user-interface/controls/texture-view.md
  docs/android/user-interface/layouts/grid-layout.md
  docs/android/user-interface/user-profile.md
Owners: @conceptdev

First draft of AndroidX complete
  docs/xamarin-forms/platform/android/androidx-migration.md
Owners: @davidbritch

Some tweaks and link fixes
  docs/xamarin-forms/platform/android/androidx-migration.md
Owners: @davidbritch

Acro and proofreading pass
  docs/xamarin-forms/platform/android/androidx-migration.md
Owners: @davidbritch

Some eng feedback updates
  docs/xamarin-forms/platform/android/androidx-migration.md
Owners: @davidbritch

Code update
  docs/ios/user-interface/controls/picker.md
Owners: @conceptdev

Broken link fixes for iOS.
  docs/ios/app-fundamentals/ats.md
  docs/ios/app-fundamentals/touch/index.md
  docs/ios/app-fundamentals/touch/ios-touch-walkthrough.md
  docs/ios/deploy-test/app-distribution/itunesmetadata.md
  docs/ios/deploy-test/debugging-in-xamarin-ios.md
  docs/ios/deploy-test/provisioning/capabilities/apple-pay-capabilities.md
  docs/ios/get-started/hello-ios/hello-ios-deepdive.md
  docs/ios/index.yml
  docs/ios/internals/api-design/index.md
  docs/ios/internals/objective-c-selectors.md
  docs/ios/platform/binding-objective-c/walkthrough.md
  docs/ios/platform/in-app-purchasing/index.md
  docs/ios/platform/in-app-purchasing/subscriptions-and-reporting.md
  docs/ios/platform/introduction-to-ios10/additional-framework-changes.md
  docs/ios/platform/introduction-to-ios6/changes-to-storekit.md
  docs/ios/platform/introduction-to-ios9/additional-framework-changes.md
  docs/ios/platform/introduction-to-ios9/ios9.md
  docs/ios/samples/index.md
  docs/ios/troubleshooting/questions/index.md
  docs/ios/troubleshooting/troubleshooting.md
  docs/ios/tvos/platform/introduction-to-tvos10/additional-framework-changes.md
  docs/ios/user-interface/controls/creating-tabbed-applications.md
  docs/ios/user-interface/controls/webview.md
  docs/ios/user-interface/designer/designer-auto-layout.md
  docs/ios/watchos/deploy-test/appstore.md
  docs/ios/watchos/get-started/hello-watch.md
  docs/ios/watchos/platform/introduction-to-watchos3/index.md
  docs/ios/watchos/platform/notifications.md
  docs/ios/watchos/troubleshooting.md
Owners: @conceptdev

New ios landing page.
  docs/ios/index.yml
Owners: @conceptdev

Updated index and TOC to include AndroidX
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/platform/android/index.md
Owners: @davidbritch

Link fixes.
  docs/ios/index.yml
Owners: @conceptdev

See more links added.
  docs/ios/index.yml
Owners: @conceptdev

Accidental static keyword
  docs/xamarin-forms/data-cloud/data/databases.md
Owners: @davidbritch

Update troubleshooting.md
  docs/android/get-started/installation/android-emulator/troubleshooting.md
Owners: @conceptdev

New Android landing page.
  docs/android/index.yml
  docs/ios/index.yml
Owners: @conceptdev

Link fixes.
  docs/android/index.yml
Owners: @conceptdev

Edits.
  docs/android/index.yml
  docs/ios/index.yml
Owners: @conceptdev

Minor edits.
  docs/xamarin-forms/platform/android/androidx-migration.md
Owners: @davidbritch

Xref fixes.
  docs/xamarin-forms/user-interface/carouselview/layout.md
Owners: @davidbritch

xref link fixes
  docs/xamarin-forms/user-interface/carouselview/layout.md
Owners: @davidbritch

xref link fixes.
  docs/xamarin-forms/user-interface/collectionview/layout.md
Owners: @davidbritch

xref fixed.
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter24.md
Owners: @davidbritch

* Update images to use light mode
  docs/ios/TOC.yml
  docs/ios/user-interface/storyboards/images/add-additional-view-controller.png
  docs/ios/user-interface/storyboards/images/add-button.png
  docs/ios/user-interface/storyboards/images/add-navigation-controller.png
  docs/ios/user-interface/storyboards/images/add-storyboard2.png
  docs/ios/user-interface/storyboards/images/add-view-controller.png
  docs/ios/user-interface/storyboards/images/identity-panel.png
  docs/ios/user-interface/storyboards/images/namesegue.png
  docs/ios/user-interface/storyboards/images/passwordvc.png
  docs/ios/user-interface/storyboards/images/set-pink-background.png
Owners: @conceptdev

Code layout fixed.
  docs/ios/user-interface/storyboards/index.md
Owners: @conceptdev

Screenshots added to CarouselView docs.
  docs/xamarin-forms/user-interface/carouselview/interaction-images/current-item-events-large.png
  docs/xamarin-forms/user-interface/carouselview/interaction-images/current-item-events.png
  docs/xamarin-forms/user-interface/carouselview/interaction-images/current-position-events-large.png
  docs/xamarin-forms/user-interface/carouselview/interaction-images/current-position-events.png
  docs/xamarin-forms/user-interface/carouselview/interaction-images/preset-item-large.png
  docs/xamarin-forms/user-interface/carouselview/interaction-images/preset-item.png
  docs/xamarin-forms/user-interface/carouselview/interaction-images/preset-position-large.png
  docs/xamarin-forms/user-interface/carouselview/interaction-images/preset-position.png
  docs/xamarin-forms/user-interface/carouselview/interaction.md
  docs/xamarin-forms/user-interface/carouselview/introduction-images/indicators-large.png
  docs/xamarin-forms/user-interface/carouselview/introduction-images/indicators.png
  docs/xamarin-forms/user-interface/carouselview/introduction.md
  docs/xamarin-forms/user-interface/carouselview/layout-images/horizontal-large.png
  docs/xamarin-forms/user-interface/carouselview/layout-images/horizontal.png
  docs/xamarin-forms/user-interface/carouselview/layout-images/peek-items-large.png
  docs/xamarin-forms/user-interface/carouselview/layout-images/peek-items.png
  docs/xamarin-forms/user-interface/carouselview/layout-images/runtime-resizing-large.png
  docs/xamarin-forms/user-interface/carouselview/layout-images/runtime-resizing.png
  docs/xamarin-forms/user-interface/carouselview/layout-images/vertical-large.png
  docs/xamarin-forms/user-interface/carouselview/layout-images/vertical.png
  docs/xamarin-forms/user-interface/carouselview/layout.md
  docs/xamarin-forms/user-interface/carouselview/scrolling-images/snappoints-center-large.png
  docs/xamarin-forms/user-interface/carouselview/scrolling-images/snappoints-center.png
  docs/xamarin-forms/user-interface/carouselview/scrolling-images/snappoints-end-large.png
  docs/xamarin-forms/user-interface/carouselview/scrolling-images/snappoints-end.png
  docs/xamarin-forms/user-interface/carouselview/scrolling-images/snappoints-none-large.png
  docs/xamarin-forms/user-interface/carouselview/scrolling-images/snappoints-none.png
  docs/xamarin-forms/user-interface/carouselview/scrolling-images/snappoints-start-large.png
  docs/xamarin-forms/user-interface/carouselview/scrolling-images/snappoints-start.png
  docs/xamarin-forms/user-interface/carouselview/scrolling.md
Owners: @davidbritch

Image tidy up.
  docs/xamarin-forms/user-interface/carouselview/scrolling-images/snappoints-center.png
  docs/xamarin-forms/user-interface/carouselview/scrolling-images/snappoints-end.png
  docs/xamarin-forms/user-interface/carouselview/scrolling-images/snappoints-none.png
  docs/xamarin-forms/user-interface/carouselview/scrolling-images/snappoints-start.png
  docs/xamarin-forms/user-interface/carouselview/scrolling.md
Owners: @davidbritch

Update sharpie tools
  docs/ios/platform/binding-objective-c/walkthrough.md
Owners: @conceptdev

update to XCode 11.3
  docs/ios/platform/binding-objective-c/walkthrough.md
Owners: @conceptdev

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev
