Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

Added index link to platform support page
  docs/xamarin-forms/platform/other/index.md
Owners: @davidbritch

"exteral" -> "external" misspelling fix
  docs/android/platform/files/external-storage.md
Owners: @conceptdev

"as been" -> "has been" typo fix
  docs/ios/app-fundamentals/images-icons/displaying-an-image.md
Owners: @conceptdev

Update .openpublishing.publish.config.json
  .openpublishing.publish.config.json
Owners: none

Update keyboard.md
  docs/xamarin-forms/app-fundamentals/accessibility/keyboard.md
Owners: @davidbritch

Update get-started.md
  docs/ios/platform/ios13/get-started.md
Owners: @conceptdev

Typo "**@drawable/monkey**"→"**\@drawable/monkey**"
  docs/android/platform/binding-java-library/binding-an-aar.md
Owners: @conceptdev

Fix markdown
  docs/android/platform/files/external-storage.md
Owners: @conceptdev

Fix markdown
  docs/xamarin-forms/user-interface/controls/layouts.md
Owners: @davidbritch

Fixed ScaleTo links.
  docs/xamarin-forms/user-interface/animation/simple.md
Owners: @davidbritch

Fixed sample link.
  docs/xamarin-forms/user-interface/controls/layouts.md
Owners: @davidbritch

IsTapStop to IsTabStop
  docs/xamarin-forms/app-fundamentals/accessibility/keyboard.md
Owners: @davidbritch

Defined EnterActions and ExitActions
  docs/xamarin-forms/app-fundamentals/triggers.md
Owners: @davidbritch

PCL to .NET standard library
  docs/xamarin-forms/data-cloud/data/files.md
Owners: @davidbritch

Updates.
  .openpublishing.publish.config.json
  docs/xamarin-forms/platform/other/gtk.md
  docs/xamarin-forms/platform/other/index.md
  docs/xamarin-forms/platform/other/wpf.md
Owners: @davidbritch

PR feedback changes
  docs/xamarin-forms/user-interface/splashscreen.md
Owners: @davidbritch

Fixed essentials linking to wrong page
  docs/index.yml
Owners: none

Allows for getting a PNG from the gallery without turning it into a JPG
  docs/xamarin-forms/app-fundamentals/dependency-service/photo-picker.md
Owners: @davidbritch

Code update.
  docs/xamarin-forms/app-fundamentals/dependency-service/photo-picker.md
Owners: @davidbritch

Surrounding text updated.
  docs/xamarin-forms/app-fundamentals/dependency-service/photo-picker.md
Owners: @davidbritch

Disabed metadata validation to allow build to proceed.
  .openpublishing.publish.config.json
Owners: none

Routine > Sequence
  docs/xamarin-forms/user-interface/splashscreen.md
Owners: @davidbritch

Added splash screens to UI index
  docs/xamarin-forms/user-interface/index.yml
Owners: @davidbritch

Typo fixed.
  docs/xamarin-forms/user-interface/graphics/skiasharp/basics/circle.md
Owners: @davidbritch

Clarification.
  docs/xamarin-forms/app-fundamentals/messaging-center.md
Owners: @davidbritch

Platform specific not just for iPads.
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/platform/ios/index.md
  docs/xamarin-forms/platform/ios/page-presentation-style.md
Owners: @davidbritch

Update tabbed-page.md
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page.md
Owners: @davidbritch

Update page to mention about App Center
  docs/cross-platform/data-cloud/mobile-apps.md
Owners: @conceptdev

Update mobile-apps.md
  docs/cross-platform/data-cloud/mobile-apps.md
Owners: @conceptdev

Fixed the wrong link
  docs/android/platform/android-10.md
Owners: @conceptdev

MS Mobile OpenJDK is not in preview anymore
  docs/android/get-started/installation/android-sdk.md
Owners: @conceptdev

rough layout of doc
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

intro
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

interface
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

interface implementation
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

Android implementation
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

Stubbed out related links
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

rough draft in place. needs screenshots
  docs/xamarin-forms/app-fundamentals/local-notifications.md
Owners: @davidbritch

Fixed wrong code block language tags
  docs/ios/platform/passkit.md
Owners: @conceptdev

Links fixed.
  docs/tools/ci/teamcity.md
Owners: @conceptdev

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev
