Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev

remove other incorrect 'optional' mentions
  docs/android/data-cloud/data-access/using-sqlite-orm.md
  docs/ios/data-cloud/data/using-sqlite-orm.md
Owners: @conceptdev

Mistype fixed + clarification about `managedType`
  docs/android/platform/binding-java-library/customizing-bindings/java-bindings-metadata.md
Owners: @conceptdev

Mistype fixed + clarification about `managedType` (#2384)
  docs/android/platform/binding-java-library/customizing-bindings/java-bindings-metadata.md
Owners: @conceptdev

[android] fix intent method
  docs/android/app-fundamentals/services/creating-a-service/intent-services.md
Owners: @conceptdev

[ios] update old notifications link (#1395)
  docs/ios/platform/user-notifications/index.md
Owners: @conceptdev

[anrdoid] remove broken links
  docs/android/user-interface/controls/action-bar.md
Owners: @conceptdev

[android] add App Center deploy link (#1397)
  docs/android/deploy-test/publishing/index.md
Owners: @conceptdev

Update get-started.md
  docs/essentials/get-started.md
Owners: @jamesmontemagno

[android] remove broken bugzilla link
  docs/android/troubleshooting/troubleshooting.md
Owners: @conceptdev

Fixed docs code that doesn't match sample
  docs/android/platform/fingerprint-authentication/creating-a-cryptoobject.md
Owners: @conceptdev

[android] debuggable notes (#1401)
  docs/android/deploy-test/debuggable-attribute.md
Owners: @conceptdev

remove references to IsEnabled being read-only
  docs/xamarin-forms/user-interface/menuitem.md
Owners: @davidbritch

Update toolbaritem.md
  docs/xamarin-forms/user-interface/toolbaritem.md
Owners: @davidbritch

Update menuitem.md
  docs/xamarin-forms/user-interface/menuitem.md
Owners: @davidbritch

Update toolbaritem.md
  docs/xamarin-forms/user-interface/toolbaritem.md
Owners: @davidbritch

Update authentication-and-authorization.md
  docs/xamarin-forms/enterprise-application-patterns/authentication-and-authorization.md
Owners: @davidbritch

[watchsos] remove outdated code/sample links (#1402)
  docs/ios/watchos/app-fundamentals/parent-app.md
Owners: @conceptdev

[ios] fix 'migrate to asset catalogs' text/images (#1403)
  docs/ios/app-fundamentals/images-icons/app-icons-images/image007.png
  docs/ios/app-fundamentals/images-icons/app-icons-images/migrate01.png
  docs/ios/app-fundamentals/images-icons/app-icons-images/migrate02.png
  docs/ios/app-fundamentals/images-icons/app-icons-images/migrate03.png
  docs/ios/app-fundamentals/images-icons/app-icons-images/plist01.png
  docs/ios/app-fundamentals/images-icons/app-icons-images/prerender01.png
  docs/ios/app-fundamentals/images-icons/app-icons-images/prerender01vs.png
  docs/ios/app-fundamentals/images-icons/app-icons.md
Owners: @conceptdev

Fix a grammar mistake
  docs/xamarin-forms/deploy-test/performance.md
Owners: @davidbritch

BorderRadius becomes CornerRadius.
  docs/get-started/quickstarts/styling.md
Owners: @davidbritch

Note about using SecureStorage.
  docs/xamarin-forms/data-cloud/authentication/oauth.md
Owners: @davidbritch

Updated FadeTriggerAction code.
  docs/xamarin-forms/app-fundamentals/triggers.md
Owners: @davidbritch

add documentation
  docs/tools/dotnet-embedding/limitations.md
Owners: @conceptdev

fix explanation
  docs/tools/dotnet-embedding/limitations.md
Owners: @conceptdev

code formatted
  docs/ios/user-interface/controls/tables/populating-a-table-with-data.md
Owners: @conceptdev

Multiple setters are allowed in all triggers.
  docs/xamarin-forms/app-fundamentals/triggers.md
Owners: @davidbritch

StackLayout inside ScrollView
  docs/xamarin-forms/user-interface/layouts/scroll-view.md
Owners: @davidbritch

Link fixed.
  docs/xamarin-forms/user-interface/index.yml
Owners: @davidbritch

Added section on all visual states.
  docs/xamarin-forms/user-interface/visual-state-manager.md
Owners: @davidbritch

Edits.
  docs/xamarin-forms/user-interface/visual-state-manager.md
Owners: @davidbritch

File deleted.
  docs/xamarin-forms/user-interface/messagingcenter.png
Owners: @davidbritch

Thread clarification.
  docs/xamarin-forms/app-fundamentals/messaging-center.md
Owners: @davidbritch

SearchBoxVisibility behavior clarified.
  docs/xamarin-forms/app-fundamentals/shell/search.md
Owners: @davidbritch

add sebastien's suggestion
  docs/tools/dotnet-embedding/limitations.md
Owners: @conceptdev

fix formatting and grammar
  docs/tools/dotnet-embedding/limitations.md
Owners: @conceptdev

Removed erroneous sentence.
  docs/xamarin-forms/user-interface/text/fonts.md
Owners: @davidbritch

Added text about disclosure indicators.
  docs/xamarin-forms/user-interface/collectionview/introduction.md
Owners: @davidbritch

IndicatorView updates + Dec what's new (#1405)
  docs/whats-new/2019-07.md
  docs/whats-new/2019-08.md
  docs/whats-new/2019-10.md
  docs/whats-new/2019-12.md
  docs/whats-new/TOC.yml
  docs/whats-new/index.yml
  docs/xamarin-forms/app-fundamentals/custom-renderer/hybridwebview.md
  docs/xamarin-forms/app-fundamentals/custom-renderer/renderers.md
  docs/xamarin-forms/data-cloud/authentication/azure-ad-b2c.md
  docs/xamarin-forms/data-cloud/azure-services/azure-notification-hub.md
  docs/xamarin-forms/user-interface/carouselview/populate-data-images/indicators-large.png
  docs/xamarin-forms/user-interface/carouselview/populate-data-images/indicators.png
  docs/xamarin-forms/user-interface/carouselview/populate-data.md
  docs/xamarin-forms/user-interface/controls/cells.md
  docs/xamarin-forms/user-interface/controls/index.md
  docs/xamarin-forms/user-interface/controls/views-images/IndicatorView-Large.png
  docs/xamarin-forms/user-interface/controls/views-images/IndicatorView.a.png
  docs/xamarin-forms/user-interface/controls/views-images/IndicatorView.i.png
  docs/xamarin-forms/user-interface/controls/views-images/IndicatorView.png
  docs/xamarin-forms/user-interface/controls/views.md
  docs/xamarin-forms/user-interface/indicatorview-images/templated-large.png
  docs/xamarin-forms/user-interface/indicatorview-images/templated.png
  docs/xamarin-forms/user-interface/indicatorview.md
  docs/xamarin-forms/xaml/xaml-controls-images/IndicatorView.png
  docs/xamarin-forms/xaml/xaml-controls.md
Owners: @davidbritch

Forms issues (#1407)
  docs/get-started/quickstarts/styling.md
  docs/xamarin-forms/app-fundamentals/messaging-center.md
  docs/xamarin-forms/app-fundamentals/shell/search.md
  docs/xamarin-forms/app-fundamentals/triggers.md
  docs/xamarin-forms/data-cloud/authentication/oauth.md
  docs/xamarin-forms/user-interface/collectionview/introduction.md
  docs/xamarin-forms/user-interface/index.yml
  docs/xamarin-forms/user-interface/layouts/scroll-view.md
  docs/xamarin-forms/user-interface/messagingcenter.png
  docs/xamarin-forms/user-interface/text/fonts.md
  docs/xamarin-forms/user-interface/visual-state-manager.md
Owners: @davidbritch

Link from Azure docs to free account pages (#1408)
  docs/xamarin-forms/data-cloud/authentication/azure-ad-b2c.md
  docs/xamarin-forms/data-cloud/authentication/azure-cosmosdb-auth.md
  docs/xamarin-forms/data-cloud/azure-cognitive-services/emotion-recognition.md
  docs/xamarin-forms/data-cloud/azure-cognitive-services/speech-recognition.md
  docs/xamarin-forms/data-cloud/azure-cognitive-services/spell-check.md
  docs/xamarin-forms/data-cloud/azure-cognitive-services/text-translation.md
  docs/xamarin-forms/data-cloud/azure-services/azure-cosmosdb.md
  docs/xamarin-forms/data-cloud/azure-services/azure-functions.md
  docs/xamarin-forms/data-cloud/azure-services/azure-notification-hub.md
  docs/xamarin-forms/data-cloud/azure-services/azure-search.md
  docs/xamarin-forms/data-cloud/azure-services/azure-signalr.md
  docs/xamarin-forms/data-cloud/azure-services/azure-storage.md
Owners: @davidbritch
