Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

Xamarin 101 videos (#1337)
  docs/get-started/quickstarts/deepdive.md
  docs/get-started/what-is-xamarin.md
  docs/xamarin-forms/app-fundamentals/application-class.md
  docs/xamarin-forms/troubleshooting/questions/forms-xaml-designer.md
  docs/xamarin-forms/xaml/xaml-basics/data-bindings-to-mvvm.md
  docs/xamarin-forms/xaml/xaml-basics/index.md
Owners: @davidbritch

Typo and wording fixes
  docs/ios/get-started/objective-c-developers/primer.md
Owners: @conceptdev

Added note to CSS doc about Span bugs (#1338)
  docs/xamarin-forms/user-interface/styles/css/index.md
Owners: @davidbritch

L141225: Fixing link
  docs/get-started/tutorials/listview/includes/item-selection.md
Owners: @davidbritch

Use dotnetcli
  docs/cross-platform/deploy-test/connect-to-local-web-services.md
Owners: @conceptdev

Use dotnetcli (#2314)
  docs/cross-platform/deploy-test/connect-to-local-web-services.md
Owners: @conceptdev

Update get-started.md
  docs/essentials/get-started.md
Owners: @jamesmontemagno

Fixed #2323
  docs/essentials/platform-extensions.md
Owners: @jamesmontemagno

Update get-started-with-xaml.md
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
Owners: @davidbritch

Update number of colors from 141 to 140
  docs/xamarin-forms/user-interface/boxview.md
Owners: @davidbritch

add default flyout template
  docs/xamarin-forms/app-fundamentals/shell/flyout.md
Owners: @davidbritch

- fix spelling
  docs/xamarin-forms/app-fundamentals/shell/flyout.md
Owners: @davidbritch

Jusjohns material visual casing (#1346)
  docs/xamarin-forms/user-interface/visual/material-visual.md
Owners: @davidbritch

Fixes #1344
  docs/xamarin-forms/user-interface/text/label.md
Owners: @davidbritch

Clarification.
  docs/xamarin-forms/user-interface/map/pins.md
Owners: @davidbritch

Clarification.
  docs/xamarin-forms/user-interface/text/label.md
Owners: @davidbritch

Add missing void and semi-colon.
  docs/android/app-fundamentals/broadcast-receivers.md
Owners: @conceptdev

Add missing void and semi-colon. (#2341)
  docs/android/app-fundamentals/broadcast-receivers.md
Owners: @conceptdev

New Xamarin.Forms landing page (#1330)
  docs/index.yml
  docs/xamarin-forms/index.yml
Owners: @davidbritch

Android rewrite
  docs/xamarin-forms/data-cloud/azure-services/azure-notification-hub.md
Owners: @davidbritch

Update iOS code changes
  docs/xamarin-forms/data-cloud/azure-services/azure-notification-hub.md
Owners: @davidbritch

Fixed step ordering errors
  docs/xamarin-forms/data-cloud/azure-services/azure-notification-hub.md
Owners: @davidbritch

Async guidance.
  docs/xamarin-forms/deploy-test/performance.md
Owners: @davidbritch

Edits.
  docs/xamarin-forms/deploy-test/performance.md
Owners: @davidbritch

Update menuitem.md
  docs/xamarin-forms/user-interface/menuitem.md
Owners: @davidbritch

Update toolbaritem.md
  docs/xamarin-forms/user-interface/toolbaritem.md
Owners: @davidbritch

Update toolbaritem.md
  docs/xamarin-forms/user-interface/toolbaritem.md
Owners: @davidbritch

Update toolbaritem.md
  docs/xamarin-forms/user-interface/toolbaritem.md
Owners: @davidbritch

Update menuitem.md
  docs/xamarin-forms/user-interface/menuitem.md
Owners: @davidbritch

Update menuitem.md
  docs/xamarin-forms/user-interface/menuitem.md
Owners: @davidbritch

Update menuitem.md
  docs/xamarin-forms/user-interface/menuitem.md
Owners: @davidbritch

Update menuitem.md
  docs/xamarin-forms/user-interface/menuitem.md
Owners: @davidbritch

Update menuitem.md
  docs/xamarin-forms/user-interface/menuitem.md
Owners: @davidbritch

Update toolbaritem.md
  docs/xamarin-forms/user-interface/toolbaritem.md
Owners: @davidbritch

Update menuitem.md
  docs/xamarin-forms/user-interface/menuitem.md
Owners: @davidbritch

Update toolbaritem.md
  docs/xamarin-forms/user-interface/toolbaritem.md
Owners: @davidbritch

Async perf edits.
  docs/xamarin-forms/deploy-test/performance.md
Owners: @davidbritch

Acrolinx edits.
  docs/xamarin-forms/deploy-test/performance.md
Owners: @davidbritch

Code fixed.
  docs/xamarin-forms/user-interface/graphics/skiasharp/basics/bitmaps.md
Owners: @davidbritch

Update links for Android errors and warnings page (#1310)
  .openpublishing.redirection.json
  docs/android/TOC.yml
  docs/android/troubleshooting/errors.md
  docs/android/troubleshooting/index.md
Owners: @conceptdev

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev
