Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev

Update ios-maps-walkthrough.md
  docs/ios/user-interface/controls/ios-maps/ios-maps-walkthrough.md
Owners: @conceptdev

Dark Mode theming docs
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/user-interface/dark-mode.md
  docs/xamarin-forms/user-interface/index.yml
  docs/xamarin-forms/user-interface/theming.md
Owners: @davidbritch

Update permissions.md
  docs/essentials/permissions.md
Owners: @jamesmontemagno

Typos fixed.
  docs/xamarin-forms/xaml/runtime-load.md
Owners: @davidbritch

FlattenConic now sets the points.
  docs/xamarin-forms/user-interface/graphics/skiasharp/curves/information.md
Owners: @davidbritch

Should keep referring to the example button as myButton
  docs/ios/user-interface/controls/buttons.md
Owners: @conceptdev

stubbed out some documentation pages for dual screen
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns.md
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-info.md
  docs/xamarin-forms/app-fundamentals/dual-screen/index.md
  docs/xamarin-forms/app-fundamentals/dual-screen/twopaneview.md
Owners: @davidbritch

Updated design patterns
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns.md
  docs/xamarin-forms/app-fundamentals/dual-screen/index.md
Owners: @davidbritch

fixed tabs
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns.md
Owners: @davidbritch

Styling quickstart update.
  docs/get-started/quickstarts/styling-images/screenshots1-sml.png
  docs/get-started/quickstarts/styling-images/screenshots1.png
  docs/get-started/quickstarts/styling-images/screenshots2-sml.png
  docs/get-started/quickstarts/styling-images/screenshots2.png
  docs/get-started/quickstarts/styling.md
Owners: @davidbritch

Replaced image.
  docs/get-started/quickstarts/styling-images/screenshots2-sml.png
Owners: @davidbritch

MediaElement doc
  docs/xamarin-forms/user-interface/mediaelement-images/mediaelement-android.png
  docs/xamarin-forms/user-interface/mediaelement.md
Owners: @davidbritch

adding references to MediaElement in nav and index of views
  docs/xamarin-forms/user-interface/controls/views.md
  docs/xamarin-forms/user-interface/index.yml
Owners: @davidbritch

UWP requires ServiceToken setting for geocoding.
  docs/xamarin-forms/user-interface/map/setup.md
Owners: @davidbritch

Change to note.
  docs/xamarin-forms/user-interface/map/setup.md
Owners: @davidbritch

Add known hot restart issue
  docs/xamarin-forms/deploy-test/hot-restart.md
Owners: @davidbritch

re-removing a file that was previously removed
  docs/get-started/requirements.md
Owners: @davidbritch

revisions for comments
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns.md
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-info.md
  docs/xamarin-forms/app-fundamentals/dual-screen/index.md
  docs/xamarin-forms/app-fundamentals/dual-screen/twopaneview.md
Owners: @davidbritch

updated github sample link
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns.md
  docs/xamarin-forms/app-fundamentals/dual-screen/twopaneview.md
Owners: @davidbritch

adding to navigation
  docs/xamarin-forms/app-fundamentals/index.yml
  docs/xamarin-forms/index.yml
Owners: @davidbritch

corrections to MediaElement
  docs/xamarin-forms/user-interface/mediaelement.md
Owners: @davidbritch

updated mediaelement sample github url
  docs/xamarin-forms/user-interface/mediaelement.md
Owners: @davidbritch

- basic xaml
  docs/xamarin-forms/app-fundamentals/dual-screen/twopaneview.md
Owners: @davidbritch

- dual screen
  docs/xamarin-forms/app-fundamentals/dual-screen/twopaneview.md
Owners: @davidbritch

- dual screen info
  docs/xamarin-forms/app-fundamentals/dual-screen-images/grid-on-two-screens.png
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-info.md
  docs/xamarin-forms/app-fundamentals/dual-screen/twopaneview.md
Owners: @davidbritch

- hinge angle api
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-info.md
Owners: @davidbritch

Fix remaining errors and make publishable.
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns-images/companion-pane-sample.png
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns-images/dual-view-sample.png
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns-images/extended-canvas-sample.png
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns-images/master-detail-sample.png
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns-images/two-page-sample.png
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns.md
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-info-images/grid-on-two-screens.png
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-info.md
  docs/xamarin-forms/app-fundamentals/dual-screen/twopaneview.md
  docs/xamarin-forms/user-interface/controls/views.md
  docs/xamarin-forms/user-interface/mediaelement.md
Owners: @davidbritch

Added note about UpdateSelectedItems property.
  docs/xamarin-forms/user-interface/collectionview/selection.md
Owners: @davidbritch

Animation.IsEnabled property.
  docs/xamarin-forms/user-interface/animation/custom.md
Owners: @davidbritch

Adding new triggers
  docs/xamarin-forms/app-fundamentals/triggers.md
Owners: @davidbritch

- toc
  docs/xamarin-forms/TOC.yml
Owners: @davidbritch

- dual screen helper
  docs/xamarin-forms/TOC.yml
  docs/xamarin-forms/app-fundamentals/dual-screen/dual-screen-helper.md
  docs/xamarin-forms/app-fundamentals/dual-screen/index.md
Owners: @davidbritch

- adaptive trigger
  docs/xamarin-forms/app-fundamentals/triggers.md
Owners: @davidbritch

- index fix
  docs/xamarin-forms/app-fundamentals/dual-screen/index.md
Owners: @davidbritch

xref fixes
  docs/get-started/quickstarts/deepdive.md
  docs/get-started/tutorials/app-lifecycle/includes/persist-data.md
  docs/get-started/tutorials/editor/includes/create.md
  docs/get-started/tutorials/editor/includes/text-changes.md
  docs/get-started/tutorials/entry/includes/create.md
  docs/get-started/tutorials/entry/includes/text-changes.md
  docs/get-started/tutorials/local-database/includes/consume-data-access-classes.md
  docs/get-started/tutorials/web-service/includes/consume-web-service-classes.md
  docs/xamarin-forms/app-fundamentals/accessibility/automation-properties.md
  docs/xamarin-forms/app-fundamentals/behaviors/attached.md
  docs/xamarin-forms/app-fundamentals/behaviors/creating.md
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter15.md
  docs/xamarin-forms/user-interface/carouselview/emptyview.md
  docs/xamarin-forms/user-interface/collectionview/emptyview.md
  docs/xamarin-forms/user-interface/controls/views.md
  docs/xamarin-forms/user-interface/searchbar.md
  docs/xamarin-forms/user-interface/styles/xaml/implicit.md
  docs/xamarin-forms/user-interface/text/editor.md
  docs/xamarin-forms/user-interface/text/entry.md
Owners: @davidbritch

xref fixes
  docs/xamarin-forms/user-interface/collectionview/layout.md
Owners: @davidbritch

Updates for Forms 4.5-pre3
  docs/xamarin-forms/user-interface/swipeview.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/user-interface/swipeview.md
Owners: @davidbritch

Visual states.
  docs/xamarin-forms/user-interface/carouselview/interaction-images/visual-states-large.png
  docs/xamarin-forms/user-interface/carouselview/interaction-images/visual-states.png
  docs/xamarin-forms/user-interface/carouselview/interaction.md
  docs/xamarin-forms/user-interface/visual-state-manager.md
Owners: @davidbritch

Edits.
  docs/xamarin-forms/user-interface/carouselview/interaction.md
  docs/xamarin-forms/user-interface/visual-state-manager.md
Owners: @davidbritch
