Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev

Correct microtesla abbreviation (#2082)
  docs/essentials/magnetometer.md
Owners: @jamesmontemagno

fix: MD007/ul-indent (#2083)
  .markdownlint.json
  contributing-guidelines/template.md
  docs/android/app-fundamentals/resources-in-android/alternate-resources.md
  docs/android/app-fundamentals/touch/android-touch-walkthrough.md
  docs/android/deploy-test/building-apps/abi-specific-apks.md
  docs/android/deploy-test/building-apps/build-process.md
  docs/android/get-started/installation/android-emulator/device-manager.md
  docs/android/get-started/installation/android-emulator/hardware-acceleration.md
  docs/android/internals/api-design.md
  docs/android/platform/binding-java-library/troubleshooting-bindings.md
  docs/android/platform/kitkat.md
  docs/android/troubleshooting/troubleshooting.md
  docs/cross-platform/desktop/controls/wpf.md
  docs/cross-platform/troubleshooting/questions/version-logs.md
  docs/ios/deploy-test/app-distribution/in-house-distribution.md
  docs/ios/deploy-test/provisioning/entitlements.md
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
  docs/ios/get-started/installation/windows/connecting-to-mac/index.md
  docs/ios/get-started/installation/windows/index.md
  docs/ios/internals/registrar.md
  docs/ios/platform/introduction-to-ios11/updating-your-app/app-store-changes.md
  docs/ios/platform/introduction-to-ios12/siri-shortcuts.md
  docs/ios/platform/introduction-to-ios12/troubleshooting.md
  docs/ios/platform/sirikit/understanding-sirikit.md
  docs/ios/platform/speech.md
  docs/ios/user-interface/controls/labels.md
  docs/ios/user-interface/controls/searchbar.md
  docs/mac/app-fundamentals/sandboxing.md
  docs/mac/user-interface/outline-view.md
  docs/tools/dotnet-embedding/get-started/install/install.md
  docs/xamarin-forms/user-interface/listview/index.md
  docs/xamarin-forms/user-interface/listview/performance.md
  docs/xamarin-forms/user-interface/map.md
Owners: @conceptdev, @davidbritch

fix: MD045/no-alt-text (#2092)
  docs/ios/deploy-test/app-distribution/ad-hoc-distribution.md
  docs/mac/platform/storyboards/indepth.md
  docs/tools/profiler/index.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/curves/arcs.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/curves/beziers.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/curves/clipping.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/curves/effects.md
  docs/xamarin-forms/user-interface/styles/xaml/dynamic.md
  docs/xamarin-forms/user-interface/styles/xaml/explicit.md
  docs/xamarin-forms/user-interface/styles/xaml/implicit.md
  docs/xamarin-forms/user-interface/styles/xaml/introduction.md
  docs/xamarin-forms/user-interface/styles/xaml/style-class.md
  docs/xamarin-forms/user-interface/tableview.md
  docs/xamarin-forms/user-interface/text/entry.md
  docs/xamarin-forms/user-interface/text/index.md
  docs/xamarin-forms/user-interface/text/label.md
  docs/xamarin-forms/user-interface/text/styles.md
  docs/xamarin-forms/user-interface/webview.md
  docs/xamarin-forms/xaml/passing-arguments.md
  docs/xamarin-forms/xaml/resource-dictionaries.md
  docs/xamarin-forms/xaml/xaml-basics/data-binding-basics.md
  docs/xamarin-forms/xaml/xaml-basics/essential-xaml-syntax.md
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
  docs/xamarin-forms/xaml/xaml-basics/xaml-markup-extensions.md
Owners: @conceptdev, @davidbritch

[android] fix binding screenshot
  docs/android/platform/binding-java-library/binding-an-aar-images/01-new-bindings-library-vs-sml.w157.png
  docs/android/platform/binding-java-library/binding-an-aar-images/01-new-bindings-library-vs-sml.w160.png
  docs/android/platform/binding-java-library/binding-an-aar-images/01-new-bindings-library-vs.w157.png
  docs/android/platform/binding-java-library/binding-an-aar-images/01-new-bindings-library-vs.w160.png
  docs/android/platform/binding-java-library/binding-an-aar.md
Owners: @conceptdev

fix: MD027/no-multiple-space-blockquote
  .markdownlint.json
  docs/android/deploy-test/debugging/index.md
  docs/android/platform/maps-and-location/location.md
  docs/get-started/requirements.md
  docs/ios/deploy-test/app-distribution/app-store-distribution/itunesconnect.md
  docs/ios/internals/xib-code-generation.md
  docs/tools/workbooks/sdk/index.md
  docs/xamarin-forms/app-fundamentals/templates/control-templates/introduction.md
  docs/xamarin-forms/data-cloud/azure-services/azure-search.md
  docs/xamarin-forms/user-interface/layouts/custom.md
Owners: @conceptdev, @davidbritch

fix: MD027/no-multiple-space-blockquote (#2084)
  .markdownlint.json
  docs/android/deploy-test/debugging/index.md
  docs/android/platform/maps-and-location/location.md
  docs/get-started/requirements.md
  docs/ios/deploy-test/app-distribution/app-store-distribution/itunesconnect.md
  docs/ios/internals/xib-code-generation.md
  docs/tools/workbooks/sdk/index.md
  docs/xamarin-forms/app-fundamentals/templates/control-templates/introduction.md
  docs/xamarin-forms/data-cloud/azure-services/azure-search.md
  docs/xamarin-forms/user-interface/layouts/custom.md
Owners: @conceptdev, @davidbritch

remove xrefservice config (#1191)
  docs/docfx.json
Owners: none

fix invalid xref (#1192)
  docs/xamarin-forms/internals/dependency-resolution.md
  docs/xamarin-forms/user-interface/button.md
Owners: @davidbritch

[mac] new landing page template (#1194)
  docs/mac/index.yml
Owners: @conceptdev

fix: MD012/no-multiple-blanks
  .markdownlint.json
  docs/android/platform/android-job-scheduler.md
  docs/android/platform/binding-java-library/binding-a-jar.md
  docs/android/platform/fingerprint-authentication/enrolling-fingerprint.md
  docs/ios/platform/in-app-purchasing/in-app-purchase-basics-and-configuration.md
  docs/ios/platform/in-app-purchasing/purchasing-consumable-products.md
  docs/ios/platform/in-app-purchasing/purchasing-non-consumable-products.md
  docs/ios/platform/in-app-purchasing/store-kit-overview-and-retreiving-product-information.md
  docs/ios/platform/in-app-purchasing/subscriptions-and-reporting.md
  docs/ios/platform/introduction-to-ios6/index.md
  docs/ios/tvos/user-interface/collection-views.md
  docs/ios/user-interface/storyboards/index.md
Owners: @conceptdev

fix a wrong visual studio version
  docs/ios/get-started/installation/windows/connecting-to-mac/index.md
Owners: @conceptdev

fix a wrong visual studio version (#2096)
  docs/ios/get-started/installation/windows/connecting-to-mac/index.md
Owners: @conceptdev

add '/uwp/api' tags for resolving uid Windows.UI.Xaml.Controls.MediaElement.* (#1195)
  .openpublishing.publish.config.json
Owners: none

Jusjohns listview (#1196)
  docs/xamarin-forms/user-interface/listview/images/context-default-cropped.png
  docs/xamarin-forms/user-interface/listview/images/context-default.png
  docs/xamarin-forms/user-interface/listview/images/grouping-depth-cropped.png
  docs/xamarin-forms/user-interface/listview/images/grouping-depth.png
  docs/xamarin-forms/user-interface/listview/images/image-cell-default-cropped.png
  docs/xamarin-forms/user-interface/listview/images/image-cell-default.png
  docs/xamarin-forms/user-interface/listview/index.md
Owners: @davidbritch

fix: MD045/no-alt-text
  docs/graphics-games/game-development/index.md
  docs/graphics-games/monogame/3d/part3.md
  docs/tools/workbooks/workbook.md
  docs/xamarin-forms/user-interface/graphics/urhosharp.md
Owners: @conceptdev, @davidbritch

fix: MD045/no-alt-text
  docs/cross-platform/data-cloud/active-directory/get-started/register.md
  docs/cross-platform/data-cloud/active-directory/graph.md
  docs/graphics-games/game-development/index.md
  docs/ios/platform/introduction-to-ios6/index.md
  docs/ios/troubleshooting/questions/xs-mono-runtime.md
Owners: @conceptdev

fix: MD045/no-alt-text
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/case-study-tasky.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/setting-up-a-xamarin-cross-platform-solution.md
  docs/cross-platform/deploy-test/multi-process-debugging.md
  docs/ios/deploy-test/touch.unit.md
  docs/ios/platform/binding-objective-c/walkthrough.md
  docs/ios/platform/homekit.md
  docs/ios/platform/multitasking.md
  docs/ios/user-interface/monotouch.dialog/json-element-walkthrough.md
  docs/ios/watchos/app-fundamentals/navigation.md
  docs/ios/watchos/app-fundamentals/settings.md
  docs/ios/watchos/platform/notifications.md
  docs/ios/watchos/user-interface/image.md
  docs/ios/watchos/user-interface/table.md
  docs/xamarin-forms/platform/ios/formatting.md
  docs/xamarin-forms/user-interface/datapages/controls.md
Owners: @conceptdev, @davidbritch

typo: Double word "and"
  docs/essentials/launcher.md
Owners: @jamesmontemagno

typo: Double word "a"
  docs/essentials/platform-feature-support.md
Owners: @jamesmontemagno

Missing space added
  docs/xamarin-forms/user-interface/activityindicator.md
Owners: @davidbritch

Fix typo
  docs/xamarin-forms/platform/device.md
Owners: @davidbritch

typo: Double word "and" (#2109)
  docs/essentials/launcher.md
Owners: @jamesmontemagno

typo: Double word "a" (#2110)
  docs/essentials/platform-feature-support.md
Owners: @jamesmontemagno

Missing space added (#2111)
  docs/xamarin-forms/user-interface/activityindicator.md
Owners: @davidbritch

Fix typo (#2112)
  docs/xamarin-forms/platform/device.md
Owners: @davidbritch

[whatsnew] add essentials release notes (#1199)
  docs/whats-new/index.yml
Owners: @davidbritch

Add basic CarouselView docs (#1198)
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/user-interface/carouselview/carouselview-images/peek-area-insets-large.png
  docs/xamarin-forms/user-interface/carouselview/carouselview-images/peek-area-insets.png
  docs/xamarin-forms/user-interface/carouselview/carouselview-images/side-items-large.png
  docs/xamarin-forms/user-interface/carouselview/carouselview-images/side-items.png
  docs/xamarin-forms/user-interface/carouselview/index.md
  docs/xamarin-forms/user-interface/carouselview/introduction.md
  docs/xamarin-forms/user-interface/carouselview/layout.md
  docs/xamarin-forms/user-interface/collectionview/layout.md
Owners: @davidbritch

Added the constraints editor popover
  docs/ios/user-interface/designer/designer-auto-layout.md
  docs/ios/user-interface/designer/images/constraints-popup.png
  docs/ios/user-interface/designer/images/constraints-spacing.png
Owners: @conceptdev

fix: Remove link locale
  docs/ios/troubleshooting/mtouch-errors.md
Owners: @conceptdev

fix: MD012/no-multiple-blanks
  docs/xamarin-forms/user-interface/carouselview/introduction.md
Owners: @davidbritch

Fixed the review suggestions for PR 2120
  docs/ios/user-interface/designer/designer-auto-layout-images/constraints-popup.png
  docs/ios/user-interface/designer/designer-auto-layout-images/constraints-spacing.png
  docs/ios/user-interface/designer/designer-auto-layout.md
Owners: @conceptdev

Fix code per 1590447. (#1201)
  docs/android/get-started/java-developers.md
Owners: @conceptdev

Added the constraints editor popover (#2120)
  docs/ios/user-interface/designer/designer-auto-layout-images/constraints-popup.png
  docs/ios/user-interface/designer/designer-auto-layout-images/constraints-spacing.png
  docs/ios/user-interface/designer/designer-auto-layout.md
Owners: @conceptdev

fix: Remove link locale (#2122)
  docs/ios/troubleshooting/mtouch-errors.md
Owners: @conceptdev

Reformat per 1597240. (#1202)
  docs/android/user-interface/controls/buttons/check-box.md
Owners: @conceptdev

fix: MD012/no-multiple-blanks (#2123)
  docs/xamarin-forms/user-interface/carouselview/introduction.md
Owners: @davidbritch

Feature/ios13 signin (#1200)
  docs/ios/platform/ios13/index.md
  docs/ios/platform/ios13/sign-in-images/sign-in-flow.png
  docs/ios/platform/ios13/sign-in.md
  docs/xamarin-forms/platform/index.yml
  docs/xamarin-forms/platform/sign-in-with-apple/android-ios-sign-in.md
  docs/xamarin-forms/platform/sign-in-with-apple/index.md
  docs/xamarin-forms/platform/sign-in-with-apple/setup.md
  docs/xamarin-forms/platform/sign-in-with-apple/sign-in-images/readme-appid-create.png
  docs/xamarin-forms/platform/sign-in-with-apple/sign-in-images/readme-appid-signin.png
  docs/xamarin-forms/platform/sign-in-with-apple/sign-in-images/readme-key-create.png
  docs/xamarin-forms/platform/sign-in-with-apple/sign-in-images/readme-key-download.png
  docs/xamarin-forms/platform/sign-in-with-apple/sign-in-images/readme-serviceid-configure.png
  docs/xamarin-forms/platform/sign-in-with-apple/sign-in-images/readme-serviceid-create.png
  docs/xamarin-forms/platform/sign-in-with-apple/sign-in-images/readme-signin-domain-configure.png
  docs/xamarin-forms/platform/sign-in-with-apple/sign-in-images/readme-signin-domain-more.png
Owners: @conceptdev, @davidbritch

[ios] sign in with apple TOC fixes (#1203)
  docs/ios/TOC.yml
  docs/ios/platform/ios13/index.md
  docs/ios/platform/ios13/sign-in.md
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/platform/sign-in-with-apple/android-ios-sign-in.md
  docs/xamarin-forms/platform/sign-in-with-apple/index.md
Owners: @conceptdev, @davidbritch

Jusjohns listview section (#1204)
  docs/get-started/tutorials/listview/includes/item-selection.md
  docs/xamarin-forms/app-fundamentals/custom-renderer/viewcell.md
  docs/xamarin-forms/user-interface/controls/cells.md
  docs/xamarin-forms/user-interface/listview/customizing-cell-appearance-images/custom-cell.png
  docs/xamarin-forms/user-interface/listview/customizing-cell-appearance-images/image-cell-custom.png
  docs/xamarin-forms/user-interface/listview/customizing-cell-appearance-images/image-cell-default.png
  docs/xamarin-forms/user-interface/listview/customizing-cell-appearance-images/text-cell-custom.png
  docs/xamarin-forms/user-interface/listview/customizing-cell-appearance-images/text-cell-default.png
  docs/xamarin-forms/user-interface/listview/customizing-cell-appearance.md
  docs/xamarin-forms/user-interface/listview/customizing-list-appearance.md
  docs/xamarin-forms/user-interface/listview/data-and-databinding.md
  docs/xamarin-forms/user-interface/listview/index.md
  docs/xamarin-forms/user-interface/listview/interactivity.md
  docs/xamarin-forms/user-interface/listview/performance.md
  docs/xamarin-forms/user-interface/tableview.md
Owners: @davidbritch

fix: MD047/single-trailing-newline
  docs/ios/platform/ios13/sign-in.md
Owners: @conceptdev
