Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev

Add Integrating with System Settings
  docs/essentials/preferences.md
Owners: @jamesmontemagno

Update preferences.md
  docs/essentials/preferences.md
Owners: @jamesmontemagno

Update preferences.md
  docs/essentials/preferences.md
Owners: @jamesmontemagno

16.5 XAML Hot Reload updates (#1530)
  docs/xamarin-forms/xaml/hot-reload-images/hotreloadflowchart.png
  docs/xamarin-forms/xaml/hot-reload.md
  docs/xamarin-forms/xaml/live-reload.md
Owners: @davidbritch

previewer enable/disable (#1567)
  docs/xamarin-forms/xaml/xaml-previewer/index.md
Owners: @davidbritch

hot restart updates for 16.5 (#1578)
  docs/xamarin-forms/deploy-test/hot-restart.md
Owners: @davidbritch

Update hot-restart.md (#1583)
  docs/xamarin-forms/deploy-test/hot-restart.md
Owners: @davidbritch

paid account requirement moved for visibility
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
Owners: @conceptdev

update link text
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
Owners: @conceptdev

Update link yo remove "en-US"
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
Owners: @conceptdev

Update geolocation.md
  docs/essentials/geolocation.md
Owners: @jamesmontemagno

Update preferences.md
  docs/essentials/preferences.md
Owners: @jamesmontemagno

chore: add Markdownlint GitHub Action
  .github/workflows/markdownlint.yml
Owners: none

Fixed link.
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
Owners: @conceptdev

Update geolocation.md
  docs/essentials/geolocation.md
Owners: @jamesmontemagno

Update device setup docs (#1584)
  docs/android/get-started/installation/set-up-device-for-development-images/about-phone-sml.png
  docs/android/get-started/installation/set-up-device-for-development-images/about-phone.png
  docs/android/get-started/installation/set-up-device-for-development-images/build-version-sml.png
  docs/android/get-started/installation/set-up-device-for-development-images/build-version.PNG
  docs/android/get-started/installation/set-up-device-for-development-images/developer-options-sml.png
  docs/android/get-started/installation/set-up-device-for-development-images/developer-options.png
  docs/android/get-started/installation/set-up-device-for-development-images/developer3.png
  docs/android/get-started/installation/set-up-device-for-development-images/google-usb-driver.PNG
  docs/android/get-started/installation/set-up-device-for-development-images/ip-settings-sml.png
  docs/android/get-started/installation/set-up-device-for-development-images/ip-settings.png
  docs/android/get-started/installation/set-up-device-for-development-images/setupdevicefordevelopment2.png
  docs/android/get-started/installation/set-up-device-for-development-images/setupdevicefordevelopment3.png
  docs/android/get-started/installation/set-up-device-for-development-images/setupdevicefordevelopment5.png
  docs/android/get-started/installation/set-up-device-for-development-images/trust-computer-for-usb-debugging.png
  docs/android/get-started/installation/set-up-device-for-development-images/usb-debugging-sml.PNG
  docs/android/get-started/installation/set-up-device-for-development-images/usb-debugging.PNG
  docs/android/get-started/installation/set-up-device-for-development-images/usbdriverfolder.png
  docs/android/get-started/installation/set-up-device-for-development-images/usbdriverpackage.png
  docs/android/get-started/installation/set-up-device-for-development.md
Owners: @conceptdev

* Blur out IP/MAC info on screenshots (#1588)
  docs/android/get-started/installation/set-up-device-for-development-images/build-version-sml.png
  docs/android/get-started/installation/set-up-device-for-development-images/build-version.PNG
Owners: @conceptdev

Update link to dual screen GitHub sample project
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns.md
Owners: @davidbritch

Fixed TranslucencyMode enum.
  docs/xamarin-forms/platform/ios/tabbedpage-translucent-tabbar.md
Owners: @davidbritch

fixes previous "fix"
  docs/android/app-fundamentals/services/creating-a-service/intent-services.md
Owners: @conceptdev

primer.md Code Fix
  docs/ios/get-started/objective-c-developers/primer.md
Owners: @conceptdev
