Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev

formatting fix
  docs/get-started/installation/uninstalling-xamarin.md
Owners: @davidbritch

Code format
  docs/ios/user-interface/controls/ios-maps/index.md
Owners: @conceptdev

Jusjohns ios samples conversion (#1427)
  docs/ios/TOC.yml
  docs/ios/samples/index.md
  docs/ios/samples/index.yml
Owners: @conceptdev

[mac] windows spelling fix (#1430)
  docs/mac/user-interface/window.md
Owners: @conceptdev

[ios] update background fetch (#1431)
  docs/ios/app-fundamentals/backgrounding/ios-backgrounding-walkthroughs/background-transfer-walkthrough.md
Owners: @conceptdev

[get-started] test no-loc (part 2)
  docs/get-started/requirements.md
  docs/get-started/what-is-xamarin-forms.md
  docs/get-started/what-is-xamarin.md
Owners: @davidbritch

[ios] provisioning update (#1433)
  docs/ios/deploy-test/app-distribution/ad-hoc-distribution.md
  docs/ios/deploy-test/app-distribution/app-store-distribution/index.md
  docs/ios/get-started/installation/device-provisioning/manual-provisioning-images/provisioning-profile07-sml.png
  docs/ios/get-started/installation/device-provisioning/manual-provisioning-images/provisioning-profile07.png
  docs/ios/get-started/installation/device-provisioning/manual-provisioning.md
  docs/ios/tvos/deploy-test/app-distribution/app-store-publishing.md
Owners: @conceptdev

[android] remove bad code
  docs/android/user-interface/layouts/list-view/populating.md
Owners: @conceptdev

[ios] remove stale link (#1435)
  docs/ios/deploy-test/compiling-for-different-devices.md
Owners: @conceptdev

[android] tweak multiscreen
  docs/android/get-started/hello-android-multiscreen/hello-android-multiscreen-quickstart.md
Owners: @conceptdev

fixed the other instance
  docs/android/get-started/hello-android-multiscreen/hello-android-multiscreen-quickstart.md
Owners: @conceptdev

[android] update images (#1437)
  docs/android/app-fundamentals/graphics-and-animation-images/image2-sml.png
  docs/android/app-fundamentals/graphics-and-animation-images/image3-sml.png
  docs/android/app-fundamentals/graphics-and-animation.md
Owners: @conceptdev

[ios] update plist screenshots (#1438)
  docs/ios/deploy-test/provisioning/entitlements-images/image1-sml.png
  docs/ios/deploy-test/provisioning/entitlements-images/image1.png
  docs/ios/deploy-test/provisioning/entitlements-images/image2-sml.png
  docs/ios/deploy-test/provisioning/entitlements-images/image2.png
  docs/ios/deploy-test/provisioning/entitlements-images/image3.png
  docs/ios/deploy-test/provisioning/entitlements-images/image4.png
  docs/ios/deploy-test/provisioning/entitlements-images/servicevs01-sml.png
  docs/ios/deploy-test/provisioning/entitlements-images/servicevs01.png
  docs/ios/deploy-test/provisioning/entitlements-images/servicevs02-sml.png
  docs/ios/deploy-test/provisioning/entitlements-images/servicevs02.png
  docs/ios/deploy-test/provisioning/entitlements-images/servicexs01-sml.png
  docs/ios/deploy-test/provisioning/entitlements-images/servicexs01.png
  docs/ios/deploy-test/provisioning/entitlements-images/servicexs02-sml.png
  docs/ios/deploy-test/provisioning/entitlements-images/servicexs02.png
  docs/ios/deploy-test/provisioning/entitlements.md
Owners: @conceptdev

[xamarin-forms] hot reload UWP clarification
  docs/xamarin-forms/xaml/hot-reload.md
Owners: @davidbritch

[macios] reference new mac binding library template (#1440)
  docs/cross-platform/macios/binding/images/new-bindings-library-sml.png
  docs/cross-platform/macios/binding/images/new-bindings-library.png
  docs/cross-platform/macios/binding/index.md
Owners: @conceptdev

[xplat] encourage .NET Standard (#1441)
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/setting-up-a-xamarin-cross-platform-solution-images/conceptualarchitecture.png
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/setting-up-a-xamarin-cross-platform-solution-images/core-solution-example.png
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/setting-up-a-xamarin-cross-platform-solution-images/solution-android.png
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/setting-up-a-xamarin-cross-platform-solution-images/solution-ios.png
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/setting-up-a-xamarin-cross-platform-solution.md
Owners: @conceptdev

[ios] tab icon size (#1442)
  docs/ios/user-interface/controls/creating-tabbed-applications-images/03-secondtab-sml.png
  docs/ios/user-interface/controls/creating-tabbed-applications-images/04a-tabimage-sml.png
  docs/ios/user-interface/controls/creating-tabbed-applications-images/05-customtab-sml.png
  docs/ios/user-interface/controls/creating-tabbed-applications-images/06-badge-sml.png
  docs/ios/user-interface/controls/creating-tabbed-applications-images/first-view-sml.png
  docs/ios/user-interface/controls/creating-tabbed-applications-images/tabbedapplication8.png
  docs/ios/user-interface/controls/creating-tabbed-applications-images/tabbedimages7.png
  docs/ios/user-interface/controls/creating-tabbed-applications-images/tabbedimages7new.png
  docs/ios/user-interface/controls/creating-tabbed-applications.md
Owners: @conceptdev

[ios] tweak the cloudkit wording (#1443)
  docs/ios/data-cloud/index.md
  docs/ios/data-cloud/intro-to-cloudkit-images/image26a-orig.png
  docs/ios/data-cloud/intro-to-cloudkit-images/image26a.png
  docs/ios/data-cloud/intro-to-cloudkit-images/image27a-orig.png
  docs/ios/data-cloud/intro-to-cloudkit-images/image27a.png
  docs/ios/data-cloud/intro-to-cloudkit.md
Owners: @conceptdev

[ios] note UIWebView deprecation (#1444)
  .openpublishing.redirection.json
  docs/ios/TOC.yml
  docs/ios/platform/introduction-to-ios11/web.md
  docs/ios/user-interface/controls/index.md
  docs/ios/user-interface/controls/uiwebview-images/wkwebview.png
  docs/ios/user-interface/controls/webview-images/safari.png
  docs/ios/user-interface/controls/webview-images/sfsafariviewcontroller.png
  docs/ios/user-interface/controls/webview-images/webview.png
  docs/ios/user-interface/controls/webview.md
Owners: @conceptdev

[ios] clarify where settings are (#1445)
  docs/ios/deploy-test/compiling-for-different-devices-images/deployment-target-sml.png
  docs/ios/deploy-test/compiling-for-different-devices-images/deployment-target.png
  docs/ios/deploy-test/compiling-for-different-devices-images/sdk-version-sml.png
  docs/ios/deploy-test/compiling-for-different-devices-images/sdk-version.png
  docs/ios/deploy-test/compiling-for-different-devices.md
Owners: @conceptdev

Update android-job-scheduler.md
  docs/android/platform/android-job-scheduler.md
Owners: @conceptdev

[ios] uiwebview add apple link
  docs/ios/user-interface/controls/webview.md
Owners: @conceptdev

fix WKWebView control name
  docs/ios/user-interface/controls/webview.md
Owners: @conceptdev

New Xamarin.Forms landing pages (#1446)
  .openpublishing.redirection.json
  docs/index.yml
  docs/whats-new/2019-08.md
  docs/xamarin-forms/TOC.md
  docs/xamarin-forms/app-fundamentals/index.yml
  docs/xamarin-forms/data-cloud/index.yml
  docs/xamarin-forms/deploy-test/index.yml
  docs/xamarin-forms/index.yml
  docs/xamarin-forms/internals/index.md
  docs/xamarin-forms/internals/index.yml
  docs/xamarin-forms/internals/net-standard.md
  docs/xamarin-forms/platform/index.yml
  docs/xamarin-forms/user-interface/index.yml
  docs/xamarin-forms/user-interface/layouts/index.yml
  docs/xamarin-forms/xaml/index.yml
Owners: @davidbritch

Added note and code line
  docs/xamarin-forms/data-cloud/azure-services/azure-signalr.md
Owners: @davidbritch

Used service instead of client phrasing
  docs/xamarin-forms/data-cloud/azure-services/azure-signalr.md
Owners: @davidbritch

Add Xamarin.Essentials 1.4.0 docs
  docs/android/TOC.yml
  docs/essentials/app-theme.md
  docs/essentials/clipboard.md
  docs/essentials/color-converters.md
  docs/essentials/get-started.md
  docs/essentials/permissions.md
  docs/essentials/platform-extensions.md
  docs/essentials/platform-feature-support.md
  docs/essentials/share.md
  docs/essentials/troubleshooting.md
  docs/essentials/unit-converters.md
  docs/ios/TOC.yml
  docs/xamarin-forms/TOC.md
Owners: @conceptdev, @jamesmontemagno, @davidbritch

Fixed NuGet spelling
  docs/xamarin-forms/data-cloud/azure-services/azure-signalr.md
Owners: @davidbritch

Update app-theme.md
  docs/essentials/app-theme.md
Owners: @jamesmontemagno

Update app-theme.md
  docs/essentials/app-theme.md
Owners: @jamesmontemagno

Update permissions.md
  docs/essentials/permissions.md
Owners: @jamesmontemagno

Update app-theme.md
  docs/essentials/app-theme.md
Owners: @jamesmontemagno

Update webview.md
  docs/ios/user-interface/controls/webview.md
Owners: @conceptdev

Update webview.md (#2433)
  docs/ios/user-interface/controls/webview.md
Owners: @conceptdev

[xplat] fix System.IO code error
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/practical-code-sharing-strategies.md
Owners: @conceptdev

Class diagram updated. (#1464)
  docs/xamarin-forms/internals/class-hierarchy-images/class-diagram-high-resolution.png
  docs/xamarin-forms/internals/class-hierarchy-images/class-diagram-large.png
  docs/xamarin-forms/internals/class-hierarchy-images/class-diagram.png
  docs/xamarin-forms/internals/class-hierarchy.md
Owners: @davidbritch

New landing page format for get started docs (#1418)
  docs/cross-platform/index.yml
  docs/get-started/TOC.yml
  docs/get-started/index.yml
  docs/get-started/quickstarts/index.md
  docs/get-started/quickstarts/index.yml
  docs/get-started/tutorials/index.yml
  docs/whats-new/2019-03.md
Owners: @conceptdev, @davidbritch

[android] C# comparison note for Java 10
  docs/android/get-started/java-developers.md
Owners: @conceptdev

Jusjohns nuget spelling (#1468)
  docs/android/troubleshooting/questions/missing-action-mode-share-drawable.md
  docs/android/user-interface/controls/view-pager/viewpager-and-views.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/case-study-tasky.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/practical-code-sharing-strategies.md
  docs/cross-platform/app-fundamentals/nuget-manual.md
  docs/cross-platform/app-fundamentals/nuget-multiplatform-libraries/metadata.md
  docs/cross-platform/troubleshooting/component-nuget.md
  docs/cross-platform/troubleshooting/questions/gps-components-nuget.md
  docs/cross-platform/troubleshooting/questions/index.md
  docs/cross-platform/troubleshooting/questions/nuget-packages-missing.md
  docs/ios/platform/introduction-to-ios9/ios9.md
  docs/xamarin-forms/data-cloud/data/databases.md
  docs/xamarin-forms/platform/android/appcompat-material-design.md
  docs/xamarin-forms/troubleshooting/index.md
  docs/xamarin-forms/user-interface/controls/views.md
  docs/xamarin-forms/user-interface/datapages/controls.md
  docs/xamarin-forms/user-interface/datapages/get-started.md
  docs/xamarin-forms/user-interface/datapages/index.md
  docs/xamarin-forms/user-interface/graphics/cocossharp.md
  docs/xamarin-forms/user-interface/graphics/urhosharp.md
  docs/xamarin-forms/xaml/live-reload.md
Owners: @conceptdev, @davidbritch

Content Update
  docs/ios/platform/introduction-to-ios11/corenfc.md
Owners: @conceptdev
