Repository MicrosoftDocs/xamarin-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidbritch, @conceptdev, @jamesmontemagno

[azure] landing page for poster (#1325)
  docs/cross-platform/data-cloud/mobile-apps-images/azure-app-center.png
  docs/cross-platform/data-cloud/mobile-apps.md
Owners: @conceptdev

Replaced Autofac with TinyIoC.
  docs/xamarin-forms/enterprise-application-patterns/dependency-injection-images/dependencyinjection.png
  docs/xamarin-forms/enterprise-application-patterns/dependency-injection.md
Owners: @davidbritch

Character spacing CSS support.
  docs/xamarin-forms/user-interface/styles/css/index.md
Owners: @davidbritch

iOS now renderers a WebView as a WkWebView.
  docs/xamarin-forms/app-fundamentals/custom-renderer/renderers.md
  docs/xamarin-forms/user-interface/webview.md
Owners: @davidbritch

Mentioned UpdateCancelButton on iOS.
  docs/xamarin-forms/user-interface/searchbar.md
Owners: @davidbritch

Cleanup.
  docs/xamarin-forms/xaml/attached-properties.md
  docs/xamarin-forms/xaml/bindable-properties.md
Owners: @davidbritch

FontImageSource.Size now accepts a named size.
  docs/xamarin-forms/user-interface/text/fonts.md
Owners: @davidbritch

Bookmarks fixed.
  docs/xamarin-forms/xaml/attached-properties.md
  docs/xamarin-forms/xaml/bindable-properties.md
Owners: @davidbritch

Replaced Autofac with TinyIoC. (#1326)
  docs/xamarin-forms/enterprise-application-patterns/dependency-injection-images/dependencyinjection.png
  docs/xamarin-forms/enterprise-application-patterns/dependency-injection.md
Owners: @davidbritch

[hub] more descriptive links to plaform landing pages (#1327)
  docs/index.yml
Owners: none

Removed unnecessary x:String
  docs/xamarin-forms/user-interface/text/label.md
Owners: @davidbritch

Added ScaleXTo and ScaleYTo extension methods.
  docs/xamarin-forms/user-interface/animation/simple.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/user-interface/animation/simple.md
Owners: @davidbritch

Removed locales from links.
  docs/android/platform/android-10.md
Owners: @conceptdev

Fix: Using `depends` instead of `dependencies`
  docs/android/platform/binding-java-library/binding-an-aar.md
Owners: @conceptdev

Shell.FlyoutVerticalScrollMode property.
  docs/xamarin-forms/app-fundamentals/shell/flyout.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/app-fundamentals/shell/flyout.md
Owners: @davidbritch

Code edit.
  docs/xamarin-forms/app-fundamentals/shell/flyout.md
Owners: @davidbritch

Fix: Using `depends` instead of `dependencies` (#2296)
  docs/android/platform/binding-java-library/binding-an-aar.md
Owners: @conceptdev

Sample link updated.
  docs/xamarin-forms/user-interface/refreshview.md
Owners: @davidbritch

More tabs.
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page.md
  docs/xamarin-forms/app-fundamentals/shell/tabs-images/more-tabs-large.png
  docs/xamarin-forms/app-fundamentals/shell/tabs-images/more-tabs.png
  docs/xamarin-forms/app-fundamentals/shell/tabs.md
Owners: @davidbritch

UWP release build advice.
  docs/xamarin-forms/user-interface/map/setup.md
Owners: @davidbritch

Replaced MarkerId with CustomPin.Name.
  docs/xamarin-forms/app-fundamentals/custom-renderer/map/customized-pin.md
Owners: @davidbritch

xref fixed.
  docs/xamarin-forms/user-interface/map/setup.md
Owners: @davidbritch

Threading clarification.
  docs/xamarin-forms/user-interface/collectionview/introduction.md
  docs/xamarin-forms/user-interface/collectionview/populate-data.md
Owners: @davidbritch

Edit.
  docs/xamarin-forms/user-interface/collectionview/populate-data.md
Owners: @davidbritch

Fix the Easing parameter
  docs/xamarin-forms/user-interface/animation/easing.md
Owners: @davidbritch

I added troubleshooting guidelines in case anyone get in trouble with one of the issues wich this API has
  docs/xamarin-forms/data-cloud/authentication/oauth.md
Owners: @davidbritch

added author
  docs/xamarin-forms/data-cloud/authentication/oauth.md
Owners: @davidbritch

TabbedPage refresh.
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/navigationpage.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/schedule-page.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tab1.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tab3.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-components.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-template-large.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-template.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-today-large.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-today.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-upcoming-large.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-upcoming.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-week-large.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-week.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/today-page.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/windows-tabs.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page.md
Owners: @davidbritch

Edits.
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page.md
Owners: @davidbritch

Bookmark updated.
  docs/xamarin-forms/platform/android/tabbedpage-toolbar-placement-color.md
Owners: @davidbritch

Edits.
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-components.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page.md
Owners: @davidbritch

Typo fixed.
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page.md
Owners: @davidbritch

Updated links to new Mobile CAT repo
  docs/cross-platform/cpp/index.md
Owners: @conceptdev

[c++] update links (thanks Mike)
  docs/cross-platform/cpp/index.md
Owners: @conceptdev

Update easing.md
  docs/xamarin-forms/user-interface/animation/easing.md
Owners: @davidbritch

Forms issues (#1333)
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/navigationpage.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/schedule-page.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tab1.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tab3.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-components.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-template-large.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-template.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-today-large.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-today.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-upcoming-large.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-upcoming.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-week-large.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/tabbedpage-week.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/today-page.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page-images/windows-tabs.png
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page.md
  docs/xamarin-forms/platform/android/tabbedpage-toolbar-placement-color.md
Owners: @davidbritch

Update oauth.md
  docs/xamarin-forms/data-cloud/authentication/oauth.md
Owners: @davidbritch

Updated validation for if IsPlayServiceAvailable()
  docs/xamarin-forms/data-cloud/azure-services/azure-notification-hub.md
Owners: @davidbritch

.github/CODEOWNERS:

# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @conceptdev
docs/mac/ @conceptdev

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev
