Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2018-10, with the labels that each got.

#862 typo: Widow -> WIndows
  docs/mac/user-interface/window.md
Labels: Mac

#865 Added Frame to list of fast renderers available in Android
  docs/xamarin-forms/internals/fast-renderers.md
Labels: Xamarin.Forms

#820 Minor: Fix grammatical errors in readme(s)
  contributing-guidelines/voice-tone.md
  docs/android/app-fundamentals/notifications/local-notifications.md
Labels: Android

#880 Fix typos on Localization Text
  docs/xamarin-forms/app-fundamentals/localization/text.md
Labels: Xamarin.Forms

#898 typo: Widow -> Window
  docs/mac/platform/storyboards/indepth.md
Labels: Mac

#899 typo: PreferenceWidow -> PreferenceWindow
  docs/mac/user-interface/dialog.md
Labels: Mac

#917 Changed Tab to Tap on gesture recognizer
  docs/xamarin-forms/app-fundamentals/dependency-service/photo-picker.md
Labels: Xamarin.Forms

#913 Updating example and clarifying language
  docs/essentials/secure-storage.md
Labels: Essentials

#915 Fixed incomplete explanation of custom font resources
  docs/android/app-fundamentals/resources-in-android/default-resources.md
Labels: Android

#912 Update keystore-signature.md
  docs/android/deploy-test/signing/keystore-signature.md
Labels: Android

#931 Removing duplicate files causing git errors on mac, GitKraken
  docs/xamarin-forms/get-started/hello-xamarin-forms/quickstart-images/vs/new-phone-dialer-android.w157.PNG
  docs/xamarin-forms/get-started/hello-xamarin-forms/quickstart-images/vs/new-phone-dialer-ios.w157.PNG
Labels: Xamarin.Forms

#930 #804 & #803 : CanOpenAsync and OpenAsync
  docs/essentials/launcher.md
Labels: Essentials

#946 Xamarin Live Reload is no longer available
  docs/xamarin-forms/xaml/live-reload.md
Labels: Tools

#959 Fix Android platform version check usage
  docs/android/app-fundamentals/notifications/local-notifications.md
  docs/xamarin-forms/user-interface/themes/custom.md
Labels: Android

#921 Fixes spelling and code formatting for xamarin-forms documentation
  docs/android/data-cloud/data-access/configuration.md
  docs/android/data-cloud/data-access/index.md
  docs/android/data-cloud/data-access/using-adonet.md
  docs/xamarin-forms/app-fundamentals/app-lifecycle.md
  docs/xamarin-forms/app-fundamentals/application-class.md
  docs/xamarin-forms/app-fundamentals/behaviors/reusable/event-to-command-behavior.md
  docs/xamarin-forms/app-fundamentals/data-binding/basic-bindings.md
  docs/xamarin-forms/app-fundamentals/data-binding/commanding.md
  docs/xamarin-forms/app-fundamentals/dependency-service/introduction.md
  docs/xamarin-forms/app-fundamentals/files.md
  docs/xamarin-forms/app-fundamentals/messaging-center.md
  docs/xamarin-forms/app-fundamentals/navigation/master-detail-page.md
  docs/xamarin-forms/app-fundamentals/triggers.md
Labels: Android, Xamarin.Forms
