Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2018-03, with the labels that each got.

#43 Correct incorrect subtitle style name in code
  docs/xamarin-forms/user-interface/styles/device.md
Labels: Xamarin.Forms

#75 Add information about asset scaling for UWP/WP8
  docs/xamarin-forms/user-interface/images.md
Labels: Xamarin.Forms

#74 Correct method used in transition documentation
  docs/ios/user-interface/ios-ui/view-controllers/transitions.md
Labels: iOS

#80 Remove links to Jenkins builds
  docs/android/platform/embedding-net-in-java.md
  docs/tools/dotnet-embedding/android/index.md
  docs/tools/dotnet-embedding/get-started/java/android.md
  docs/tools/dotnet-embedding/get-started/java/index.md
  docs/tools/dotnet-embedding/get-started/objective-c/ios.md
Labels: Android
