Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2018-06, with the labels that each got.

#306 Update coreml.md
  docs/ios/platform/introduction-to-ios11/coreml.md
Labels: iOS

#435 Update java-developers.md
  docs/android/get-started/java-developers.md
Labels: Android

#431 Updated boxview.md (Fixed typo)
  docs/xamarin-forms/user-interface/boxview.md
Labels: Xamarin.Forms

#427 Remove incorrect C# syntax indicators
  docs/cross-platform/macios/binding/objective-sharpie/examples/advanced.md
Labels: iOS

#406 Updated to not include prerelease
  docs/xamarin-forms/platform/gtk.md
Labels: Xamarin.Forms

#448 Update obtaining-a-google-maps-api-key.md
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/01-google-developer-console-vs-sml.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/01-google-developer-console-vs.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/02-new-project-vs-sml.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/02-new-project-vs.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/03-api-selection-vs-sml.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/03-api-selection-vs.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/04-enable-api-vs-sml.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/04-enable-api-vs.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/05-api-is-enabled-vs-sml.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/05-api-is-enabled-vs.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/06-add-credentials-to-your-project-vs-sml.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/06-add-credentials-to-your-project-vs.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/07-generate-api-key-vs-sml.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/07-generate-api-key-vs.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/08-key-restriction-vs-sml.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/08-key-restriction-vs.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/12-list-of-apis-vs-sml.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/12-list-of-apis-vs.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/13-goto-billing-vs-sml.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/13-goto-billing-vs.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/14-link-billing-account-vs-sml.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key-images/14-link-billing-account-vs.png
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key.md
Labels: Android

#450 Clarify Xamarin Proguard limitation
  docs/android/deploy-test/release-prep/proguard.md
Labels: Android

#441 Specify the type of key to be created to avoid the guessing
  docs/essentials/geocoding.md
Labels: Essentials

#429 Remove unneeded and invalid attribute constructor
  docs/ios/deploy-test/linker.md
Labels: iOS

#466 Update broadcast-receivers.md
  docs/android/app-fundamentals/broadcast-receivers.md
Labels: Android

#484 Three dots instead of triangle
  docs/android/user-interface/android-designer/resource-qualifiers.md
Labels: Android
