Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2018-04, with the labels that each got.

#143 Typos fixed in WPF doc.
  docs/xamarin-forms/platform/wpf.md
Labels: Xamarin.Forms

#146 Update map.md
  docs/xamarin-forms/user-interface/map.md
Labels: Android

#163 Fixing repo links
  docs/xamarin-forms/app-fundamentals/dependency-service/photo-picker.md
Labels: Xamarin.Forms

#195 Correct many spelling, grammar and typing errors
  docs/android/deploy-test/building-apps/build-process.md
Labels: Android, good first issue

#197 Remove empty item in the numbered list. #193
  docs/android/internals/architecture.md
Labels: Android
