Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2018-11, with the labels that each got.

#1000 Update table-view.md
  docs/mac/user-interface/table-view.md
Labels: macOS

#1029 typo: reqesting -> requesting
  docs/android/platform/kitkat.md
Labels: Android

#1027 typo: heirarchy -> hierarchy
  docs/android/platform/kitkat.md
Labels: Android

#1026 typo: Double word "be"
  docs/android/user-interface/controls/tool-bar/adding-a-second-toolbar.md
  docs/ios/user-interface/designer/ios-designable-controls-walkthrough.md
  docs/xamarin-forms/platform/plugins.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/bitmaps/saving.md
Labels: Android, Xamarin.Forms, iOS

#1025 typo: SKBitmp -> SKBitmap
  docs/xamarin-forms/user-interface/graphics/skiasharp/bitmaps/saving.md
Labels: graphics-games

#1024 typo: intial -> initial
  docs/android/platform/firebase-job-dispatcher.md
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter12.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/bitmaps/drawing.md
  docs/xamarin-forms/user-interface/styles/css/index.md
Labels: Android, Xamarin.Forms, graphics-games

#1023 typo: Visibility
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter19.md
  docs/xamarin-forms/user-interface/styles/css/index.md
Labels: Xamarin.Forms

#1022 typo: Dyanamic -> Dynamic
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter12.md
Labels: Xamarin.Forms

#1021 typo: demonstates -> demonstrates
  docs/xamarin-forms/user-interface/graphics/skiasharp/bitmaps/drawing.md
Labels: graphics-games

#1020 typo: smething -> something
  docs/xamarin-forms/user-interface/graphics/skiasharp/transforms/touch.md
Labels: graphics-games

#1019 typo: jarameters -> parameters
  docs/android/platform/firebase-job-dispatcher.md
Labels: Android

#1018 typo: Firebasee -> Firebase
  docs/android/platform/firebase-job-dispatcher.md
Labels: Android

#1017 typo: Schduler -> Scheduler
  docs/android/platform/android-job-scheduler.md
Labels: Android

#1016 typo: succesfully -> successfully
  docs/android/platform/android-job-scheduler.md
Labels: Android

#1015 typo: andsets -> and sets
  docs/android/platform/android-job-scheduler.md
Labels: Android

#1013 typo: Double word "that"
  docs/android/app-fundamentals/touch/touch-in-android.md
  docs/android/platform/android-job-scheduler.md
  docs/android/platform/firebase-job-dispatcher.md
  docs/xamarin-forms/app-fundamentals/files.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/transforms/touch.md
Labels: Android, Xamarin.Forms, graphics-games

#1012 typo: Peformed -> Performed
  docs/android/app-fundamentals/touch/touch-in-android.md
Labels: Android

#1011 typo: Double word "when"
  docs/xamarin-forms/user-interface/layouts/flex-layout.md
Labels: Xamarin.Forms

#1010 typo: Double word "a"
  docs/ios/get-started/hello-ios/hello-ios-quickstart.md
  docs/xamarin-forms/user-interface/map.md
Labels: Xamarin.Forms, iOS

#1009 typo: degress -> degrees
  docs/xamarin-forms/user-interface/map.md
Labels: Xamarin.Forms

#1074 typo: Double word "in"
  docs/android/app-fundamentals/resources-in-android/alternate-resources.md
  docs/ios/tvos/user-interface/index.md
  docs/mac/get-started/related.md
  docs/mac/user-interface/alert.md
  docs/mac/user-interface/collection-view.md
  docs/mac/user-interface/custom-controls.md
  docs/mac/user-interface/dialog.md
  docs/mac/user-interface/outline-view.md
  docs/mac/user-interface/source-list.md
  docs/mac/user-interface/standard-controls.md
  docs/mac/user-interface/table-view.md
  docs/mac/user-interface/window.md
Labels: macOS

#1061 typo: orientatin -> orientation
  docs/xamarin-forms/user-interface/layouts/flex-layout.md
Labels: Xamarin.Forms

#1060 typo: whenver -> whenever
  docs/xamarin-forms/user-interface/layouts/device-orientation.md
Labels: Xamarin.Forms

#1058 typo: Double word "if"
  docs/xamarin-forms/app-fundamentals/effects/touch-tracking.md
Labels: Xamarin.Forms

#1057 typo: Effection -> Effect
  docs/xamarin-forms/app-fundamentals/effects/touch-tracking.md
Labels: Xamarin.Forms

#1056 typo: Translaton -> Translation
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter22.md
Labels: Xamarin.Forms

#1055 typo: targetted -> targeted
  docs/android/deploy-test/debugging/debug-on-emulator.md
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter22.md
Labels: Android, Xamarin.Forms

#1054 typo: Double word "and"
  docs/android/get-started/installation/android-emulator/device-manager.md
  docs/graphics-games/urhosharp/platform/windows.md
  docs/ios/app-fundamentals/images-icons/displaying-an-image.md
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store.md
  docs/ios/platform/introduction-to-ios12/siri-shortcuts.md
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter22.md
  docs/xamarin-forms/deploy-test/uitest-and-test-cloud.md
  docs/xamarin-forms/user-interface/controls/cells.md
Labels: Android, graphics-games

#1053 typo: Tranditional -> Traditional
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter23.md
Labels: Xamarin.Forms

#1051 typo: genrated -> generated
  docs/ios/platform/introduction-to-ios12/siri-shortcuts.md
Labels: iOS

#1050 typo: indictator -> indicator
  docs/android/get-started/installation/android-emulator/device-manager.md
Labels: Android

#1049 typo: explicitely -> explicitly
  docs/cross-platform/desktop/lifecycle.md
  docs/ios/troubleshooting/troubleshooting.md
Labels: Cross-platform, iOS

#1048 typo: plaform -> platform
  docs/cross-platform/desktop/lifecycle.md
  docs/xamarin-forms/platform/platform-specifics/consuming/android.md
  docs/xamarin-forms/platform/platform-specifics/consuming/ios.md
Labels: Cross-platform, Xamarin.Forms

#1047 typo: requre -> require
  docs/ios/troubleshooting/troubleshooting.md
Labels: iOS

#1046 typo: bulding -> building
  docs/ios/troubleshooting/troubleshooting.md
Labels: iOS

#1045 typo: frameowrk -> framework
  docs/cross-platform/desktop/lifecycle.md
Labels: Cross-platform

#1044 typo: systme -> system
  docs/cross-platform/desktop/lifecycle.md
Labels: Cross-platform

#1043 typo: implicitely -> implicitly
  docs/cross-platform/desktop/lifecycle.md
Labels: Cross-platform

#1042 typo: hierachy -> hierarchy
  docs/cross-platform/desktop/lifecycle.md
Labels: Cross-platform

#1041 typo: Disapearing -> Disappearing
  docs/cross-platform/desktop/lifecycle.md
Labels: Cross-platform

#1039 typo: Deafult -> Default
  docs/android/platform/kitkat.md
Labels: Android

#1038 typo: andorid -> android
  docs/android/platform/kitkat.md
Labels: Android

#1037 typo: permissons -> permissions
  docs/android/platform/kitkat.md
Labels: Android

#1036 typo: scenarions -> scenarios
  docs/android/platform/kitkat.md
Labels: Android

#1113 typo: Double word "this"
  docs/android/app-fundamentals/accessibility.md
Labels: Android

#1115 Updated wrong full name for MVVM pattern
  docs/xamarin-forms/enterprise-application-patterns/validation.md
Labels: Xamarin.Forms

#1114 Updated wrong full name for MVVM pattern
  docs/xamarin-forms/enterprise-application-patterns/index.md
Labels: Xamarin.Forms

#1080 typo: Double word "more"
  docs/mac/user-interface/dialog.md
Labels: macOS

#1081 typo: Perfrom -> Perform
  docs/mac/platform/storyboards/indepth.md
Labels: macOS

#1082 typo: Double word "removing"
  docs/ios/user-interface/storyboards/index.md
  docs/mac/platform/storyboards/indepth.md
Labels: iOS, macOS

#1101 typo: Avaibility -> Availability
  docs/android/platform/maps-and-location/location.md
Labels: Android

#1104 typo: Notiication -> Notification
  docs/android/data-cloud/google-messaging/remote-notifications-with-gcm.md
Labels: Android

#1106 typo: Double word "from"
  docs/android/data-cloud/google-messaging/remote-notifications-with-gcm.md
Labels: Android

#1107 typo: iteract -> interact
  docs/android/app-fundamentals/services/out-of-process-services.md
Labels: Android

#1108 typo: retrive -> retrieve
  docs/android/app-fundamentals/services/out-of-process-services.md
Labels: Android

#1109 typo: responsibilty -> responsibility
  docs/android/app-fundamentals/services/out-of-process-services.md
Labels: Android

#1110 typo: recipent -> recipient
  docs/android/app-fundamentals/services/out-of-process-services.md
Labels: Android

#1111 typo: Double word "which"
  docs/android/app-fundamentals/services/out-of-process-services.md
Labels: Android

#1112 typo: Double word "are"
  docs/android/app-fundamentals/services/creating-a-service/bound-services.md
Labels: Android

#1120 typo: Double word "on"
  docs/ios/platform/3d-touch.md
Labels: iOS

#1119 typo: Regiser -> Register
  docs/ios/platform/3d-touch.md
Labels: iOS

#1083 typo: Contoller -> Controller
  docs/ios/app-fundamentals/delegates-protocols-and-events.md
  docs/ios/get-started/hello-ios-multiscreen/hello-ios-multiscreen-deepdive.md
  docs/ios/get-started/hello-ios-multiscreen/hello-ios-multiscreen-quickstart.md
  docs/ios/user-interface/storyboards/index.md
Labels: iOS, related sample

#1102 typo: Requestion -> Request
  docs/android/platform/maps-and-location/location.md
Labels: Android, related sample

#1077 typo: Langauge -> Language
  docs/android/app-fundamentals/localization.md
  docs/mac/user-interface/dialog.md
Labels: Android, macOS, related sample

#1073 typo: Propoperties -> Properties
  docs/mac/user-interface/table-view.md
Labels: macOS, related sample

#1072 typo: Collor -> Color
  docs/mac/user-interface/standard-controls.md
Labels: macOS, related sample

#1066 typo: registar -> register
  docs/mac/internals/architecture.md
Labels: macOS

#1127 typo: reponse -> response
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter20.md
Labels: Xamarin.Forms

#1128 typo: implmentation -> implementation
  docs/android/app-fundamentals/http-stack.md
Labels: Android

#1078 chore: Remove locales from Microsoft links
  contributing-guidelines/template.md
  docs/android/deploy-test/building-apps/abi-specific-apks.md
  docs/android/deploy-test/building-apps/build-process.md
  docs/android/deploy-test/performance.md
  docs/android/get-started/installation/index.md
  docs/android/get-started/java-developers.md
  docs/android/index.yml
  docs/android/troubleshooting/questions/android-designer-java-memory.md
  docs/android/user-interface/controls/pickers/time-picker.md
  docs/cross-platform/app-fundamentals/localization.md
  docs/cross-platform/desktop/controls/wpf.md
  docs/cross-platform/desktop/porting.md
  docs/cross-platform/index.yml
  docs/essentials/file-system-helpers.md
  docs/essentials/flashlight.md
  docs/essentials/preferences.md
  docs/index.md
  docs/ios/deploy-test/performance.md
  docs/ios/index.yml
  docs/ios/platform/introduction-to-ios12/arkit2.md
  docs/ios/platform/introduction-to-ios12/coreml.md
  docs/ios/platform/introduction-to-ios12/siri-shortcuts.md
  docs/mac/index.yml
  docs/tools/index.yml
  docs/xamarin-forms/app-fundamentals/localization/right-to-left.md
  docs/xamarin-forms/data-cloud/cognitive-services/speech-recognition.md
  docs/xamarin-forms/data-cloud/cosmosdb/consuming.md
  docs/xamarin-forms/data-cloud/serverless/azure-functions.md
  docs/xamarin-forms/index.yml
  docs/xamarin-forms/xaml/live-reload.md
Labels: Android, Cross-platform, Essentials, Xamarin.Forms, iOS

#1156 typo: demonstate -> demonstrate
  docs/xamarin-forms/user-interface/layouts/flex-layout.md
Labels: Xamarin.Forms

#1155 typo: specfied -> specified
  docs/xamarin-forms/user-interface/graphics/skiasharp/bitmaps/drawing.md
  docs/xamarin-forms/user-interface/layouts/flex-layout.md
Labels: graphics-games

#1157 typo: Actvity -> Activity
  docs/android/platform/kitkat.md
  docs/android/user-interface/controls/pickers/time-picker.md
  docs/android/wear/index.md
Labels: Android

#1153 typo: standlone -> standalone
  docs/android/platform/oreo.md
Labels: Android

#1152 typo: distibuted -> distributed
  docs/android/deploy-test/publishing/publishing-to-google-play/manually-uploading-the-apk.md
Labels: Android

#1150 typo: occuring -> occurring
  docs/android/internals/garbage-collection.md
Labels: Android

#1149 typo: sevice -> service
  docs/android/wear/platform/creating-a-watchface.md
Labels: Android

#1148 typo: artifical -> artificial
  docs/android/platform/maps-and-location/maps/maps-api.md
Labels: Android

#1154 typo: libary -> library
  docs/android/app-fundamentals/touch/touch-in-android.md
  docs/android/deploy-test/publishing/publishing-to-google-play/manually-uploading-the-apk.md
  docs/android/platform/binding-java-library/index.md
  docs/android/platform/oreo.md
  docs/cross-platform/app-fundamentals/nuget-multiplatform-libraries/single-codebase.md
Labels: Android

#1170 callkit.md
  docs/ios/platform/callkit.md
Labels: iOS
