Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2018-09, with the labels that each got.

#736 Update UrhoSharp ARKit docs
  docs/ios/platform/introduction-to-ios11/arkit/urhosharp.md
Labels: iOS

#737 Fix TimestampServiceBinder/TimestampBinder text
  docs/android/app-fundamentals/services/creating-a-service/bound-services.md
Labels: Android, good first issue

#727 Update data-and-databinding.md
  docs/xamarin-forms/user-interface/listview/data-and-databinding.md
Labels: Xamarin.Forms
