Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2018-07, with the labels that each got.

#492 Update index.md
  docs/android/deploy-test/signing/index.md
Labels: Android

#467 Update shared project type to .NET Standard
  docs/xamarin-forms/data-cloud/authentication/oauth.md
Labels: Xamarin.Forms

#507 Code snipped update
  docs/android/app-fundamentals/touch/android-touch-walkthrough.md
Labels: Android

#447 Update map.md
  docs/xamarin-forms/user-interface/map.md
Labels: Xamarin.Forms

#519 Use pattern matching to make code more concise
  docs/xamarin-forms/user-interface/themes/custom.md
Labels: Xamarin.Forms

#474 Add information about bottom tab bar on Android in Xamarin.Forms
  docs/xamarin-forms/app-fundamentals/navigation/tabbed-page.md
Labels: Xamarin.Forms

#547 typo: creatin -> creating
  docs/android/deploy-test/publishing/publishing-to-google-play/index.md
Labels: Android

#555 Small typo fix
  docs/ios/app-fundamentals/ios-code-only.md
Labels: iOS

#565 Add OpenJDK preview information
  docs/android/TOC.md
  docs/android/get-started/installation/index.md
  docs/android/get-started/installation/openjdk-images/openjdk.png
  docs/android/get-started/installation/openjdk-images/vs.png
  docs/android/get-started/installation/openjdk-images/vsm.png
  docs/android/get-started/installation/openjdk.md
Labels: Android

#570 Update with feedback from user.
  docs/cross-platform/platform/razor-html-templates/index.md
Labels: Android
