Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2018-08, with the labels that each got.

#612 Update the signature of Battery_BatteryChanged
  docs/essentials/battery.md
Labels: Essentials

#642 Fix typo error
  docs/android/platform/maps-and-location/location.md
Labels: Android

#499 Issue#498
  docs/xamarin-forms/xaml/xaml-previewer-images/xamlp-controls-vs.png
  docs/xamarin-forms/xaml/xaml-previewer-images/xamlp-controls2-vs.png
  docs/xamarin-forms/xaml/xaml-previewer-images/xamlp-list-sml.png
  docs/xamarin-forms/xaml/xaml-previewer-images/xamlp-list.png
  docs/xamarin-forms/xaml/xaml-previewer-images/xamlp-options-vs.png
  docs/xamarin-forms/xaml/xaml-previewer.md
Labels: Xamarin.Forms

#697 Fix typo in widgets.md
  docs/ios/platform/search/widgets.md
Labels: iOS

#721 Update automatic-provisioning.md with new alert info.
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
Labels: iOS
