Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2019-06, with the labels that each got.

#1749 Fix two typos
  docs/xamarin-forms/user-interface/controls/cells.md
Labels: Xamarin.Forms

#1747 Update text-to-speech.md Fixes #1727
  docs/essentials/text-to-speech.md
Labels: Essentials

#1750 Fixed the broken link
  docs/xamarin-forms/user-interface/controls/index.md
Labels: Xamarin.Forms

#1751 e.g. usage and extra word removed
  docs/xamarin-forms/user-interface/colors.md
Labels: Xamarin.Forms

#1757 Fixed broken sample links
  docs/android/platform/speech.md
  docs/android/user-interface/controls/action-bar.md
  docs/android/user-interface/layouts/list-view/index.md
  docs/android/user-interface/layouts/list-view/populating.md
  docs/android/wear/index.md
  docs/android/wear/user-interface/controls/gridviewpager.md
  docs/ios/watchos/app-fundamentals/navigation.md
  docs/ios/watchos/app-fundamentals/parent-app.md
  docs/xamarin-forms/app-fundamentals/dependency-service/battery-info.md
  docs/xamarin-forms/app-fundamentals/dependency-service/device-orientation.md
  docs/xamarin-forms/app-fundamentals/dependency-service/index.md
  docs/xamarin-forms/app-fundamentals/messaging-center.md
  docs/xamarin-forms/app-fundamentals/triggers.md
  docs/xamarin-forms/user-interface/colors.md
  docs/xamarin-forms/user-interface/controls/layouts.md
  docs/xamarin-forms/user-interface/controls/pages.md
  docs/xamarin-forms/user-interface/controls/views.md
  docs/xamarin-forms/user-interface/listview/index.md
  docs/xamarin-forms/user-interface/map.md
  docs/xamarin-forms/xaml/xaml-controls.md
Labels: Android, Xamarin.Forms, iOS

#1756 Minor fixes
  docs/android/app-fundamentals/activity-lifecycle/index.md
  docs/ios/get-started/objective-c-developers/index.md
Labels: Android, iOS

#1773 Adding spacing between words
  docs/xamarin-forms/platform/android/button-padding-shadow.md
Labels: Xamarin.Forms

#1783 Fixed code blocks, indentation, language tags and semicolons
  docs/ios/user-interface/monotouch.dialog/elements-api-walkthrough.md
  docs/ios/user-interface/monotouch.dialog/index.md
  docs/ios/user-interface/monotouch.dialog/json-element-walkthrough.md
  docs/ios/user-interface/monotouch.dialog/monotouch.dialog-json-markup.md
  docs/ios/user-interface/monotouch.dialog/reflection-api-walkthrough.md
Labels: iOS

#1781 Update hello-ios-quickstart.md
  docs/ios/get-started/hello-ios/hello-ios-quickstart.md
Labels: iOS

#1789 Insert NuGet package link
  docs/essentials/get-started.md
Labels: Essentials

#1797 Fix Code in step 8 of database quick start
  docs/get-started/quickstarts/database.md
Labels: Xamarin.Forms

#1774 Update pattern to create custom renderers
  docs/xamarin-forms/app-fundamentals/custom-renderer/view.md
Labels: Xamarin.Forms

#1806 Update ios-backgrounding-with-tasks.md
  docs/ios/app-fundamentals/backgrounding/ios-backgrounding-techniques/ios-backgrounding-with-tasks.md
Labels: iOS

#1802 Update info on the permission data for iOS
  docs/essentials/geolocation.md
Labels: Essentials
