Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2019-01, with the labels that each got.

#1305 Minor typo fixes
  docs/android/internals/api-design.md
Labels: Android

#1307 Behavior<T> not showing <T>
  docs/xamarin-forms/app-fundamentals/behaviors/creating.md
Labels: Xamarin.Forms

#1313 Update Xamarin inspector iOS instructions
  docs/tools/inspector/install.md
Labels: Tools

#1339 Update using-sqlite-orm.md
  docs/android/data-cloud/data-access/using-sqlite-orm.md
Labels: Android

#1344 Update hello-android-multiscreen-quickstart.md
  docs/android/get-started/hello-android-multiscreen/hello-android-multiscreen-quickstart.md
Labels: Android

#1345 Bugfix for uninitiated TimeSpan
  docs/graphics-games/monogame/introduction/part2.md
Labels: graphics-games

#1361 Replaced FeatureNotEnableException by FeatureNotEnabledException
  docs/essentials/geolocation.md
Labels: Essentials

#1367 Update with naming for oncreate on android
  docs/essentials/get-started.md
Labels: Essentials
