Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2019-07, with the labels that each got.

#1851 Fixed a dead link
  docs/ios/watchos/user-interface/image.md
Labels: iOS

#1842 Update Geolocation docs
  docs/essentials/geolocation.md
Labels: Essentials

#1852 FlexLayout and WebBrowser update
  docs/cross-platform/desktop/controls/index.md
Labels: Cross-platform

#1855 Fix typo
  docs/xamarin-forms/app-fundamentals/shell/tabs.md
Labels: Xamarin.Forms

#1857 Minor fixes
  docs/cross-platform/platform/razor-html-templates/index.md
Labels: Cross-platform

#1869 typo: Double word "match"
  docs/xamarin-forms/data-cloud/azure-services/azure-notification-hub.md
Labels: Xamarin.Forms

#1870 typo: Double word "event"
  docs/xamarin-forms/app-fundamentals/app-lifecycle.md
  docs/xamarin-forms/user-interface/switch.md
Labels: Xamarin.Forms

#1871 fix: MD042/no-empty-links
  docs/ios/internals/api-design/index.md
  docs/xamarin-forms/user-interface/graphics/urhosharp.md
Labels: Xamarin.Forms, iOS

#1873 typo: seperate -> separate
  docs/android/deploy-test/building-apps/abi-specific-apks.md
  docs/ios/deploy-test/troubleshooting.md
Labels: Android, iOS

#1875 typo: softrware -> software
  docs/cross-platform/partners/index.md
Labels: Cross-platform

#1882 Trivial missing backtick fixed
  docs/xamarin-forms/user-interface/switch.md
Labels: Xamarin.Forms

#1881 RBGA -> RGBA
  docs/graphics-games/skiasharp/platform.md
Labels: graphics-games

#1883 Update memory-perf-best-practices.md
  docs/cross-platform/deploy-test/memory-perf-best-practices.md
Labels: Cross-platform

#1911 Xamarin University link broken
  docs/cross-platform/macios/unified/updating-ios-apps.md
Labels: Cross-platform

#1905 fix: MD029/ol-prefix
  docs/android/troubleshooting/questions/automate-android-nunit-test.md
  docs/android/troubleshooting/questions/resource-designer-wont-update.md
  docs/cross-platform/app-fundamentals/nuget-multiplatform-libraries/existing-library.md
  docs/cross-platform/app-fundamentals/nuget-multiplatform-libraries/single-codebase.md
  docs/cross-platform/data-cloud/active-directory/get-started/configure.md
  docs/cross-platform/data-cloud/active-directory/get-started/register.md
  docs/cross-platform/macios/apple-account-management.md
  docs/cross-platform/troubleshooting/component-nuget.md
  docs/cross-platform/troubleshooting/questions/vs-callstack.md
  docs/get-started/installation/windows.md
  docs/get-started/quickstarts/styling.md
  docs/ios/app-fundamentals/images-icons/app-icons.md
  docs/ios/deploy-test/app-distribution/ad-hoc-distribution.md
  docs/ios/deploy-test/app-distribution/app-store-distribution/itunesconnect.md
  docs/ios/deploy-test/app-distribution/in-house-distribution.md
  docs/ios/deploy-test/app-distribution/index.md
  docs/ios/deploy-test/provisioning/entitlements.md
  docs/ios/deploy-test/provisioning/fastlane/index.md
  docs/ios/deploy-test/wireless-deployment.md
  docs/ios/get-started/hello-ios-multiscreen/hello-ios-multiscreen-quickstart.md
  docs/ios/get-started/hello-ios/hello-ios-quickstart.md
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
  docs/ios/get-started/installation/device-provisioning/manual-provisioning.md
  docs/ios/get-started/installation/windows/connecting-to-mac/troubleshooting.md
  docs/ios/platform/handoff.md
  docs/ios/platform/homekit.md
  docs/ios/platform/sirikit/implementing-sirikit.md
  docs/ios/platform/speech.md
  docs/ios/platform/user-notifications/advanced-user-notifications.md
  docs/ios/platform/user-notifications/deprecated/remote-notifications-in-ios.md
  docs/ios/platform/user-notifications/enhanced-user-notifications.md
  docs/ios/troubleshooting/questions/modify-ipa.md
  docs/ios/tvos/app-fundamentals/icons-images.md
  docs/ios/tvos/deploy-test/app-distribution/app-store-publishing.md
  docs/ios/tvos/deploy-test/app-distribution/index.md
  docs/ios/tvos/get-started/hello-tvos.md
  docs/ios/tvos/platform/introduction-to-tvos10/additional-framework-changes.md
  docs/ios/user-interface/storyboards/index.md
  docs/ios/watchos/app-fundamentals/icons.md
  docs/ios/watchos/app-fundamentals/localization.md
  docs/ios/watchos/deploy-test/appstore.md
  docs/ios/watchos/platform/proactive-suggestions.md
  docs/mac/app-fundamentals/sandboxing.md
  docs/mac/deploy-test/linker.md
  docs/mac/platform/storyboards/indepth.md
  docs/mac/platform/target-framework.md
  docs/mac/user-interface/dialog.md
  docs/mac/user-interface/standard-controls.md
  docs/mac/user-interface/window.md
  docs/tools/workbooks/install.md
  docs/tools/workbooks/troubleshooting/android.md
Labels: do-not-merge

#1915 Add new evergreen Objective-Sharpie link
  docs/cross-platform/macios/binding/objective-sharpie/index.md
Labels: iOS

#1928 Updated MSDN links
  docs/ios/troubleshooting/questions/ipa-output-path.md
Labels: iOS

#1936 Typo in reSpository selection
  docs/android/get-started/installation/android-sdk.md
Labels: Android

#1943 Update platform-feature-support.md
  docs/essentials/platform-feature-support.md
Labels: Essentials

#1948 Added link to API
  docs/xamarin-forms/user-interface/map.md
Labels: Xamarin.Forms

#1941 Update customized-pin.md
  docs/xamarin-forms/app-fundamentals/custom-renderer/map/customized-pin.md
Labels: Xamarin.Forms

#1954 Broken Apple Developer links
  docs/mac/platform/introduction-to-macos-sierra/index.md
Labels: macOS

#1960 Correcting a small typo
  docs/xamarin-forms/app-fundamentals/effects/introduction.md
Labels: Xamarin.Forms

#1896 Update Hello Android With .axml/.xml tip
  docs/android/get-started/hello-android/hello-android-quickstart.md
Labels: Android

#1897 Update .axml/.xml on deep dive
  docs/android/get-started/hello-android/hello-android-deepdive.md
Labels: Android

#1898 Update .axml/.xml for multiscreen quickstart
  docs/android/get-started/hello-android-multiscreen/hello-android-multiscreen-quickstart.md
Labels: Android

#1899 .axml/.xml tip for designer walkthrough
  docs/android/user-interface/android-designer/designer-walkthrough.md
Labels: Android

#1900 .axml/.xml tip for android-designer basics
  docs/android/user-interface/android-designer/designer-basics.md
Labels: Android

#1964 Minor fixes
  docs/mac/platform/introduction-to-macos-sierra/troubleshooting.md
Labels: macOS

#1965 fix typo
  docs/android/index.yml
Labels: Android

#1971 spelling and grammar changes
  docs/ios/get-started/hello-ios/hello-ios-deepdive.md
Labels: iOS

#1972 Changed tone of voice
  docs/ios/get-started/hello-ios-multiscreen/hello-ios-multiscreen-quickstart.md
Labels: iOS

#1949 Fix samples using incorrect variable name
  docs/ios/app-fundamentals/ios-code-only.md
Labels: iOS
