Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2019-10, with the labels that each got.

#2183 Updating broken links
  docs/android/index.yml
Labels: Android, do-not-merge, review-team-triage

#2177 fix: MD012/no-multiple-blanks
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store.md
Labels: Change sent to author, do-not-merge, iOS, xamarin-ios/tech, xamarin/prod

#2196 "exteral" -> "external" misspelling fix
  docs/android/platform/files/external-storage.md
Labels: Android, Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2197 "as been" -> "has been" typo fix
  docs/ios/app-fundamentals/images-icons/displaying-an-image.md
Labels: Change sent to author, do-not-merge, iOS, xamarin-ios/tech, xamarin/prod

#2201 Fixes #2200
  docs/xamarin-forms/app-fundamentals/accessibility/keyboard.md
Labels: Change sent to author, Xamarin.Forms, do-not-merge, xamarin-forms/tech, xamarin/prod

#2203 Fix markdown
  docs/android/platform/files/external-storage.md
Labels: Android, Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2202 Typo "**@drawable/monkey**"→"**\@drawable/monkey**"
  docs/android/platform/binding-java-library/binding-an-aar.md
Labels: Android, Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2193 chore: Enable MD033 for tables
  .markdownlint.json
Labels: do-not-merge, review-team-triage

#2216 Update page to mention about App Center
  docs/cross-platform/data-cloud/mobile-apps.md
Labels: Change sent to author, do-not-merge, xamarin/prod

#2220 Fixed the wrong link
  docs/android/platform/android-10.md
Labels: Change sent to author, do-not-merge

#2221 MS Mobile OpenJDK is not in preview anymore
  docs/android/get-started/installation/android-sdk.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2222 Fixed wrong code block language tags
  docs/ios/platform/passkit.md
Labels: Change sent to author, do-not-merge, iOS, xamarin-ios/tech, xamarin/prod

#2224 blog.xamarin.com -> devblogs.microsoft.com
  docs/xamarin-forms/user-interface/layouts/tablet.md
Labels: Change sent to author, Xamarin.Forms, do-not-merge, xamarin-forms/tech, xamarin/prod

#2228 Missing reference to UWP
  docs/xamarin-forms/user-interface/collectionview/introduction.md
Labels: Change sent to author, Xamarin.Forms, do-not-merge, xamarin-forms/tech, xamarin/prod

#2234 Fix wrong referenced ViewController
  docs/ios/user-interface/ios-ui/creating-ui-objects.md
Labels: Change sent to author, xamarin-ios/tech, xamarin/prod

#2242 Updating Broken Link for GridLayoutDemo
  docs/android/user-interface/layouts/grid-layout.md
Labels: Change sent to author, xamarin-android/tech, xamarin/prod

#2247 Modify two links
  docs/get-started/tutorials/stacklayout/includes/create.md
Labels: Xamarin.Forms, do-not-merge, review-team-triage

#2253 Correct the definition of Padding
  docs/get-started/tutorials/grid/includes/create.md
Labels: Xamarin.Forms, do-not-merge, review-team-triage

#2178 Update right-to-left.md
  docs/xamarin-forms/app-fundamentals/localization/right-to-left.md
Labels: Change sent to author, Xamarin.Forms, do-not-merge, xamarin-forms/tech, xamarin/prod

#2261 Added missing semicolon
  docs/xamarin-forms/user-interface/listview/customizing-list-appearance.md
Labels: Change sent to author, Xamarin.Forms, do-not-merge, xamarin-forms/tech, xamarin/prod

#2263 Remove Hyper-V recommendation that conflicts HAXM.
  docs/android/get-started/installation/android-emulator/hardware-acceleration.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2278 Fixed the incorrect link
  docs/android/troubleshooting/questions/automate-android-nunit-test.md
Labels: Change sent to author, xamarin-android/tech, xamarin/prod

#2287 D
  docs/xamarin-forms/user-interface/progressbar.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod
