Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2019-03, with the labels that each got.

#1440 Update Effects docs to use nameof instead of hardcoded
  docs/xamarin-forms/app-fundamentals/effects/creating.md
Labels: Xamarin.Forms

#1468 Update enhanced-user-notifications.md
  docs/ios/platform/user-notifications/enhanced-user-notifications.md
Labels: iOS

#1503 Update grid.md
  docs/xamarin-forms/user-interface/layouts/grid.md
Labels: Xamarin.Forms

#1513 Update pop-ups.md
  docs/xamarin-forms/app-fundamentals/navigation/pop-ups.md
Labels: Xamarin.Forms

#1455 Update partners with XAM Consulting
  docs/cross-platform/partners/index.md
Labels: Tools

#1544 Correct spelling of pixels
  docs/xamarin-forms/user-interface/themes/custom.md
Labels: Xamarin.Forms
