Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2019-04, with the labels that each got.

#1571 Added missing float indicators
  docs/essentials/text-to-speech.md
Labels: Essentials

#1601 Suggest to fix related links
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/index.md
Labels: Cross-platform

#1596 Typo fix: "is used to encrypted values securely"
  docs/essentials/secure-storage.md
Labels: Essentials

#1593 Deleted word "with"
  docs/xamarin-forms/app-fundamentals/messaging-center.md
Labels: Xamarin.Forms

#1605 Added the recommendations for cloud-based Mac
  docs/ios/get-started/installation/windows/index.md
Labels: iOS

#1604 Updated SpecialFolder paths
  docs/android/platform/files/index.md
Labels: Android

#1612 Black -> Blank
  docs/get-started/first-app/index.md
Labels: Xamarin.Forms

#1623 Fixes #1586 Fixes #1585
  docs/essentials/geolocation.md
Labels: Essentials

#1624 Update secure-storage.md
  docs/essentials/secure-storage.md
Labels: Essentials

#1625 Typo fix
  docs/android/user-interface/material-theme.md
Labels: Android

#1631 Change the PCL to .NET Standard like other docs pages
  docs/xamarin-forms/app-fundamentals/custom-renderer/view.md
Labels: Xamarin.Forms

#1637 Update application-class.md
  docs/xamarin-forms/app-fundamentals/application-class.md
Labels: Xamarin.Forms

#1638 Updated link to article about memory management
  docs/ios/deploy-test/performance.md
Labels: iOS
