Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2019-09, with the labels that each got.

#2082 Correct microtesla abbreviation
  docs/essentials/magnetometer.md
Labels: Essentials

#2083 fix: MD007/ul-indent
  .markdownlint.json
  contributing-guidelines/template.md
  docs/android/app-fundamentals/resources-in-android/alternate-resources.md
  docs/android/app-fundamentals/touch/android-touch-walkthrough.md
  docs/android/deploy-test/building-apps/abi-specific-apks.md
  docs/android/deploy-test/building-apps/build-process.md
  docs/android/get-started/installation/android-emulator/device-manager.md
  docs/android/get-started/installation/android-emulator/hardware-acceleration.md
  docs/android/internals/api-design.md
  docs/android/platform/binding-java-library/troubleshooting-bindings.md
  docs/android/platform/kitkat.md
  docs/android/troubleshooting/troubleshooting.md
  docs/cross-platform/desktop/controls/wpf.md
  docs/cross-platform/troubleshooting/questions/version-logs.md
  docs/ios/deploy-test/app-distribution/in-house-distribution.md
  docs/ios/deploy-test/provisioning/entitlements.md
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
  docs/ios/get-started/installation/windows/connecting-to-mac/index.md
  docs/ios/get-started/installation/windows/index.md
  docs/ios/internals/registrar.md
  docs/ios/platform/introduction-to-ios11/updating-your-app/app-store-changes.md
  docs/ios/platform/introduction-to-ios12/siri-shortcuts.md
  docs/ios/platform/introduction-to-ios12/troubleshooting.md
  docs/ios/platform/sirikit/understanding-sirikit.md
  docs/ios/platform/speech.md
  docs/ios/user-interface/controls/labels.md
  docs/ios/user-interface/controls/searchbar.md
  docs/mac/app-fundamentals/sandboxing.md
  docs/mac/user-interface/outline-view.md
  docs/tools/dotnet-embedding/get-started/install/install.md
  docs/xamarin-forms/user-interface/listview/index.md
  docs/xamarin-forms/user-interface/listview/performance.md
  docs/xamarin-forms/user-interface/map.md
Labels: Android, Cross-platform, Xamarin.Forms, iOS, macOS

#2096 fix a wrong visual studio version
  docs/ios/get-started/installation/windows/connecting-to-mac/index.md
Labels: iOS

#2110 typo: Double word "a"
  docs/essentials/platform-feature-support.md
Labels: Essentials

#2111 Missing space added
  docs/xamarin-forms/user-interface/activityindicator.md
Labels: Xamarin.Forms

#2112 Fix typo
  docs/xamarin-forms/platform/device.md
Labels: Xamarin.Forms

#2120 Added the constraints editor popover
  docs/ios/user-interface/designer/designer-auto-layout-images/constraints-popup.png
  docs/ios/user-interface/designer/designer-auto-layout-images/constraints-spacing.png
  docs/ios/user-interface/designer/designer-auto-layout.md
Labels: iOS

#2130 SIWA doc - properly ends final code section
  docs/xamarin-forms/platform/sign-in-with-apple/android-ios-sign-in.md
Labels: Xamarin.Forms

#2126 fix: docs/ios/troubleshooting/questions/no-codesigning-keys.md
  docs/ios/troubleshooting/questions/no-codesigning-keys.md
Labels: iOS

#2108 fix: MD032/blanks-around-lists
  .markdownlint.json
  contributing-guidelines/template.md
  contributing-guidelines/voice-tone.md
  docs/android/app-fundamentals/services/index.md
  docs/cross-platform/desktop/controls/wpf.md
  docs/cross-platform/get-started/requirements.md
  docs/cross-platform/macios/unified/overview.md
  docs/cross-platform/macios/unified/updating-apps.md
  docs/cross-platform/troubleshooting/component-nuget.md
  docs/cross-platform/troubleshooting/questions/debugger-settings.md
  docs/cross-platform/troubleshooting/questions/nuget-package-downgrade.md
  docs/cross-platform/troubleshooting/questions/nuget-update.md
  docs/essentials/platform-feature-support.md
  docs/get-started/tutorials/app-lifecycle/includes/completed.md
  docs/get-started/tutorials/app-lifecycle/includes/intro.md
  docs/get-started/tutorials/button/includes/completed.md
  docs/get-started/tutorials/button/includes/intro.md
  docs/get-started/tutorials/editor/includes/completed.md
  docs/get-started/tutorials/editor/includes/intro.md
  docs/get-started/tutorials/entry/includes/completed.md
  docs/get-started/tutorials/entry/includes/intro.md
  docs/get-started/tutorials/grid/includes/completed.md
  docs/get-started/tutorials/grid/includes/intro.md
  docs/get-started/tutorials/image/includes/completed.md
  docs/get-started/tutorials/image/includes/intro.md
  docs/get-started/tutorials/label/includes/completed.md
  docs/get-started/tutorials/label/includes/intro.md
  docs/get-started/tutorials/listview/includes/completed.md
  docs/get-started/tutorials/listview/includes/intro.md
  docs/get-started/tutorials/local-database/includes/completed.md
  docs/get-started/tutorials/local-database/includes/intro.md
  docs/get-started/tutorials/pop-ups/includes/completed.md
  docs/get-started/tutorials/pop-ups/includes/intro.md
  docs/get-started/tutorials/stacklayout/includes/completed.md
  docs/get-started/tutorials/stacklayout/includes/intro.md
  docs/get-started/tutorials/web-service/includes/completed.md
  docs/get-started/tutorials/web-service/includes/intro.md
  docs/ios/app-fundamentals/threading.md
  docs/ios/data-cloud/introduction-to-icloud.md
  docs/ios/deploy-test/app-distribution/app-store-distribution/publishing-to-the-app-store.md
  docs/ios/get-started/installation/windows/connecting-to-mac/index.md
  docs/ios/get-started/installation/windows/connecting-to-mac/troubleshooting.md
  docs/ios/platform/apple-pay.md
  docs/ios/platform/introduction-to-ios11/sirikit.md
  docs/ios/platform/ios13/troubleshooting/index.md
  docs/ios/troubleshooting/mtouch-errors.md
  docs/ios/troubleshooting/questions/ipa-output-path.md
  docs/ios/troubleshooting/questions/ipa-zero-bytes.md
  docs/ios/troubleshooting/questions/mac-vm.md
  docs/ios/troubleshooting/questions/previous-xcode.md
  docs/ios/user-interface/controls/uicollectionview.md
  docs/tools/dotnet-embedding/get-started/objective-c/index.md
  docs/xamarin-forms/user-interface/text/label.md
  docs/xamarin-forms/xaml/xaml-previewer/render-custom-controls.md
Labels: Android, Cross-platform, Essentials, Xamarin.Forms, do-not-merge, iOS

#2144 update link to the Evolve16 video, and include the FlexLayout layout
  docs/xamarin-forms/user-interface/layouts/custom.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2149 Small grammar change
  docs/cross-platform/app-fundamentals/localization.md
Labels: Change sent to author, do-not-merge, xamarin/prod

#2142 fix: MD029/ol-prefix
  docs/android/platform/android-10.md
Labels: Change sent to author, do-not-merge

#2155 fix: MD001/heading-increment/header-increment
  contributing-guidelines/template.md
  docs/android/app-fundamentals/android-api-levels.md
  docs/android/app-fundamentals/permissions.md
  docs/android/app-fundamentals/resources-in-android/resources-for-varying-screens.md
  docs/android/data-cloud/google-messaging/remote-notifications-with-fcm.md
  docs/android/data-cloud/google-messaging/remote-notifications-with-gcm.md
  docs/android/deploy-test/publishing/publishing-to-google-play/index.md
  docs/android/deploy-test/release-prep/index.md
  docs/android/deploy-test/release-prep/proguard.md
  docs/android/get-started/installation/android-emulator/device-manager.md
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key.md
  docs/android/platform/oreo.md
  docs/android/user-interface/android-designer/designer-walkthrough.md
  docs/android/user-interface/layouts/recycler-view/parts-and-functionality.md
  docs/android/wear/get-started/hello-wear.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/case-study-tasky.md
  docs/cross-platform/macios/32-and-64/index.md
  docs/cross-platform/macios/http-stack.md
  docs/get-started/quickstarts/database.md
  docs/ios/deploy-test/testflight.md
  docs/ios/platform/message-app-integration/intro-to-message-app-extensions.md
  docs/ios/platform/sirikit/implementing-sirikit.md
  docs/ios/platform/user-notifications/advanced-user-notifications.md
  docs/ios/tvos/user-interface/text-fields-and-search.md
  docs/ios/user-interface/designer/introduction.md
  docs/tools/profiler/index.md
  docs/tools/workbooks/install.md
  docs/xamarin-forms/app-fundamentals/localization/text.md
  docs/xamarin-forms/user-interface/images.md
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2154 Fix a gramatical mistake
  docs/cross-platform/get-started/introduction-to-mobile-development.md
Labels: Change sent to author, xamarin/prod

#2156 Resolve syncing conflicts from repo_sync_working_branch to live
  .openpublishing.redirection.json
  docs/cross-platform/TOC.yml
  docs/cross-platform/get-started/introduction-to-mobile-development-images/android.png
  docs/cross-platform/get-started/introduction-to-mobile-development-images/ios.png
  docs/cross-platform/get-started/introduction-to-mobile-development.md
  docs/get-started/TOC.yml
  docs/get-started/what-is-xamarin-forms-images/xamarin-forms-app-cropped.png
  docs/get-started/what-is-xamarin-forms-images/xamarin-forms-app.png
  docs/get-started/what-is-xamarin-forms-images/xamarin-forms-architecture.png
  docs/get-started/what-is-xamarin-forms.md
  docs/get-started/what-is-xamarin-images/android-architecture-cropped.png
  docs/get-started/what-is-xamarin-images/android-architecture.png
  docs/get-started/what-is-xamarin-images/ios-architecture-cropped.png
  docs/get-started/what-is-xamarin-images/ios-architecture.png
  docs/get-started/what-is-xamarin-images/xamarin-app-cropped.png
  docs/get-started/what-is-xamarin-images/xamarin-app.png
  docs/get-started/what-is-xamarin-images/xamarin-architecture.png
  docs/get-started/what-is-xamarin.md
  docs/xamarin-forms/TOC.md
Labels: do-not-merge

#2160 Update images.md
  docs/xamarin-forms/user-interface/images.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2174 Fix git push error for protected CLA branch
  docs/ios/platform/ios13/sign-in.md
Labels: do-not-merge
