Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2019-05, with the labels that each got.

#1671 Update design-time-data.md
  docs/xamarin-forms/xaml/xaml-previewer/design-time-data.md
Labels: Xamarin.Forms

#1723 FlyoutIcon should be FlyoutItem
  docs/xamarin-forms/app-fundamentals/shell/create.md
Labels: Xamarin.Forms

#1722 Typo fixes
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/architecture.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/setting-up-a-xamarin-cross-platform-solution.md
Labels: Cross-platform

#1735 Typo corrected.
  docs/ios/user-interface/designer/ios-designable-controls-overview.md
Labels: iOS

#1740 Typo corrected.
  docs/ios/get-started/objective-c-developers/index.md
Labels: iOS

#1739 Added missing assignment to FireDate.
  docs/ios/platform/user-notifications/deprecated/local-notifications-in-ios.md
Labels: iOS

#1744 Fix typo
  docs/android/user-interface/controls/view-pager/viewpager-and-fragments.md
Labels: Android
