Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2019-12, with the labels that each got.

#2366 Remove preview labeling from XAML Hot Reload for Xamarin.Forms page.
  docs/xamarin-forms/xaml/hot-reload.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2367 Add clarification around XAML Hot Reload interpreter setting
  docs/xamarin-forms/xaml/hot-reload.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2371 Fix indent
  docs/android/user-interface/splash-screen.md
Labels: do-not-merge

#2384 Mistype fixed + clarification about `managedType`
  docs/android/platform/binding-java-library/customizing-bindings/java-bindings-metadata.md
Labels: Change sent to author, xamarin-android/tech, xamarin/prod

#2393 Fix a grammar mistake
  docs/xamarin-forms/deploy-test/performance.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2404 Update Link description
  docs/xamarin-forms/user-interface/images.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2407 Create instance in code snippets
  docs/xamarin-forms/user-interface/map/geocoder.md
Labels: Change sent to author, Xamarin.Forms, do-not-merge, xamarin-forms/tech, xamarin/prod

#2408 Update obtaining-a-google-maps-api-key.md
  docs/android/platform/maps-and-location/maps/obtaining-a-google-maps-api-key.md
Labels: Android, Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2409 Update index.md
  docs/android/app-fundamentals/services/creating-a-service/index.md
Labels: Android, Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2398 code formatted
  docs/ios/user-interface/controls/tables/populating-a-table-with-data.md
Labels: Change sent to author, xamarin-ios/tech, xamarin/prod

#2414 Update index.md
  docs/android/app-fundamentals/notifications/index.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2415 Remove descriptions of WinPhone screenshots
  docs/xamarin-forms/app-fundamentals/data-binding/basic-bindings.md
  docs/xamarin-forms/app-fundamentals/data-binding/binding-mode.md
  docs/xamarin-forms/app-fundamentals/data-binding/commanding.md
  docs/xamarin-forms/user-interface/datepicker.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/basics/circle.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/paths/fill-types.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/paths/lines.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/transforms/skew.md
  docs/xamarin-forms/user-interface/slider.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2395 [dotnet-embedding] add documentation re why bitcode is not supported
  docs/tools/dotnet-embedding/limitations.md
Labels: Change sent to author, Tools, xamarin-crossplatform/tech, xamarin/prod

#2421 Update out-of-process-services.md
  docs/android/app-fundamentals/services/out-of-process-services.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2422 Update out-of-process-services.md
  docs/android/app-fundamentals/services/out-of-process-services.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2423 Update out-of-process-services.md
  docs/android/app-fundamentals/services/out-of-process-services.md
Labels: Android, Change sent to author, xamarin-android/tech, xamarin/prod

#2424 Update out-of-process-services.md
  docs/android/app-fundamentals/services/out-of-process-services.md
Labels: Change sent to author, xamarin-android/tech, xamarin/prod
