Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2019-11, with the labels that each got.

#2290 Update automatic-provisioning.md
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
Labels: Change sent to author, do-not-merge, iOS, xamarin-ios/tech, xamarin/prod

#2288 Update splash-screen.md
  docs/android/user-interface/splash-screen.md
Labels: Android, Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2291 Fix copy and paste typo
  docs/xamarin-forms/app-fundamentals/localization/text.md
Labels: Change sent to author, Xamarin.Forms, do-not-merge, xamarin-forms/tech, xamarin/prod

#2296 Fix: Using `depends` instead of `dependencies`
  docs/android/platform/binding-java-library/binding-an-aar.md
Labels: Change sent to author, xamarin-android/tech, xamarin/prod

#2300 Fix the Easing parameter implicit converter
  docs/xamarin-forms/user-interface/animation/easing.md
Labels: Change sent to author, Xamarin.Forms, do-not-merge, xamarin-forms/tech, xamarin/prod

#2301 I added troubleshooting guides
  docs/xamarin-forms/data-cloud/authentication/oauth.md
Labels: Change sent to author, Xamarin.Forms, do-not-merge, xamarin-forms/tech, xamarin/prod

#2305 Updated validation for if IsPlayServiceAvailable()
  docs/xamarin-forms/data-cloud/azure-services/azure-notification-hub.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2314 Use dotnetcli
  docs/cross-platform/deploy-test/connect-to-local-web-services.md
Labels: Change sent to author, xamarin-crossplatform/tech, xamarin/prod

#2309 Typo and wording fixes
  docs/ios/get-started/objective-c-developers/primer.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#2322 Update get-started.md
  docs/essentials/get-started.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#2325 Fixed #2323
  docs/essentials/platform-extensions.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#2341 Add missing void and semi-colon.
  docs/android/app-fundamentals/broadcast-receivers.md
Labels: Android, Change sent to author, xamarin-android/tech, xamarin/prod
