Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2019-08, with the labels that each got.

#1985 Update cache data description
  docs/essentials/file-system-helpers.md
Labels: iOS

#1959 changing Black to White
  docs/xamarin-forms/app-fundamentals/effects/creating.md
Labels: Xamarin.Forms

#1973 Add clarification about using ViewCell
  docs/xamarin-forms/user-interface/collectionview/populate-data.md
Labels: Xamarin.Forms

#2001 Suggest to fix a link
  docs/xamarin-forms/xaml/index.yml
Labels: Xamarin.Forms

#2008 Update touch-tracking.md
  docs/xamarin-forms/app-fundamentals/effects/touch-tracking.md
Labels: Xamarin.Forms

#2015 Typo + Improve sentence clarity [Silent Updates]
  docs/ios/platform/user-notifications/enhanced-user-notifications.md
Labels: iOS

#1917 fix: MD033/no-inline-html
  CONTRIBUTING.md
  docs/android/deploy-test/publishing/publishing-independently.md
  docs/android/get-started/java-developers.md
  docs/android/includes/emulator-properties.md
  docs/android/internals/api-design.md
  docs/android/platform/java-integration/working-with-jni.md
  docs/android/platform/jelly-bean.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/case-study-tasky.md
  docs/cross-platform/deploy-test/linker.md
  docs/cross-platform/includes/windows-testing.md
  docs/cross-platform/macios/binding/objective-sharpie/examples/xcode.md
  docs/cross-platform/macios/binding/objective-sharpie/platform/native-frameworks.md
  docs/cross-platform/macios/binding/objective-sharpie/tools.md
  docs/cross-platform/macios/unified/overview.md
  docs/cross-platform/platform/async.md
  docs/cross-platform/troubleshooting/questions/pcl-case-study.md
  docs/index.md
  docs/ios/app-fundamentals/ats.md
  docs/ios/app-fundamentals/backgrounding/introduction-to-backgrounding-in-ios.md
  docs/ios/app-fundamentals/localization/index.md
  docs/ios/data-cloud/data/using-sqlite-orm.md
  docs/ios/troubleshooting/mtouch-errors.md
  docs/ios/troubleshooting/troubleshooting.md
  docs/ios/user-interface/monotouch.dialog/elements-api-walkthrough.md
  docs/ios/user-interface/monotouch.dialog/index.md
  docs/ios/watchos/app-fundamentals/localization.md
  docs/mac/troubleshooting/mmp-errors.md
  docs/xamarin-forms/app-fundamentals/behaviors/creating.md
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/index.md
  docs/xamarin-forms/creating-mobile-apps-xamarin-forms/summaries/chapter26.md
  docs/xamarin-forms/data-cloud/authentication/rest.md
  docs/xamarin-forms/troubleshooting/questions/update-forms-template.md
  docs/xamarin-forms/user-interface/graphics/cocossharp.md
  docs/xamarin-forms/user-interface/images.md
  docs/xamarin-forms/user-interface/layouts/custom.md
  docs/xamarin-forms/user-interface/text/fonts.md
  docs/xamarin-forms/xaml/xaml-basics/index.md
Labels: Android, Cross-platform, Xamarin.Forms, iOS

#1887 fix: MD046/code-block-style
  CONTRIBUTING.md
  docs/android/app-fundamentals/resources-in-android/alternate-resources.md
  docs/android/deploy-test/building-apps/build-process.md
  docs/android/deploy-test/publishing/publishing-to-google-play/apk-expansion-files.md
  docs/android/deploy-test/release-prep/proguard.md
  docs/android/get-started/installation/android-emulator/troubleshooting.md
  docs/android/internals/api-design.md
  docs/android/troubleshooting/troubleshooting.md
  docs/android/wear/deploy-test/debug-on-device.md
  docs/cross-platform/deploy-test/installing-nunit-using-nuget.md
  docs/cross-platform/macios/unified/overview.md
  docs/cross-platform/platform/csharp-six.md
  docs/get-started/installation/uninstalling-xamarin.md
  docs/ios/deploy-test/provisioning/fastlane/cert.md
  docs/ios/deploy-test/provisioning/fastlane/match.md
  docs/ios/deploy-test/provisioning/fastlane/sigh.md
  docs/ios/includes/copy-app-bundle-to-windows.md
  docs/ios/internals/api-design/index.md
  docs/ios/internals/floating-point.md
  docs/ios/platform/3d-touch.md
  docs/ios/platform/exception-marshaling.md
  docs/ios/platform/introduction-to-ios11/arkit/urhosharp.md
  docs/ios/platform/photokit.md
  docs/ios/troubleshooting/mtouch-errors.md
  docs/ios/user-interface/storyboards/index.md
  docs/ios/watchos/troubleshooting.md
  docs/mac/internals/aot.md
  docs/tools/ci/includes/commandline-compile-of-xamarin-ios-ipa.md
  docs/tools/ci/jenkins-walkthrough.md
  docs/tools/inspector/inspect.md
Labels: Meta, do-not-merge

#1635 Move proguard_xamarin.cfg into proper section
  docs/android/deploy-test/release-prep/proguard.md
Labels: Android

#2028 fixed minor typo in Native Forms
  docs/xamarin-forms/platform/native-forms.md
Labels: Xamarin.Forms

#2029 Updated stack-layout.md
  docs/xamarin-forms/user-interface/layouts/stack-layout.md
Labels: Xamarin.Forms

#2039 fix: MD038/no-space-in-code
  docs/xamarin-forms/enterprise-application-patterns/mvvm.md
Labels: Xamarin.Forms

#2040 fix: MD010/no-hard-tabs
  docs/cross-platform/macios/unified/update-binding.md
  docs/ios/app-fundamentals/backgrounding/ios-backgrounding-walkthroughs/location-walkthrough.md
  docs/ios/app-fundamentals/images-icons/app-store-icon.md
  docs/ios/deploy-test/testflight.md
  docs/ios/internals/api-design/index.md
  docs/ios/platform/apple-pay.md
  docs/ios/platform/binding-objective-c/walkthrough.md
  docs/ios/platform/extensions.md
  docs/ios/platform/graphics-animation-ios/core-animation.md
  docs/ios/platform/introduction-to-ios10/additional-framework-changes.md
  docs/ios/platform/introduction-to-ios9/index.md
  docs/ios/platform/search/proactive-suggestions.md
  docs/ios/platform/search/web-markup.md
  docs/ios/troubleshooting/mtouch-errors.md
  docs/ios/tvos/troubleshooting.md
  docs/ios/user-interface/controls/uicollectionview.md
  docs/ios/watchos/platform/background-tasks.md
  docs/ios/watchos/platform/introduction-to-watchos3/index.md
  docs/ios/watchos/platform/quick-interaction-techniques.md
  docs/ios/watchos/platform/workout-apps.md
  docs/mac/app-fundamentals/mac-apis.md
  docs/mac/platform/introduction-to-macos-sierra/additional-framework-changes.md
  docs/mac/platform/storyboards/index.md
  docs/mac/user-interface/alert.md
  docs/mac/user-interface/table-view.md
  docs/tools/profiler/index.md
Labels: iOS, macOS

#2037 Use correct method names to convert Point and Rectangle
  docs/essentials/platform-extensions.md
Labels: Essentials

#2047 chore: Replace Alert with MS Doc style
  docs/essentials/platform-feature-support.md
  docs/ios/troubleshooting/troubleshooting.md
  docs/ios/watchos/troubleshooting.md
  docs/xamarin-forms/app-fundamentals/triggers.md
Labels: Essentials, Xamarin.Forms

#2049 Quick broken link fix
  docs/xamarin-forms/data-cloud/authentication/azure-ad-b2c.md
Labels: Xamarin.Forms

#2035 Add URI Scheme Format
  docs/xamarin-forms/data-cloud/authentication/azure-ad-b2c.md
Labels: Xamarin.Forms

#2050 removing duplicated notes
  docs/xamarin-forms/app-fundamentals/navigation/carousel-page.md
Labels: Xamarin.Forms

#2046 fix: MD031/blanks-around-fences
  docs/android/app-fundamentals/activity-lifecycle/saving-state.md
  docs/android/app-fundamentals/handling-rotation.md
  docs/android/deploy-test/building-apps/build-process.md
  docs/android/get-started/installation/android-emulator/troubleshooting.md
  docs/android/platform/android-manifest.md
  docs/android/platform/maps-and-location/maps/maps-api.md
  docs/android/troubleshooting/questions/automate-android-nunit-test.md
  docs/android/troubleshooting/questions/install-android-support-library.md
  docs/android/user-interface/controls/ratingbar.md
  docs/android/user-interface/layouts/list-view/index.md
  docs/android/user-interface/layouts/recycler-view/recyclerview-example.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/platform-divergence-abstraction-divergent-implementation.md
  docs/cross-platform/macios/unified/overview.md
  docs/cross-platform/macios/unified/update-binding.md
  docs/cross-platform/platform/csharp-six.md
  docs/ios/deploy-test/app-distribution/ipa-support.md
  docs/ios/deploy-test/app-distribution/itunesmetadata.md
  docs/ios/get-started/hello-ios/hello-ios-quickstart.md
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
  docs/ios/get-started/installation/windows/connecting-to-mac/troubleshooting.md
  docs/ios/internals/api-design/index.md
  docs/ios/internals/api-design/nsstring.md
  docs/ios/platform/binding-objective-c/walkthrough.md
  docs/ios/platform/graphics-animation-ios/core-graphics.md
  docs/ios/platform/introduction-to-ios11/updating-your-app/visual-design.md
  docs/ios/platform/search/corespotlight.md
  docs/ios/platform/social-framework.md
  docs/ios/troubleshooting/troubleshooting.md
  docs/ios/user-interface/controls/ios-maps/index.md
  docs/ios/user-interface/controls/ios-maps/ios-maps-walkthrough.md
  docs/ios/user-interface/controls/picker.md
  docs/ios/user-interface/controls/tables/populating-a-table-with-data.md
  docs/ios/user-interface/controls/uicollectionview.md
  docs/ios/user-interface/storyboards/unified-storyboards.md
  docs/ios/watchos/app-fundamentals/navigation.md
  docs/ios/watchos/platform/proactive-suggestions.md
  docs/mac/app-fundamentals/databases.md
  docs/mac/platform/opentk.md
  docs/mac/user-interface/alert.md
  docs/tools/dotnet-embedding/android/callbacks.md
  docs/tools/dotnet-embedding/objective-c/index.md
  docs/tools/workbooks/troubleshooting/general.md
  docs/xamarin-forms/app-fundamentals/custom-renderer/viewcell.md
  docs/xamarin-forms/data-cloud/web-services/rest.md
  docs/xamarin-forms/data-cloud/web-services/wcf.md
  docs/xamarin-forms/user-interface/boxview.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/basics/circle.md
  docs/xamarin-forms/user-interface/layouts/absolute-layout.md
  docs/xamarin-forms/xaml/xaml-previewer/design-time-data.md
Labels: Android, Tools, Xamarin.Forms, iOS

#2053 Fixed bad title on list item
  docs/xamarin-forms/user-interface/layouts/index.yml
Labels: Xamarin.Forms

#2056 Fixed issue with sample link
  docs/xamarin-forms/user-interface/layouts/contentview.md
Labels: Xamarin.Forms

#2077 fix: MD030/list-marker-space
  docs/android/deploy-test/building-apps/build-process.md
Labels: Android

#1868 chore: Add passing Markdownlint config
  .markdownlint.json
Labels: Meta

#2081 fix: MD010/no-hard-tabs
  docs/android/app-fundamentals/localization.md
  docs/android/app-fundamentals/touch/touch-in-android.md
  docs/android/internals/garbage-collection.md
  docs/cross-platform/macios/binding/binding-types-reference.md
  docs/cross-platform/macios/binding/objective-c-libraries.md
  docs/cross-platform/macios/index.md
  docs/cross-platform/macios/nativetypes.md
  docs/cross-platform/macios/unified/updating-xamarin-forms-apps.md
  docs/graphics-games/monogame/3d/part1.md
  docs/ios/app-fundamentals/images-icons/alternate-app-icons.md
  docs/ios/internals/newrefcount.md
  docs/ios/platform/3d-touch.md
  docs/ios/platform/callkit.md
  docs/ios/platform/document-picker.md
  docs/ios/platform/exception-marshaling.md
  docs/ios/platform/introduction-to-ios7/ios7-ui.md
  docs/ios/platform/message-app-integration/advanced-message-app-extensions.md
  docs/ios/platform/request-app-review.md
  docs/ios/platform/user-notifications/deprecated/local-notifications-in-ios-walkthrough.md
  docs/ios/troubleshooting/mtouch-errors.md
  docs/ios/tvos/user-interface/buttons.md
  docs/ios/tvos/user-interface/collection-views.md
  docs/ios/tvos/user-interface/segmented-controls.md
  docs/ios/tvos/user-interface/split-views.md
  docs/ios/tvos/user-interface/tab-bars.md
  docs/ios/tvos/user-interface/table-views.md
  docs/ios/user-interface/controls/creating-tabbed-applications.md
  docs/ios/user-interface/controls/tables/autosizing-row-height.md
  docs/ios/user-interface/controls/uistackview.md
  docs/ios/user-interface/designer/designer-auto-layout.md
  docs/ios/watchos/app-fundamentals/parent-app.md
  docs/ios/watchos/get-started/hello-watch.md
  docs/ios/watchos/platform/complications.md
  docs/ios/watchos/platform/proactive-suggestions.md
  docs/ios/watchos/user-interface/menu.md
  docs/ios/watchos/user-interface/text-input.md
  docs/mac/app-fundamentals/accessibility.md
  docs/mac/app-fundamentals/copy-paste.md
  docs/mac/app-fundamentals/databases.md
  docs/mac/deploy-test/app-icon.md
  docs/mac/deploy-test/publishing-to-the-app-store/profiles.md
  docs/mac/deploy-test/publishing-to-the-app-store/uploading.md
  docs/mac/internals/architecture.md
  docs/mac/platform/extensions.md
  docs/tools/dotnet-embedding/errors.md
  docs/tools/dotnet-embedding/get-started/install/install.md
  docs/tools/dotnet-embedding/get-started/objective-c/macos.md
  docs/tools/workbooks/sdk/integrations.md
  docs/xamarin-forms/app-fundamentals/accessibility/automation-properties.md
  docs/xamarin-forms/app-fundamentals/custom-renderer/hybridwebview.md
  docs/xamarin-forms/app-fundamentals/dependency-service/introduction.md
  docs/xamarin-forms/app-fundamentals/dependency-service/registration-and-resolution.md
  docs/xamarin-forms/platform/ios/main-thread-updates-ui.md
  docs/xamarin-forms/platform/ios/named-font-size-scaling.md
  docs/xamarin-forms/platform/windows/tabbedpage-icons.md
Labels: Android, Cross-platform, Xamarin.Forms, iOS, macOS
