Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2020-05, with the labels that each got.

#2643 Wrong Sample on OpenBrowser
  docs/essentials/open-browser.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#920 Fixes incorrect words, grammar, and missing code formatting for dotnet-embedding errors documentation
  docs/tools/dotnet-embedding/errors.md
Labels: Change sent to author, Tools, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#2791 Added explanation to garbage collector
  docs/cross-platform/deploy-test/memory-perf-best-practices.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#2800 fix encoding of line feed character
  docs/xamarin-forms/user-interface/text/label.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2836 Updated wrong class name for UITableViewCell
  docs/ios/user-interface/controls/tables/populating-a-table-with-data.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#2872 Update searchbar.md
  docs/xamarin-forms/user-interface/searchbar.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod
