Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2020-06, with the labels that each got.

#2925 Update hardware-acceleration.md
  docs/android/get-started/installation/android-emulator/hardware-acceleration.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2923 fixed a typo
  docs/tools/ios-simulator/index.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#2789 Updated Expander.md
  docs/xamarin-forms/user-interface/expander.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2903 Correction to the sample code on menuitem.md
  docs/xamarin-forms/user-interface/menuitem.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2937 Typo
  docs/ios/platform/ios13/multi-window-ipad.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#2956 Fix location of iOS deployment target setting
  docs/xamarin-forms/user-interface/graphics/skiasharp/index.md
Labels: Change sent to author, do-not-merge, xamarin-skiasharp/tech, xamarin/prod
