Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2020-10, with the labels that each got.

#3105 Fixed typo
  docs/xamarin-forms/user-interface/mediaelement.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3109 Add missing "."
  docs/xamarin-forms/platform/android/index.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3113 Added a missing "to"
  docs/cross-platform/macios/binding/objective-sharpie/index.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#3114 Fix typo in android camera permission name in docs
  docs/essentials/media-picker.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#3117 Fix typo - remove extraneous word "choose"
  docs/cross-platform/app-fundamentals/shared-projects.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#3123 Fix typo in editor.md
  docs/xamarin-forms/user-interface/text/editor.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3139 Updates Xamarin Hot Restart Troubleshoot section
  docs/xamarin-forms/deploy-test/hot-restart.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3141 Fix typos on dependency service docs
  docs/xamarin-forms/app-fundamentals/dependency-service/registration-and-resolution.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3129 added button control state list #hacktoberfest
  docs/ios/user-interface/controls/buttons.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#3052 Added missing "/" in closing tag
  docs/android/deploy-test/building-apps/build-process.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod
