Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2020-09, with the labels that each got.

#3054 De-pluralize header to match other headers
  docs/ios/app-fundamentals/images-icons/displaying-an-image.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#3055 Update case-study-tasky.md
  docs/cross-platform/app-fundamentals/building-cross-platform-applications/case-study-tasky.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#3027 added HapticFeedback
  docs/essentials/haptic-feedback.md
  docs/essentials/index.md
  docs/essentials/vibrate.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#3097 Some Docs had wrong API in description
  docs/essentials/contacts.md
  docs/essentials/haptic-feedback.md
  docs/essentials/media-picker.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#3056 Update preferences.md
  docs/essentials/preferences.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#3099 Update amount of internal & external users
  docs/ios/deploy-test/testflight.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod
