Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2020-04, with the labels that each got.

#2683 fix: UIWebView optimize argument
  docs/ios/user-interface/controls/webview.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#2705 Changed GPS package name
  docs/android/platform/maps-and-location/location.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2702 Removed obsolete prerelease step
  docs/xamarin-forms/platform/other/wpf.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2718 Added the App.cs static variable
  docs/xamarin-forms/data-cloud/data/databases.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2734 typo
  docs/get-started/tutorials/label/includes/appearance.md
  docs/get-started/tutorials/label/includes/create.md
  docs/get-started/tutorials/listview/includes/create.md
  docs/get-started/tutorials/listview/includes/customize-cell-appearance.md
  docs/get-started/tutorials/listview/includes/populate-data.md
Labels: do-not-merge, review-team-triage

#2754 Fixes #2750 - Update to use https
  docs/get-started/tutorials/listview/includes/populate-data.md
Labels: do-not-merge, review-team-triage

#2765 Fix spelling error
  docs/essentials/permissions.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod
