Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2020-12, with the labels that each got.

#3179 Update android-assets.md
  docs/android/app-fundamentals/resources-in-android/android-assets.md
Labels: do-not-merge

#3175 Give guidance on the version of essentials to use
  docs/essentials/permissions.md
Labels: Change sent to author, ready-to-merge, xamarin-essentials/tech, xamarin/prod

#3181 Fixed casing in code example
  docs/ios/platform/exception-marshaling.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#3152 Updated Xamarin.Essentials: Contacts
  docs/essentials/contacts.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#3187 Update app-actions.md
  docs/essentials/app-actions.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#3199 Remove OnResume for Android
  docs/essentials/web-authenticator.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod
