Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2020-07, with the labels that each got.

#2959 Fix interface name to be implemented
  docs/xamarin-forms/app-fundamentals/data-binding/multibinding.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2961 Adding survey to custom bindings pages
  docs/android/platform/binding-java-library/binding-a-jar.md
  docs/android/platform/binding-java-library/binding-a-library-project.md
  docs/android/platform/binding-java-library/binding-an-aar.md
  docs/android/platform/binding-java-library/customizing-bindings/java-bindings-metadata.md
  docs/android/platform/binding-java-library/customizing-bindings/naming-parameters-with-javadoc.md
  docs/android/platform/binding-java-library/troubleshooting-bindings.md
  docs/android/platform/binding-kotlin-library/index.md
  docs/android/platform/binding-kotlin-library/walkthrough.md
  docs/ios/platform/binding-objective-c/index.md
  docs/ios/platform/binding-objective-c/walkthrough.md
  docs/ios/platform/binding-swift/index.md
  docs/ios/platform/binding-swift/walkthrough.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#2969 fix typo: AddCookies() -> AddCookie()
  docs/essentials/web-authenticator.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#2921 Fixed wrong behavior information
  docs/essentials/web-authenticator.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#2944 Replaced wrong link
  docs/xamarin-forms/data-cloud/azure-services/azure-signalr.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2871 Grammar corrections, added note
  docs/android/deploy-test/signing/index.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2980 Correcting capitalization of VMware
  docs/android/get-started/installation/android-emulator/hardware-acceleration.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2885 Update file-system-helpers.md
  docs/essentials/file-system-helpers.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#2975 Update binding-types-reference.md
  docs/cross-platform/macios/binding/binding-types-reference.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#2995 Update index.md
  docs/android/app-fundamentals/services/index.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2997 Added "to" - grammatical fix
  docs/xamarin-forms/xaml/xaml-basics/get-started-with-xaml.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod
