Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2020-01, with the labels that each got.

#2431 Update android-job-scheduler.md
  docs/android/platform/android-job-scheduler.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2389 Update authentication-and-authorization.md
  docs/xamarin-forms/enterprise-application-patterns/authentication-and-authorization.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2433 Update webview.md
  docs/ios/user-interface/controls/webview.md
Labels: Change sent to author, xamarin-ios/tech, xamarin/prod

#2434 Content Update
  docs/ios/platform/introduction-to-ios11/corenfc.md
Labels: Change sent to author, xamarin-ios/tech, xamarin/prod

#2438 I added additional information about limitations placed on implicit broadcast receivers on android API 26 and above
  docs/android/app-fundamentals/broadcast-receivers.md
Labels: Change sent to author, xamarin-android/tech, xamarin/prod

#2474 Fix the error of typing "gpedit" for windows search box.
  docs/android/get-started/installation/android-emulator/troubleshooting.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2487 Corrected text about verbatim string literal escaping
  docs/xamarin-forms/user-interface/webview.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2489 viewpager-and-views: Fix code block bounds
  docs/android/user-interface/controls/view-pager/viewpager-and-views.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2488 Update proguard.md
  docs/android/deploy-test/release-prep/proguard.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#2483 update to XCode 11.3
  docs/ios/platform/binding-objective-c/walkthrough.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#2482 Update sharpie tools
  docs/ios/platform/binding-objective-c/walkthrough.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#2468 Code update
  docs/ios/user-interface/controls/picker.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#2491 Update azure-notification-hub.md
  docs/xamarin-forms/data-cloud/azure-services/azure-notification-hub.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2494 multiple files: fix typos
  docs/android/app-fundamentals/permissions.md
  docs/android/app-fundamentals/resources-in-android/fonts.md
  docs/android/deploy-test/building-apps/abi-specific-apks.md
  docs/android/get-started/installation/android-sdk.md
  docs/android/platform/android-job-scheduler.md
  docs/android/user-interface/controls/card-view.md
  docs/android/user-interface/controls/index.md
  docs/android/user-interface/controls/view-pager/index.md
  docs/android/user-interface/material-theme.md
  docs/cross-platform/desktop/controls/wpf.md
  docs/cross-platform/macios/binding/objective-sharpie/platform/verify.md
  docs/cross-platform/macios/unified/overview.md
  docs/essentials/device-information.md
  docs/ios/app-fundamentals/images-icons/launch-screens.md
  docs/ios/app-fundamentals/touch/touch-in-ios.md
  docs/ios/get-started/installation/windows/connecting-to-mac/index.md
  docs/ios/internals/xib-code-generation.md
  docs/ios/troubleshooting/mtouch-errors.md
  docs/ios/troubleshooting/questions/error-registerserviceport.md
  docs/ios/tvos/platform/remote-bluetooth.md
  docs/ios/user-interface/controls/tables/row-action.md
  docs/ios/user-interface/storyboards/index.md
  docs/mac/troubleshooting/mmp-errors.md
  docs/xamarin-forms/user-interface/visual-state-manager.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2492 Update index.yml
  docs/index.yml
Labels: do-not-merge, review-team-triage
