Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2020-02, with the labels that each got.

#2503 Fix typo
  docs/ios/user-interface/controls/ios-maps/ios-maps-walkthrough.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#2497 bash cmd update
  docs/cross-platform/macios/binding/objective-sharpie/examples/advanced.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#2530 Add path fixes needed by current sharpie
  docs/cross-platform/macios/binding/objective-sharpie/platform/native-frameworks.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#2512 Should keep referring to the example button as myButton
  docs/ios/user-interface/controls/buttons.md
Labels: Change sent to author, xamarin-ios/tech, xamarin/prod

#2543 Corrected grammar
  docs/get-started/what-is-xamarin-forms.md
Labels: do-not-merge

#2555 Fix code
  docs/xamarin-forms/xaml/xaml-controls.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2559 small suggestion made by VS
  docs/xamarin-forms/app-fundamentals/data-binding/binding-mode.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2351 Update MenuItem and ToolbarItem articles with instructions and examples to enable or disable
  docs/xamarin-forms/user-interface/menuitem.md
  docs/xamarin-forms/user-interface/toolbaritem.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2566 Added CheckBox link
  docs/xamarin-forms/user-interface/visual/material-visual.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod
