Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2020-03, with the labels that each got.

#2572 fix spelling
  docs/essentials/get-started.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#2576 Use Xamarin.Essentials for orientation change detection
  docs/xamarin-forms/user-interface/layouts/device-orientation.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2587 Fix typo
  docs/android/deploy-test/building-apps/build-process.md
Labels: Change sent to author, xamarin-android/tech, xamarin/prod

#2585 no.png
  docs/essentials/permissions.md
Labels: Change sent to author, xamarin-essentials/tech, xamarin/prod

#2588 Update index.md
  docs/tools/profiler/index.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#2570 Update Xamarin.Essentials support status
  docs/essentials/platform-feature-support.md
Labels: Change sent to author, xamarin-essentials/tech, xamarin/prod

#2456 Add HasKey description
  docs/essentials/preferences.md
Labels: Change sent to author, Essentials, xamarin-crossplatform/tech, xamarin/prod

#2439 Update device-information.md
  docs/essentials/device-information.md
Labels: Change sent to author, Essentials, xamarin-crossplatform/tech, xamarin-essentials/tech, xamarin/prod

#2190 Updated iOS section
  docs/essentials/device-information.md
Labels: Change sent to author, Essentials, xamarin-essentials/tech, xamarin/prod

#2637 Update link to dual screen GitHub sample project
  docs/xamarin-forms/app-fundamentals/dual-screen/design-patterns.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#2640 primer.md Code Fix
  docs/ios/get-started/objective-c-developers/primer.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#2642 typo: Double word "since"
  docs/ios/user-interface/controls/webview.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#2651 MacOS should be macOS
  docs/xamarin-forms/xaml/hot-reload.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod
