Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2020-11, with the labels that each got.

#3147 Update media-picker.md
  docs/essentials/media-picker.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#3149 Minor updates in common control properties, methods, and events
  docs/xamarin-forms/user-interface/controls/common-properties.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3124 Updated Xamarin.Essentials: Share Multiple Files
  docs/essentials/share.md
Labels: Change sent to author, ready-to-merge, xamarin-essentials/tech, xamarin/prod

#3155 Fixed typos on Xamarin.Essentials: Share Multiple Files
  docs/essentials/share.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#3159 FIxed pages.md
  docs/xamarin-forms/user-interface/controls/pages.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3120 Updated Xamarin.Essentials: File Picker
  docs/essentials/file-picker.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#3166 Fix typo
  docs/tools/dotnet-embedding/limitations.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#3172 Change ''resources'' to ''tasks''
  docs/android/app-fundamentals/activity-lifecycle/index.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#3169 Updates for minimum API version
  docs/android/app-fundamentals/android-api-levels.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#3168 removed duplicate `errorCallback != null` check from code example
  docs/xamarin-forms/data-cloud/azure-services/azure-notification-hub.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3170 Partial table update
  docs/android/includes/api-levels.md
Labels: do-not-merge, review-team-triage
