Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2020-08, with the labels that each got.

#3006 Update geocoder.md
  docs/xamarin-forms/user-interface/map/geocoder.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3019 Typo "Azure Storage emulator"→"Azure Storage Emulator"
  docs/xamarin-forms/data-cloud/azure-services/azure-storage.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3018 add link to linker behavior
  docs/tools/inspector/install.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#3015 Update communicating-between-loosely-coupled-components.md
  docs/xamarin-forms/enterprise-application-patterns/communicating-between-loosely-coupled-components.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#1611 Added missing SpecialFolder paths
  docs/android/platform/files/index.md
Labels: Android, Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#3021 Mention Application tab in automatic-provisioning.md
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#3025 fixed a typo
  docs/ios/platform/introduction-to-ios12/notifications/grouped.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#3035 Repo sync for protected CLA branch
  docs/ios/platform/introduction-to-ios12/notifications/grouped.md
Labels: CLA, do-not-merge

#3033 Repo sync for protected CLA branch
  docs/ios/platform/introduction-to-ios12/notifications/grouped.md
Labels: CLA, Change sent to author, xamarin-forms/tech, xamarin/prod

#3034 Repo sync for protected CLA branch
  docs/ios/platform/introduction-to-ios12/notifications/grouped.md
Labels: CLA

#3032 Repo sync for protected CLA branch
  docs/ios/platform/introduction-to-ios12/notifications/grouped.md
Labels: CLA, Change sent to author, xamarin-forms/tech, xamarin/prod

#3043 Fix automatic provisioning link
  docs/ios/get-started/installation/device-provisioning/automatic-provisioning.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#3047 Update advanced-user-notifications.md
  docs/ios/platform/user-notifications/advanced-user-notifications.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#3046 Typo + grammatical fix
  docs/essentials/get-started.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod
