Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2021-12, with the labels that each got.

#3391 Add missing semi-colon to WebAuthenticator example
  docs/essentials/web-authenticator.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-essentials/tech

#3392 Update drag-and-drop.md
  docs/ios/platform/introduction-to-ios11/drag-and-drop.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-ios/tech

#3396 updated Google's target API minimum
  docs/android/app-fundamentals/android-api-levels.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-android/tech
