Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2021-05, with the labels that each got.

#3297 Correct AppResources.es.resx reference
  docs/xamarin-forms/app-fundamentals/localization/text.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3298 Update cpp/index.md
  docs/cross-platform/cpp/index.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#3299 Added Related Video From Channel 9 For App Actions
  docs/essentials/app-actions.md
Labels: Change sent to author, ready-to-merge, xamarin-essentials/tech, xamarin/prod

#3301 Added Related Video From Channel9 For File Picker
  docs/essentials/file-picker.md
Labels: Change sent to author, ready-to-merge, xamarin-essentials/tech, xamarin/prod

#3305 Update exception-marshaling.md
  docs/ios/platform/exception-marshaling.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#3307 Typo "**Center*-"→"**Center** -"
  docs/ios/tvos/user-interface/stacked-views.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod
