Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2021-02, with the labels that each got.

#3230 Update xamlc.md
  docs/xamarin-forms/xaml/xamlc.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3232 Add information about http clear-text traffic
  docs/cross-platform/deploy-test/connect-to-local-web-services.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#3237 Update index.md
  docs/android/app-fundamentals/activity-lifecycle/index.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#3246 typo vs2017 in "win-vs2019" pivot zone
  docs/ios/get-started/installation/windows/index.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod
