Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2021-07, with the labels that each got.

#3323 Fix misspelling of "employs"
  docs/android/deploy-test/linker.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#3325 Update correct buttons for F10 F11 functions
  docs/ios/deploy-test/debugging-in-xamarin-ios.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#3326 Add x:Name for accessing the Text property
  docs/xamarin-forms/user-interface/text/editor.md
  docs/xamarin-forms/user-interface/text/entry.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod

#3340 fixed broken link
  docs/xamarin-forms/xaml/xaml-basics/index.md
Labels: Change sent to author, do-not-merge, xamarin-forms/tech, xamarin/prod
