Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2021-04, with the labels that each got.

#3274 Corrected sample code
  docs/essentials/file-picker.md
Labels: Change sent to author, ready-to-merge, xamarin-essentials/tech, xamarin/prod

#3276 Fixed broken link to blog post
  docs/android/platform/native-libraries.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#3288 Include the Microsoft OpenJDK bundled with Xamarin Android
  docs/android/deploy-test/signing/keystore-signature.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#3290 Updated Xamarin.Essentials: Tip About using FilePath
  docs/essentials/file-picker.md
  docs/essentials/includes/tip-file-result.md
  docs/essentials/media-picker.md
Labels: ready-to-merge

#3291 Xamarin Essentials Platform Extensions title in table of contents consistent with article header
  docs/android/TOC.yml
  docs/ios/TOC.yml
  docs/xamarin-forms/TOC.yml
Labels: do-not-merge, review-team-triage
