Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2021-01, with the labels that each got.

#3204 Update toolbar-compatibility.md
  docs/android/user-interface/controls/tool-bar/toolbar-compatibility.md
Labels: Change sent to author, do-not-merge, xamarin-android/tech, xamarin/prod

#3206 Update web-authenticator.md with changes required for changes required in Android 11 (API Level 30 - R)
  docs/essentials/web-authenticator.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod

#3207 Add notes for MacOS, since this API is unified.
  docs/ios/platform/user-notifications/enhanced-user-notifications.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#3190 Change MediaPicker macOS to limited support
  docs/essentials/platform-feature-support.md
Labels: Change sent to author, ready-to-merge, xamarin-essentials/tech, xamarin/prod

#3212 Fix link Symbolicating iOS Crash Files (Xamarin.iOS)
  docs/ios/troubleshooting/questions/symbolicate-ios-crash.md
Labels: Change sent to author, do-not-merge, xamarin-ios/tech, xamarin/prod

#3214 Fix 'Team City' to 'TeamCity' as its brand name
  docs/tools/ci/teamcity.md
Labels: Change sent to author, do-not-merge, xamarin-crossplatform/tech, xamarin/prod

#3216 Update environment.md
  docs/android/deploy-test/environment.md
Labels: do-not-merge

#3215 Updated Xamarin.Essentials: Info About PresentationSourceBounds
  docs/essentials/includes/ios-PresentationSourceBounds.md
  docs/essentials/launcher.md
  docs/essentials/share.md
Labels: Change sent to author, do-not-merge, xamarin-essentials/tech, xamarin/prod
