Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2022-09, with the labels that each got.

#3485 Typo fix - update to device styles article
  docs/xamarin-forms/user-interface/styles/xaml/device.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-forms/tech

#3469 Fixed typo in Tables and Cells paragraph
  docs/ios/user-interface/controls/index.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-ios/tech

#3472 duplicated "project"
  docs/ios/user-interface/storyboards/indepth-storyboard.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-ios/tech

#3477 Update objective-c-libraries.md
  docs/cross-platform/macios/binding/objective-c-libraries.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-crossplatform/tech

#3474 Replace 'SHA1' with 'SHA256'
  docs/android/platform/app-linking.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-android/tech

#3471 Remove language around return
  docs/essentials/open-browser.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-essentials/tech

#3465 Visual Studio 2022
  docs/android/get-started/installation/android-sdk.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-android/tech

#3457 Remove double /
  docs/mac/app-fundamentals/console.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-mac/tech

#3408 Update fonts.md
  docs/xamarin-forms/user-interface/text/fonts.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-forms/tech

#3398 Update index.md
  docs/tools/profiler/index.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-crossplatform/tech

#3487 Issue-3446 Spelling Mistake fix
  docs/xamarin-forms/user-interface/layouts/bindable-layouts.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-forms/tech

#3488 Typo fixes - update to shell navigation article
  docs/xamarin-forms/app-fundamentals/shell/navigation.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-forms/tech

#3489 Typo fix - update to configure CarouselView interaction article
  docs/xamarin-forms/user-interface/carouselview/interaction.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-forms/tech

#3491 Typo fix - update to Xamarin.Forms visual state manager article
  docs/xamarin-forms/user-interface/visual-state-manager.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-forms/tech
