Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2022-05, with the labels that each got.

#3456 Fix description of PKM format
  docs/xamarin-forms/user-interface/graphics/skiasharp/bitmaps/saving.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-skiasharp/tech

#3448 Fixed a typo in the sample usage of IpaPackageDir
  docs/ios/deploy-test/app-distribution/ipa-support.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-ios/tech

#3450 Update get-started.md
  docs/cross-platform/macios/binding/objective-sharpie/get-started.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-crossplatform/tech

#3442 Fix issue with not showing OpenGLView
  docs/mac/platform/opentk.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-mac/tech

#3437 Update web-authenticator.md OpenUrl on iOS
  docs/essentials/web-authenticator.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-essentials/tech

#3431 Update connect-to-local-web-services.md
  docs/cross-platform/deploy-test/connect-to-local-web-services.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-crossplatform/tech

#3411 Added sample content of AndroidManifest.xml file
  docs/android/deploy-test/debuggable-attribute.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-android/tech
