Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2023-01, with the labels that each got.

#3513 Correct the description to desktop
  docs/mac/samples/index.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-mac/tech

#3509 Typo fix - update to Xamarin.Essentials: SMS article
  docs/essentials/sms.md
Labels: Change sent to author, ready-to-merge, xamarin/prod, xamarin-essentials/tech

#3508 Typo fix - update to Xamarin.Essentials: phone dialer article
  docs/essentials/phone-dialer.md
Labels: Change sent to author, ready-to-merge, xamarin/prod, xamarin-essentials/tech

#3506 Update external-storage.md
  docs/android/platform/files/external-storage.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-android/tech

#3505 Remove incorrect Java / C# comparison
  docs/android/get-started/java-developers.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-android/tech
