Repository MicrosoftDocs/xamarin-docs, pull requests merged in 2024-02, with the labels that each got.

#3582 Update rotate.md
  docs/xamarin-forms/user-interface/graphics/skiasharp/transforms/rotate.md
Labels: do-not-merge, Change sent to author, xamarin/svc, xamarin-skiasharp/subsvc

#3581 Update healthkit.md code example to not add a bug
  docs/ios/platform/healthkit.md
Labels: do-not-merge, Change sent to author, xamarin/svc, xamarin-ios/subsvc

#3536 Update android-sdk.md empty bullet point
  docs/android/get-started/installation/android-sdk.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-android/tech

#3399 Update manually-uploading-the-apk.md
  docs/android/deploy-test/publishing/publishing-to-google-play/manually-uploading-the-apk.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-android/tech, xamarin/svc, xamarin-android/subsvc

#3521 Add "Select the target device for debugging"
  docs/android/get-started/installation/set-up-device-for-development.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-android/tech

#3529 Update cocoapod.md
  docs/cross-platform/macios/binding/objective-sharpie/examples/cocoapod.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-crossplatform/tech, xamarin/svc, xamarin-crossplatform/subsvc

#3549 Update Swift binding walkthrough
  docs/ios/platform/binding-swift/walkthrough.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-ios/tech

#3569 Android AAR binding. LibraryProjectZip is replaced by AndroidLibrary
  docs/android/platform/binding-java-library/binding-an-aar-images/05-embedded-aar-vs-sml.png
  docs/android/platform/binding-java-library/binding-an-aar-images/05-embedded-aar-vs.png
  docs/android/platform/binding-java-library/binding-an-aar.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-android/tech

#3483 Additional samples of prohibited usage added
  docs/ios/internals/api-design/nsobject-generics.md
Labels: do-not-merge, Change sent to author, xamarin/prod, xamarin-ios/tech, xamarin/svc, xamarin-ios/subsvc
